@charset "UTF-8";
@font-face {
  font-family: "IRANYekanRegular";
  font-display: swap;
  src: url("/static/fonts/IRANYekanRegular.woff2") format("woff2"), url("/static/fonts/IRANYekanRegular.woff") format("woff");
}
@font-face {
  font-family: "IRANYekanBold";
  font-display: swap;
  src: url("/static/fonts/IRANYekanBold.woff2") format("woff2"), url("/static/fonts/IRANYekanBold.woff") format("woff");
}
@font-face {
  font-family: "IRANYekanBlack";
  font-display: swap;
  src: url("/static/fonts/IRANYekanBlack.woff2") format("woff2"), url("/static/fonts/IRANYekanBlack.woff") format("woff");
}
.wrapper-sm {
  max-width: 30rem;
  margin: 1.125rem auto;
}
@media (max-width: 70em) {
  .wrapper-sm {
    max-width: inherit;
  }
}
@media (max-width: 70em) {
  .wrapper-med {
    max-width: 45.75rem;
    margin: 1.125rem 1rem;
  }
}
@media (min-width: 40em) {
  .wrapper-med {
    max-width: 50rem;
    margin: 1.125rem auto;
  }
}
@media (min-width: 50em) {
  .wrapper-med {
    max-width: 67.5rem;
    margin: 1.125rem auto;
  }
}
.wrapper-l {
  max-width: 82.5rem;
  margin: 1.125rem auto;
}
.wrapper-p {
  max-width: 46rem;
  margin: 1.125rem auto;
}
@media (max-width: 70em) {
  .wrapper-p {
    max-width: 45.75rem;
    margin: 1.125rem 2rem;
  }
}

.space-sm {
  margin-top: 2rem;
}
@media (max-width: 70em) {
  .space-sm {
    margin-top: 1rem;
  }
}
.space-med {
  margin-top: 5rem;
}
@media (max-width: 70em) {
  .space-med {
    margin-top: 2.5rem;
  }
}
.space-l {
  margin-top: 8rem;
}
@media (max-width: 70em) {
  .space-l {
    margin-top: 4rem;
  }
}
.space-xl {
  margin-top: 12rem;
}
@media (max-width: 70em) {
  .space-xl {
    margin-top: 6rem;
  }
}

input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the ‘X’ from Chrome */
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

:root {
  --color: #f0f0f0;
  --placeholder: var(--color) !important;
  --brightness: brightness(.4);
  --background: #0e0202fa;
  color-scheme: light dark;
  /* both supported */
  color: var(--color) !important;
}

html {
  font-size: 100% !important;
  min-height: 100vh;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
  direction: rtl;
  background-attachment: fixed;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: overlay;
  scroll-behavior: smooth;
  scrollbar-color: #b52633 transparent;
  z-index: 0;
}
body::-webkit-scrollbar {
  width: 0.625rem;
}
@media (max-width: 70em) {
  body::-webkit-scrollbar {
    width: 0;
  }
}
body::-webkit-scrollbar-thumb {
  background: linear-gradient(#b52633, #791118);
  border-radius: 25px;
}

div::-webkit-scrollbar {
  width: 0.625rem;
}
@media (max-width: 70em) {
  div::-webkit-scrollbar {
    width: 0;
  }
}
div::-webkit-scrollbar-thumb {
  background: linear-gradient(#b52633, #791118);
  border-radius: 25px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a {
  direction: rtl;
  margin: 0;
  transition: color 150ms ease-out;
}

h1 {
  font-family: IRANYekanBlack, sans-serif, serif !important;
}

h2,
a,
button {
  font-size: 0.9rem !important;
  font-family: IRANYekanBold, sans-serif, serif !important;
  position: relative;
}
@media (max-width: 70em) {
  h2,
a,
button {
    font-size: 1rem !important;
    text-align: right;
  }
}

h3 {
  font-family: IRANYekanBlack, sans-serif, serif !important;
  font-size: 1rem !important;
}
@media (max-width: 70em) {
  h3 {
    font-size: 0.9rem !important;
  }
}

h4 {
  font-family: IRANYekanBold, sans-serif, serif !important;
  font-size: 0.9rem !important;
}

h5 {
  font-family: IRANYekanRegular, sans-serif, serif !important;
  font-size: 1rem !important;
}

input,
textarea {
  background: #ffeaeb;
  border-bottom: 1px solid #707070;
}

p,
input,
textarea {
  font-family: IRANYekanRegular, sans-serif, serif !important;
  text-align: right;
  color: var(--color) !important;
}
p::-moz-placeholder, input::-moz-placeholder, textarea::-moz-placeholder {
  color: var(--placeholder) !important;
}
p:-ms-input-placeholder, input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: var(--placeholder) !important;
}
p::placeholder,
input::placeholder,
textarea::placeholder {
  color: var(--placeholder) !important;
}

label {
  font-family: IRANYekanBold, sans-serif, serif !important;
}

dt {
  font-family: IRANYekanBold, sans-serif, serif !important;
}

dd {
  font-family: IRANYekanRegular, sans-serif, serif !important;
}

figcaption {
  font-family: IRANYekanRegular, sans-serif, serif !important;
  font-size: 0.7rem;
  color: darkGray;
  margin-top: 0.5rem;
  text-align: right;
}

span {
  font-family: IRANYekanRegular, sans-serif, serif;
}

select {
  text-align: left;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}
a:hover,
a:visited:hover,
a:hover:hover {
  cursor: pointer;
  color: rgba(255, 106, 106, 0.692);
}

ul {
  padding: 0;
}

li {
  list-style: none;
  font-size: 1.125rem !important;
}

hr {
  border: 1px solid rgba(128, 128, 128, 0.1803921569);
  width: 50%;
  margin-top: 1.125rem !important;
  margin-bottom: 1.125rem !important;
}

.focusBlur *:not(.noBlur) {
  filter: blur(3px);
}

.input {
  height: 2.125rem;
  width: 17rem;
  border: 0;
  border-radius: 20px;
  padding-right: 1rem;
  padding-left: 1rem;
  font-family: myHarmattan;
  font-size: 1.18rem !important;
  color: #161616;
  margin: 0;
  direction: rtl;
}

#quizBg {
  filter: blur(15px) var(--brightness);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}

.popUp-show {
  transform: translate(0, 0);
  visibility: visible !important;
  opacity: 1 !important;
  transition: all 0.5s ease-in-out !important;
}
.popUp-hide {
  transform: translate(0, -100%);
  visibility: hidden !important;
  opacity: 0.5 !important;
  transition: all 0.5s ease-in-out !important;
}

#notistack-snackbar {
  font-family: IRANYekanRegular, sans-serif, serif !important;
  font-size: 1rem !important;
}

.SnackbarContent-root {
  background-image: linear-gradient(-45deg, #771118, #ac272e);
  border-radius: 15px;
}

.slider {
  direction: ltr !important;
}
.slider > li {
  min-width: 100% !important;
}
.slider > li a > div {
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}

.MuiSkeleton-root {
  background-color: rgba(190, 190, 190, 0.1137254902) !important;
}

.MuiPaper-root {
  border-radius: 10px !important;
  padding: 0.5rem;
}
.MuiPaper-root::-webkit-scrollbar {
  width: 0;
}

.MuiDialog-container,
.MuiBackdrop-root :not(.MuiPopover-root) {
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

.MuiSelect-select,
.MuiFormLabel-root {
  color: gray !important;
  font-family: IRANYekanBold, sans-serif, serif !important;
  right: 15px !important;
  left: unset !important;
}

.MuiMenuItem-root,
.MuiTypography-root,
.MuiTooltip-tooltip,
.MuiAutocomplete-option {
  font-family: IRANYekanBold, sans-serif, serif !important;
  font-size: 0.8rem !important;
}

.MuiTooltip-tooltip {
  background: #ac272e !important;
}

.Mui-checked {
  color: #ac272e !important;
}
.Mui-checked > .MuiSwitch-thumb {
  border: 1px solid #690D11;
}

.MuiDrawer-paper {
  background: #161616 !important;
  border: 1px solid #ac272e !important;
  color: white !important;
}
@media (min-width: 69em) {
  .MuiDrawer-paper {
    width: 25rem !important;
  }
}
@media (max-width: 70em) {
  .MuiDrawer-paper {
    height: 50% !important;
  }
}
.MuiDrawer-paper hr {
  width: 100% !important;
}

.MuiSwitch-track {
  background: white !important;
}

.MuiSelect-select {
  border-bottom: 1px solid darkRed !important;
}

.MuiOutlinedInput-notchedOutline {
  text-align: right !important;
}

.lazy-load-image-background {
  width: 100%;
}

.fadeOut {
  visibility: hidden !important;
  opacity: 0 !important;
  transition: all 0.53s ease-in-out !important;
}
.fadeIn {
  visibility: visible !important;
  opacity: 1 !important;
  transition: all 0.53s ease-in-out !important;
}

.ltr {
  direction: ltr;
}

.rtl {
  direction: rtl;
}

#land {
  height: 100vh;
  overflow: overlay;
}

.bloodRiver {
  background: linear-gradient(45deg, rgb(162, 0, 0), rgb(170, 73, 73), rgb(75, 0, 0));
  background-size: 400% 400% !important;
  -webkit-animation: river 5s ease infinite alternate;
          animation: river 5s ease infinite alternate;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
@-webkit-keyframes river {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes river {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bloodRiver_bg {
  background: linear-gradient(45deg, rgb(162, 0, 0), rgb(155, 50, 50), rgb(75, 0, 0));
  background-size: 400% 400% !important;
  -webkit-animation: river 5s ease infinite alternate;
          animation: river 5s ease infinite alternate;
}
@keyframes river {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.answerShow {
  visibility: visible !important;
  opacity: 1 !important;
  transition: all 0.53s ease-in-out !important;
  height: auto;
}
.answerHide {
  visibility: hidden !important;
  opacity: 0 !important;
  transition: all 0.53s ease-in-out !important;
  height: 0;
}

.noVis {
  visibility: hidden;
  display: none;
  height: 0;
  width: 0;
}

.center {
  left: 50%;
  position: relative;
  transform: translate(-50%);
}

.beforeAfterDecor {
  text-align: center;
}
.beforeAfterDecor::before {
  content: "";
  width: 3.18rem;
  height: 0.187rem;
  background: linear-gradient(270deg, darkRed, #c41f1f);
  margin-right: 1rem;
  display: inline-flex;
}
.beforeAfterDecor::after {
  content: "";
  width: 3.18rem;
  height: 0.187rem;
  background: linear-gradient(90deg, darkRed, #c41f1f);
  margin-left: 1rem;
  display: inline-flex;
}

.pageTravel {
  width: 19rem;
  padding: 0.2rem 0.7rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.638) !important;
  box-shadow: 0 15px 22px rgba(255, 255, 255, 0.027) !important;
}
.pageTravel button {
  border: none;
}
.pageTravel button:hover {
  cursor: pointer;
}
.pageTravel__pages > button,
.pageTravel__pages span {
  background: none;
  margin-right: 0.6rem;
  margin-left: 0.6rem;
}
.pageTravel__pages__curr {
  text-decoration: underline;
  -webkit-text-decoration-color: #ac272e;
          text-decoration-color: #ac272e;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
}
.pageTravel__arwLast {
  transform: rotate(-180deg);
}
.pageTravel__arwNext {
  transform: rotate(0);
}

.empty {
  position: relative;
  right: 25%;
  margin: 3rem 0;
}
.empty:before {
  content: "";
  position: absolute;
  background-image: url("/static/img/empty.png");
  width: 4rem;
  height: 4rem;
  top: -100%;
  right: -50%;
}

.title {
  text-align: center;
  font-family: IRANYekanBlack, sans-serif, serif !important;
  font-weight: 300;
  font-size: 2rem !important;
}

.lowTitle {
  font-size: 2.2rem !important;
  opacity: 0.15;
  font-family: IRANYekanBlack, sans-serif, serif !important;
  font-weight: 300;
  width: 100%;
  justify-content: center;
  display: flex;
  margin-bottom: -2rem;
}
@media (max-width: 70em) {
  .lowTitle {
    font-size: 2rem !important;
  }
}

.textShadow {
  text-shadow: 2px 1px 4px black;
}

.skeletonQuiz {
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background: linear-gradient(to right, rgba(190, 190, 190, 0.2) 25%, rgba(129, 129, 129, 0.24) 37%, rgba(190, 190, 190, 0.2) 63%);
  background-size: 400% 100% !important;
  -webkit-animation: loadingFrame 1s cubic-bezier(0.33, 0.38, 1, 1) infinite;
          animation: loadingFrame 1s cubic-bezier(0.33, 0.38, 1, 1) infinite;
}
.skeletonQuiz__quizTitle {
  width: 14rem;
  height: 1.5rem !important;
}
.skeletonQuiz__quizInfo {
  width: 8rem;
  height: 1.5rem !important;
}

/* .paintBrush {
    position: relative;
    z-index: 1;    &::before {
        background: url('/static/img/redBrush.png') no-repeat center center;
        content: '';
        display: block;
        width: 10rem;
        height: 1.5rem;
        transform: translate(2rem, 2.5rem);
        z-index: -1;
        position: relative;
        filter: blur(1px);
    }
} */
@-webkit-keyframes loadingFrame {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@keyframes loadingFrame {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.slideMenu-hide {
  right: -100vw !important;
}

.header a:hover {
  color: #d56268;
}
.header__logo span {
  font-family: IRANYekanBlack, sans-serif, serif;
}
.header__menu {
  transition: all 0.3s ease-in-out;
}
.header__menu::before {
  content: "";
  display: block;
  background: var(--background);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
}
.header .subHeader {
  box-shadow: inset 0 0 10px #e98080, 0 0 10px black;
  transition: all 0.3s ease;
  line-height: 2rem;
}
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .header__categories .header__quizzes {
    background: rgba(255, 255, 255, 0.18) !important;
    box-shadow: 2px 2px 15px black !important;
  }
}
@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .header__categories .header__quizzes {
    background: rgba(0, 0, 0, 0.939) !important;
    box-shadow: 0 0 15px 1px rgba(104, 104, 104, 0.192) !important;
  }
}
@media (max-width: 70em) {
  .header span {
    background-color: var(--color) !important;
  }
}
.header__search__result {
  box-shadow: 0 0 30px #7b1a1a !important;
  background: rgba(0, 0, 0, 0.8235294118) !important;
}
.header__search__result__category__item a > img {
  box-shadow: 0 0 15px 5px black !important;
}
.header__search__result__quizzes__item::before {
  content: "◽" !important;
}
.header__search .header__searchInput::-moz-placeholder {
  color: white;
}
.header__search .header__searchInput:-ms-input-placeholder {
  color: white;
}
.header__search .header__searchInput::placeholder {
  color: white;
}

.header__search__opener__bg {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 3;
  background: rgba(0, 0, 0, 0.75);
}

.footer {
  background-image: linear-gradient(180deg, #6a0d11, #ac272e);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.footer a:hover {
  color: white !important;
}
.footer li {
  padding-bottom: 0.5rem;
  font-weight: 300;
  font-size: 1.125rem;
  min-width: 1.5rem;
}

.hero-inner {
  padding: 1.5rem;
  color: white;
  border-radius: 40px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.368627451), 0 0 15px rgba(63, 63, 63, 0.368627451) !important;
  -webkit-backdrop-filter: blur(15px) !important;
          backdrop-filter: blur(15px) !important;
  background: rgba(0, 0, 0, 0.54) !important;
  border: solid 1px transparent !important;
  background-clip: padding-box !important;
}
.hero-inner button {
  background-image: linear-gradient(-45deg, #6e6e6e, rgb(216, 216, 216)) !important;
  color: black !important;
}
.hero-inner button:hover {
  color: #af282f !important;
}

.lowBrightnessBackground::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5254901961);
  z-index: 0;
}

.at4-share-title {
  font-size: 0.8rem;
  color: white;
  margin-bottom: 0.3rem;
}

.questionNumberShadow {
  text-shadow: 0 0 4px black;
}

.quiz_question {
  font-family: IRANYekanBold, sans-serif, serif !important;
}
@media (min-width: 40em) {
  .quiz__question {
    background: none;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
    text-align: right;
    font-size: 1.85rem;
  }
}
.quiz__imgOption {
  width: 9.9rem;
  border-radius: 0.9rem;
}
.quiz__questionChanger {
  cursor: pointer;
  pointer-events: all;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.quiz__questionChanger__container {
  z-index: 2;
  direction: rtl;
}
.quiz__questionChanger__next {
  right: calc(50% - 19rem);
}
.quiz__questionChanger__last {
  transform: rotate(180deg);
  right: calc(50% + 15rem);
}
.quiz__hider {
  width: 23rem;
  overflow: hidden;
  bottom: 3.5rem;
  z-index: 1;
  transition: bottom 0.35s cubic-bezier(0, 0.79, 0.88, 0.56);
}
@media (min-width: 40em) {
  .quiz__hider {
    width: 29rem;
    bottom: auto;
    margin-bottom: 3rem;
  }
}
.quiz_options label:hover {
  transform: translate(3px, -3px);
  box-shadow: -3px 3px 0 darkRed;
  cursor: pointer;
}
.quiz_options__imgLabel {
  transition: all 0.1s ease-in-out;
}
.quiz_options__textLabel {
  transition: border 0.3s ease-in-out;
}
.quiz_options__textLabel:not(:last-child) {
  margin-bottom: 0.5rem;
}
.quiz_options__textLabel__active .quiz__options__textLabel::after {
  opacity: 1 !important;
}
.quiz__correctAnswer {
  border: 2px solid green !important;
  background: rgba(0, 25, 0, 0.4901960784) !important;
  opacity: 1 !important;
}
.quiz__wrongAnswer {
  border: 1px solid rgba(162, 0, 0, 0.5647058824) !important;
  background: rgba(31, 0, 0, 0.3215686275) !important;
  opacity: 1 !important;
}
.quiz__answerImGif {
  padding-bottom: 0;
}
.quiz__answerImGif img {
  width: 90%;
  height: 100%;
  border-radius: 15px;
  transform: translateY(0.6rem);
}
@media (max-width: 70em) {
  .quiz__answerImGif img {
    width: 100%;
  }
}

.countingResult {
  font-size: 1.125rem;
  font-family: myHarmattan;
  background: linear-gradient(-45deg, #6a0d11, #ac272e);
}
@media (max-width: 70em) {
  .countingResult {
    font-size: 0.825rem;
  }
}
.countingResult::after {
  position: absolute;
  top: 55%;
}

.slider {
  padding: 0;
  min-height: 500px;
  color: #fff;
}

.testContainer__minHeight {
  min-height: 40vh;
}
.testContainer__header {
  direction: rtl;
}

.result {
  font-family: myHarmattan;
  display: grid;
  grid-template-columns: 17rem 19rem 18rem;
}
.result__container {
  min-height: 40vh;
}
.result_score {
  font-size: 2.5rem !important;
}
.result__img {
  order: 2;
}
.result_detail {
  order: 3;
}
.result_detail > h5 {
  font-size: 1.5rem !important;
}
.result_detail__wrongTime {
  margin-right: 1rem;
}
.result__popUpQuizSuggester {
  /* position: relative; */
}

.tryAgain {
  font-size: 1rem;
  font-weight: 600;
  opacity: 0.4;
  background: none;
  transform: translate(-2rem);
}
.tryAgain:hover {
  border: solid 1px darkRed !important;
}

.resultPointy p {
  font-size: 1.2rem;
  text-align: justify;
}
.resultPointy__img {
  justify-content: center;
  padding: 1rem;
  margin: 2rem;
}
.resultPointy__img img {
  border-radius: 15px;
}

.biggerRate {
  direction: ltr;
}
.biggerRate > li {
  font-size: 2.3rem;
  margin-right: 0 !important;
  margin-left: 1rem;
}

.basicPage {
  margin-bottom: 30vh;
  width: 85%;
  text-align: center;
  box-shadow: 0 0 15px 0 #ac272e;
  padding: 3rem;
  border-radius: 15px;
  line-height: 2rem;
}
@media (max-width: 70em) {
  .basicPage {
    padding: 2rem;
  }
}
.basicPage h3 {
  font-family: IRANYekanBlack, sans-serif, serif;
  font-weight: 300;
}
.basicPage h4 {
  direction: rtl;
}
.basicPage h4::before {
  content: "_";
}

.pageNotFound {
  background: linear-gradient(#b52633, #46080c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
@media (min-width: 69em) {
  .pageNotFound {
    transform: translate(-50%, -53%);
  }
}

.sortMore {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
}
@media (max-width: 70em) {
  .sortMore {
    grid-template-columns: 1fr;
    margin: 0;
  }
}
.sortMore__container a::after {
  background: #121212 !important;
  box-shadow: inset 0 0 10px #1b1b1b, 0 6px 10px rgba(0, 0, 0, 0.5058823529) !important;
}
.sortMore__container a:hover {
  box-shadow: 0 0 10px #252424 !important;
}
.sortMore__container a:hover::after {
  box-shadow: inset 0 0 10px #000000, 0 6px 10px rgba(0, 0, 0, 0.7333333333) !important;
}
.sortMore__container__views {
  background: #181818 !important;
}
.sortMore__inner {
  margin: 2rem;
}
@media (max-width: 70em) {
  .sortMore__inner {
    margin: auto;
    margin-bottom: 2rem;
  }
}
@media (max-width: 70em) {
  .sortMore div:first-child {
    order: 1;
  }
}
.sortMore__categoryStyle {
  display: inherit !important;
}

.tools_btn {
  box-shadow: inset 0 0 5px #4a0b0b, 0 0 5px #323232;
}

.blog {
  margin-top: 3rem;
  margin-bottom: 8rem;
}
@media (max-width: 85em) {
  .blog {
    margin-right: 3rem;
    margin-left: 3rem;
  }
}
.blog li {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.blog-container {
  display: flex;
}
@media (max-width: 70em) {
  .blog-container {
    display: block;
  }
}
.blog-thumbnail {
  margin-left: 1.25rem;
}
.blog-thumbnail img {
  border-radius: 10px;
}
.blog-title {
  font-family: "IRANYekanBlack";
  font-size: 1.4rem;
}
.blog-publish {
  font-size: 1rem;
  color: gray;
}
.blog-brief {
  line-height: 1.5rem;
  margin-top: 1rem;
  height: 4rem;
  width: 39rem;
  overflow: hidden;
}
@media (max-width: 70em) {
  .blog-brief {
    width: 20rem;
  }
}
.blog hr {
  opacity: 0.15;
}

.article p > img {
  width: 100% !important;
  height: auto !important;
}
.article h5 {
  font-weight: 300;
}
.article hr {
  opacity: 0.15;
}
.article-publish {
  color: #b5b5b5;
  font-size: 1rem;
}

.adverts {
  position: absolute;
  background-clip: inherit;
  border-radius: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.adverts_center {
  display: flex !important;
  justify-content: center;
  margin-bottom: 3rem;
}
.adverts__top {
  display: none;
  width: 100%;
  height: 10rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.125rem;
}
@media (max-width: 85em) {
  .adverts__top {
    display: flex;
  }
}
.adverts__overTop {
  width: 100%;
  margin-top: -4rem;
  top: 0;
}
.adverts__bottom {
  display: none;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 10rem;
  margin-bottom: 1.125rem;
}
@media (max-width: 85em) {
  .adverts__bottom {
    display: flex;
  }
}
.adverts__overBottom {
  position: fixed;
  width: 100%;
  height: 4rem;
  bottom: 0;
}
.adverts__left {
  width: 13rem;
  height: 35rem;
  left: 4.5rem;
}
@media (max-width: 85em) {
  .adverts__left {
    display: none;
  }
}
.adverts__right {
  width: 13rem;
  height: 35rem;
  right: 1.5rem;
}
@media (max-width: 85em) {
  .adverts__right {
    display: none;
  }
}
.adverts__bottomIndex {
  position: inherit;
  height: 4rem;
  padding: 7rem;
  margin: 1rem;
  color: black;
}
.adverts_between {
  min-width: 100%;
  transition: all 1.3s ease-in-out;
}/*# sourceMappingURL=style.css.map */