.basicPage {
    min-height: 44vh;
    width: 85%;
    text-align: center;

    @include breakpoints-down(medium) {
        min-height: 60vh;
    }

    h4 {
        direction: rtl;

        &::before {
            content: '_';
        }
    }
}