.categories {
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex-wrap: wrap;
    gap: 0;

    &__item {
        width: 12rem;
        height: 18.75rem;
        margin-left: 0.96875rem;
        margin-right: 0.96875rem;
        margin-bottom:  1.93757rem;

        @include breakpoints-down(medium) {
            max-width: 8rem;
            height: 10.75rem;
        }

        & > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border: 2px solid lighten($gray, 10%);
            border-radius: 40px;
            transition: all .15s ease-in-out;
        }

        @include breakpoints-down(medium) {
            > h5 {
                font-size: $font-med
            }
        }

        &__detail {
            background: $darkRed;
            color: $white;
            text-align: center;
            padding-top: 5.9375rem;
            transform: translateY(-8.4rem);
            position: relative;
            z-index: -1;
            border-radius: 40px;

            &__show {
                transform: translateY(-2.5rem);
            }

        }
    }
}

.categoryList{
    text-align: right;
    line-height: 2.2rem;
    min-height: 60vh;
    padding: 1rem 2rem 1rem 2rem;
    transform: translateY(-2rem);

    @include breakpoints-down(medium) {
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 1.125rem;
    }

    > ul {

        > li {
            &::after {
                content: '◾';
                position: relative;
                top: 0.2rem;
            }
        }
    }
}

.tools {
    direction: rtl;
    margin-bottom: 2rem;

    @include breakpoints-down(medium) {
        margin: 0;
        margin-right: 2rem;
    }

    &__sort {
        margin-left: .7rem;

        &__options {
            margin-top: .5rem;

            button {
                padding: 0rem 0.4rem 0rem 0.4rem;
            }
        }
    }

    &__numberOfResult {
        &__btn {
            font-size: $font-sm;

        }
        &__options {
            margin-top: .5rem;

            button {
                padding: 0rem 0.2rem 0rem 0.2rem;
            }
        }
    }

    &__submit {
        background: rgba(0, 0, 0, 0.54) url('/static/img/arw-submit.svg') no-repeat center center;
        transform: rotate(-90deg);
        position: relative;
        bottom: 2rem;
        right: 0.6rem;
        display: flex;
        width: 2.15rem;
        height: 2.15rem;

        &:hover {
            cursor: pointer;
        }
    }
}

.pageTravel {
    padding: .2rem .7rem;
    margin-bottom: 2rem;

    &__pages {
        > a , span {
            &:not(:last-child) {
                margin-right: 1.125rem;
            }
        }

        &__curr {
            text-decoration: underline;
            text-decoration-color: $red;
            text-decoration-style: solid;
        }
    }

    &__arwLast {
        transform: rotate(-90deg);
        margin-right: 1.125rem;
    }

    &__arwNext {
        transform: rotate(90deg);
        margin-right: 1.125rem;
        margin-left: 1rem;
    }
}
