.input {
    border: 2px solid $darkRed;

}

.tools {
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
    justify-self: flex-end;
    margin-right: 1rem;

    &__submit {
        right: 14.7rem;
        top: -.2rem;
    }

    &__search {
        transform: translate(1.875rem);
        width: 17rem;
        margin-bottom: .5rem;

    }

    &__sortType {
        position: relative;
        transition: all .3s ease;
    
        > div {
            background: $red;
            font-size: $font-sm;
            color: $white;
            transform: translate(104%);
            padding: .11rem .5rem;
            border-radius: 20px;
        }
    
        &__current {
            min-width: 6.15rem;
            text-align: center;
        }
    
        &__options {
            position: absolute;
            left: -2rem;
            top: 2.3rem;
            box-shadow: 0 0 5px black;
            transition: all .3s ease;
            line-height: 1.5rem;
            z-index: 2;
        }
    }
}



.categories {
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex-wrap: wrap;
    gap: 0;

    &__item {
        width: 12rem;
        height: 18.75rem;
        margin-left: 0.96875rem;
        margin-right: 0.96875rem;
        margin-bottom:  1.93757rem;

        @include breakpoints-down(medium) {
            max-width: 8rem;
            height: 10.75rem;
        }

        & > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border: 2px solid lighten($gray, 10%);
            border-radius: 40px;
            transition: all .15s ease-in-out;
        }

        @include breakpoints-down(medium) {
            > h5 {
                font-size: $font-med
            }
        }

        &__detail {
            background: $darkRed;
            color: $white;
            text-align: center;
            padding-top: 5.9375rem;
            transform: translateY(-8.4rem);
            position: relative;
            z-index: -1;
            border-radius: 40px;

            &__show {
                transform: translateY(-2.5rem);
            }

        }
    }
}

.pageTravel {
    padding: .2rem .7rem;
    margin-bottom: 1rem;


    &__pages {
        // padding: 0 1.125rem;

        > a , span {
            &:not(:last-child) {
                margin-right: 1.125rem;
            }
        }

        &__curr {
            color: $red;
        }
    }

    &__arwLast {
        transform: rotate(180deg);
        margin-right: 1.125rem;
    }
}

.categoryList{
    text-align: right;
    line-height: 2.2rem;
    min-height: 60vh;

    @include breakpoints-down(medium) {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    > ul {

        > li {
            &::after {
                content: '◾';
                position: relative;
                top: 0.2rem;
            }
        }
    }
}