.categories {
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex-wrap: wrap;
    gap: 0;

    &__item {
        width: 12rem;
        height: 18.75rem;
        margin-left: 0.96875rem;
        margin-right: 0.96875rem;
        margin-bottom:  1.93757rem;

        @include breakpoints-down(medium) {
            max-width: 8rem;
            height: 10.75rem;
        }

        & > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border: 2px solid lighten($gray, 10%);
            border-radius: 40px;
            transition: all .15s ease-in-out;
        }

        @include breakpoints-down(medium) {
            > h5 {
                font-size: $font-med
            }
        }

        &__detail {
            background: $darkRed;
            color: $white;
            text-align: center;
            padding-top: 5.9375rem;
            transform: translateY(-8.4rem);
            position: relative;
            z-index: -1;
            border-radius: 40px;

            &__show {
                transform: translateY(-2.5rem);
            }

        }
    }
}

.categoryList{
    text-align: right;
    line-height: 2.2rem;
    min-height: 60vh;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    padding: 1rem 2rem 1rem 2rem;
    color: white;
    box-shadow: 0 0 20px #000000c9;;
    transform: translateY(-2rem);
    
    @include breakpoints-down(medium) {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    > ul {

        > li {
            &::after {
                content: '◾';
                position: relative;
                top: 0.2rem;
            }
        }
    }
}

.tools {
    direction: rtl;
    color: black;
    margin-bottom: 2rem;

    &__sort {
        margin-left: .7rem;

        &__btn {
            padding: .4rem;
            border: transparent;
            border-radius: 7px;
            color: white;
            box-shadow: 0 0 10px black, 0 0 15px rgb(63, 63, 63);
            backdrop-filter: blur(40px);
            background: rgba(0, 0, 0, 0.54);

            & > span {
                padding-right: .7rem;
            }
        }

        &__options {
            margin-top: .5rem;
            
            & > button {
                color: white;
                box-shadow: 0 0 10px black, 0 0 15px rgb(63, 63, 63);
                backdrop-filter: blur(40px);
                background: rgba(0, 0, 0, 0.54);
            }
        }
    }

    &__numberOfResult {
        &__btn {
            padding: .4rem;
            border: transparent;
            border-radius: 7px;
            font-size: $font-sm;
            color: white;
            box-shadow: 0 0 10px black, 0 0 15px rgb(63, 63, 63);
            backdrop-filter: blur(40px);
            background: rgba(0, 0, 0, 0.54);

            & > span {
                padding-right: .7rem;
            }
        }
        &__options {
            margin-top: .5rem;

            & > button {
                color: white;
                box-shadow: 0 0 10px black, 0 0 15px rgb(63, 63, 63);
                backdrop-filter: blur(40px);
                background: rgba(0, 0, 0, 0.54);
            }
        }
    }

    &__submit {
        position: relative;
        bottom: 1.5rem;
        right: .5rem;
        
        &:hover {
            cursor: pointer;
        }
    }
}

.pageTravel {
    padding: .2rem .7rem;
    margin-bottom: 2rem;


    &__pages {
        > a , span {
            &:not(:last-child) {
                margin-right: 1.125rem;
            }
        }

        &__curr {
            color: $red;
        }
    }

    &__arwLast {
        transform: rotate(-90deg);
        margin-right: 1.125rem;
    }

    &__arwNext {
        transform: rotate(90deg);
        margin-right: 1.125rem;
        margin-left: 1rem;
    }
}
