.contact {
    &__socialMedia {
        > li {
            color: $red;
            font-weight: 600;

            &:not(:last-child) {
                padding-right: 1.125rem;
            }
        }
    }
}