.bg {
    z-index: -1;
    background-image: url("/static/img/base/hero-bg.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    height: 43.75rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: black 0 5px 50px;
}

.hero{
    a:hover {
        color: inherit;
    }

    h1 {
        margin-bottom: 0; 
    }
    p {
        line-height: 2.5rem;
        margin-top: 0;

        @include breakpoints-down(medium) {
            margin-right: 1rem;
            margin-left: 1rem;
        }
    }

    &-inner {
        padding: 1.5rem;
        margin: 8rem 0;
    }
}

.category {
    flex-wrap: wrap;

    &__title {
        padding-top: 12rem;
    }
    
    img {
        width: 14.6875rem;
        height: 14.6875rem;
        border-radius: 20px;
        box-shadow: 0 0 10px black;
        margin: 1.4375rem;
        margin-bottom: 0;
        transition: all .3s ease-in-out;

        &:hover {
            box-shadow: transparentize($darkRed, .5) 0 0 20px;
            transform: translateY(-.625rem);
        }
    }

    p {
        margin-top: 0;
    }
}

@include breakpoints-down(medium) {
    .category {
        img {
            width: 11rem;
            height: 11rem;
            margin: 1rem;
            margin-bottom: 0;
        }
    }
}

.indexQuiz {
    &__category {

        &__header {
            width: 100%;
            justify-content: space-between;

            a {
                padding: 0.3rem 1rem;
                background: #ececec;
                box-shadow: 0 0 5px #00000047;
            }
        }

        &__inner {

            a {
                width: 20%;
                height: 8rem;
                background-position: center center !important;
                background-size: cover !important;
                background-color: white;
                box-shadow: 0 0 10px #000000bd;
                position: relative;
                border-radius: 10px 10px 0 0;
                border: 0.5px solid #6f6f6f;
                transition: all .2s ease-in-out;

                &::after {
                    content: '';
                    height: 5rem;
                    background: white;
                    box-shadow: 0 6px 7px #0000001a;
                    width: 100%;
                    position: absolute;
                    left: 0;
                    bottom: -5rem;
                    border-radius: 0 0 10px 10px;
                    transition: all .2s ease-in-out;
                }

                &:not(:last-child) {
                    margin-right: 1.125rem;
                }

                &:hover {
                    box-shadow: 0 0 13px #000000;

                    &::after {
                        box-shadow: 0 6px 7px #0000002a;
                    }
                }
            }

            &__views {
                position: absolute;
                left: 0.2rem;
                bottom: 2px;
                background: #eaeaea;
                padding: 0 0.5rem;
                font-size: 0.9rem;
                z-index: 2;
                border-radius: 4px;
                border: .5px solid #0000002e;

                &::before {
                    content: url('/static/img/base/eyeEmoji.png');
                    position: relative;
                    top: 0.2rem;
                    margin-right: 0.2rem;
                }
            }
            
            &__title {
                position: absolute;
                top: 8.2rem;
                right: 1rem;
                z-index: 2;
                text-align: right;
                font-size: $font-sm;
            }
        }
    }
}

.sort {
    height: 36rem;
    position: relative;

    @include breakpoints-down(medium) {
        height: 62rem;
    }
    
    h2 {
        font-size: $font-sm;
        &::before, &::after {
            content: '____';
            position: relative;
            bottom: .5rem;
            display: inline-block;
            color: $darkRed;
            font-family: Courier, monospace;
        }

        &::before {
            padding-right: .6rem;
        }

        &::after {
            padding-left: .6rem;
        }
    }

    & > div { // the categories
        display: flex;
        justify-content: center;
        height: 35rem;
        position: absolute;
        top: 0;

        @include breakpoints-down(medium) {
            display: block;
        }
    }

    &__controller {
        direction: rtl;
        position: relative;
        top: 7rem;
        transform: translate(-1rem);

        @include breakpoints-down(medium) {
            top: 3rem;
        }
        
        
        ul {
            @include breakpoints-down(medium) {
                display: grid;
                grid-template-columns: auto auto auto;
                grid-gap: 1rem;
            }
        }
        
        &__btn {
            box-shadow: inset 0 0 10px #a2a2a2;

            &:not(:last-child) {
                margin-left: 1.125rem;

                @include breakpoints-down(medium) {
                    margin: 0;
                }
            }

        }

        &__selected {
            background: linear-gradient(-45deg, #4D1420, #9D272D);
            color: white;
            box-shadow: 0 0 7px black;
        }

        > h5 {
            position: absolute;
            bottom: -1.8rem;
            font-size: $font-sm - .3;
            opacity: 0.5;
        }
    }


    &__style {
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 0;
        line-height: 2rem;

        li {
            &:nth-child(even) {
                color: rgb(95, 95, 95);
            }
        }
    }

    &__right {
        order: 1;
        min-width: 25rem;
        border-radius: 40px;
        border: solid 2px transparent;
        backdrop-filter: blur(2px);
        background-clip: padding-box;
        box-shadow: 2px 5px 40px rgba(0, 0, 0, 0.233);
        padding: 2rem;
        margin: 1rem 2rem 0 0;

        @include breakpoints-down(medium) {
            min-width: inherit;
            margin: auto;
        }
    }

    &__left {
        display: block;

        > div {
            border-radius: 40px;
            border: solid 2px transparent;
            min-width: 25rem;
            backdrop-filter: blur(2px);
            background-clip: padding-box;
            box-shadow: 2px 5px 40px rgba(0, 0, 0, 0.233);
            padding: 2rem;
            margin: 1rem 2rem 0 0;

            @include breakpoints-down(medium) {
                min-width: inherit;
                margin: 1rem auto;
            }
        }

        &-1 {
            height: 46.5%;
        }

        &-2 {
            height: 46.5%;
        }
    }

    &__more {
        font-size: $font-sm;
        opacity: .7;
        position: absolute;
        bottom: 1rem;
        left: 2rem;

        &:hover {
            opacity: 1;
        }
    }
}