.bg {
    z-index: -1;
    background-image: url("/static/img/hero-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 43.75rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: black 0 5px 50px;
}

.hero{

    &-inner {
        padding: 1.5rem;
        text-align: center;
        // color: $white;
        margin: 8rem 0;

        > button {
            margin-left: 50%;
            transform: translate(-50%)
        }
    }

    & h1 {
        margin-bottom: 0; 
    }
    & p {
        line-height: 2.5rem;
        margin-top: 0; 
    }
}

.category {
    flex-wrap: wrap;

    &__title {
        padding-top: 12rem;
    }
    
    img {
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.5) 0 0 35px;
        margin: 1.4375rem;
        margin-bottom: 0;
        transition: all .3s ease-in-out;

        &:hover {
            box-shadow: transparentize($darkRed, .5) 0 0 55px;
            transform: translateY(-.625rem);
        }
    }

    p {
        margin-top: 0;
    }
}

@include breakpoints-down(medium) {
    .category {
        img {
            width: 9rem;
        }
    }
}

.sort {
    max-width: 62.5rem;
    height: 55rem;

    &__celebrities {

    }

    &__movieAndSeries {

    }

    &__gaming {

    }

    &__
    
    h2 {
        font-size: $font-sm;
        &::before, &::after {
            content: '____';
            position: relative;
            bottom: .5rem;
            display: inline-block;
            color: $darkRed;
            font-family: Courier, monospace;
        }

        &::before {
            padding-right: .6rem;
        }

        &::after {
            padding-left: .6rem;
        }
    }

    > div {
        display: flex;
        justify-content: center;
        height: 35rem;
        position: absolute;
        top: 0;
    }

    &__controller {
        display: flex;
        justify-content: center;
        position: relative;
        top: 7rem;

        > ul {
            > button {
                &:not(:last-child) {
                    margin-right: 1.125rem;
                }
            }
        }
        
        > h5 {
            position: absolute;
            bottom: -1.8rem;
            font-size: $font-sm - .3;
            opacity: 0.5;
            pointer-events: none;
        }
    }

    &__style {
        text-align: right;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    &__right {
        order: 1;
        min-width: 30rem;
        border-radius: 40px;
        border: solid 2px transparent;
        backdrop-filter: blur(2px);
        background-clip: padding-box;
        box-shadow: 2px 5px 40px rgba(0, 0, 0, 0.233);
        padding: 2rem;
        margin: 1rem 2rem 0 0;
    }

    &__left {
        display: block;

        > div {
            border-radius: 40px;
            border: solid 2px transparent;
            min-width: 30rem;
            backdrop-filter: blur(2px);
            background-clip: padding-box;
            box-shadow: 2px 5px 40px rgba(0, 0, 0, 0.233);
            padding: 2rem;
            margin: 1rem 2rem 0 0;
        }

        &-1 {
            height: 46.5%;
        }

        &-2 {
            height: 46.5%;
        }
    }

    &__more {
        font-size: $font-sm;
        opacity: .7;
        position: absolute;
        bottom: 1rem;
        left: 2rem;

        &:hover {
            opacity: 1;
        }
    }
}

@include breakpoints-down(medium) {
    .sort {
        max-width: 38.75rem;
        margin: auto 2rem ;
    }
}