.moreSearchResult {
    text-align: center;
    min-height: 100vh;

    &__quizzes {
        &__item {
            &::after {
                content: '◾';
                position: relative;
                top: 0.2rem;
            }
        }
    }
}