.notFound {
    min-height: 30vh;
    text-align: center;

    h1 {
        margin-top: 10rem;
        padding-bottom: 2rem;
    }

    div{
        padding-bottom: 2rem;

        > p {
            font-size: 1rem !important;
        }

        > a {
            font-size: 1rem !important;
        }
    }
}