.result {
    font-family: $font-sec;
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;

    @include breakpoints-down(medium){
        display: box;
    }


    &__title > h3 {
        font-size: $font-sm;
        font-weight: 300;
        margin-bottom: 0;
    }

    &__subtitle {
        font-size: $font-xl;
    }

    &__clipboard {
        position: absolute;
        top:-100vh;
        left: -100vw;
    }

    &__share {
        h5 {
            margin-bottom: 1rem;
            text-shadow: 0 0 5px white;
        }

        &__btn {
            font-size: $font-sm - .2rem;
            font-weight: 600;
        }

        &__message {
            color: green;
            font-family: $font-pr;
            margin: 0;
            margin-top: 1.25rem;
            text-shadow: 0 0 5px white;
        }
    }

    &__score {
        font-size: $font-xl;
        font-weight: 600;

        @include breakpoints-down(medium){
            box-ordinal-group: 1;
        }
    }

    &__detail {
        text-align: right;
        > h5 {
            margin-bottom: .7rem;
            margin-top: 0;
        }

        &__wrongTime {
            margin-right: 1rem;
        }

        @include breakpoints-down(medium){
            box-ordinal-group: 2;
        }
    }
}

.resultQuiz4Option {
    div {
        width: 35rem;
    }

    &__bg {
        background-size: cover;
        background-repeat: no-repeat;
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-25.7%, -26%);
        z-index: -1;
    }

    &__header {
        margin-top: 0;
        text-shadow: 0 0 5px white;
    }
}