.result {
    font-family: $font-sec;
    padding-left: 2rem;
    padding-right: 2rem;

    @include breakpoints-down(medium){
        display: block;
        margin-left: 50%;
        transform: translate(-50%);
        width: 20rem;
    }

    &__container {
        min-height: 44vh;
    }


    &__title > h3 {
        font-size: $font-sm;
        font-weight: 300;
    }

    &__subtitle {
        font-size: $font-l;
    }

    &__clipboard {
        position: absolute;
        top:-100vh;
        left: -100vw;
    }

    &__share {
        h5 {
            margin-bottom: 1rem;
        }

        &__btn {
            font-size: $font-sm - .2rem;
            font-weight: 300;
            background: linear-gradient(-45deg, #4D1420, #9D272D) !important;
            color: white !important;
        }

        &__message {
            color: green;
            font-family: $font-pr;
            margin: 0;
            margin-top: 1.25rem;
        }
    }

    &__score {
        font-size: $font-xl;
        font-weight: 600;
        order: 2;

        @include breakpoints-down(medium){
            text-align: center;
            margin-top: 3rem;
            margin-bottom: 1.125rem;
        }
    }

    &__detail {
        order: 3;
        
        @include breakpoints-down(medium) {
            text-align: center;
            margin-bottom: 4rem;
        }

        > h5 {
            margin-bottom: .7rem;
            margin-top: 0;
        }

        &__wrongTime {
            margin-right: 1rem;
        }
    }
}

.resultQuiz4Option {
    div {
        width: 35rem;

        @include breakpoints-down(medium) {
            width: 23rem;
        }
    }

    &__bg {
        background-size: cover;
        background-repeat: no-repeat;
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-25.7%, -26%);
        z-index: -1;
    }

    &__container {
        min-height: 58vh;
    }

    &__title {
        margin-top: 0;
        text-shadow: 0 0 5px white;
    }

    &__txt {
        padding: 0 1rem;
        direction: rtl;
    }
}