.searchResult {
    display: grid;
    grid-template-columns: auto auto;
    direction: rtl;

    @include breakpoints-down(medium) {
        grid-template-columns: auto;
    }

    &__category {
        flex-wrap: wrap;
        justify-content: center;

        > h4 {
            width: 100%;
            margin: 0 0 2rem 0;

            @include breakpoints-down(medium) {
                text-align: center;
                margin-bottom: 1.125rem;
            }
        }
    
        &__item {
            width: 12.5rem;
            height: 16.2135rem;
            margin-left: 0.96875rem;
            margin-right: 0.96875rem;
            margin-bottom:  1.93757rem;
    
            @include breakpoints-down(medium) {
                width: 10rem;
                height: 14.75rem;
            }

            &__notFound {
                margin: 0 !important;
            }
    
            & a > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border: 3px solid $gray;
                border-radius: 40px;
                filter: brightness(40%);
            }
    
            & > h5 {
                text-align: center;
                transform: translateY(-210px);
                color: $white;
                font-size: $font-l;
            }
        }
    }

    &__quizzes {
        text-align: center;

        @include breakpoints-down(medium) {
            h3 {
                text-align: center;
            }
        }
        
        &__item {
            text-align: right;
            display: block;
            margin-bottom: 1rem;
            transform: translate(-25%);

            @include breakpoints-down(medium) {
                transform: translate(-15%)
            }

            &::before {
                content: '◾';
                position: relative;
                top: 0.2rem;
            }
        }
    }
}