.newest-mostViews {
    text-align: center;
    min-height: 60vh;
    
    &__item {
        justify-content: flex-end;
        margin: auto;
        max-width: 30%;
        display: flex;
        padding-top: 1.125rem;

        @include breakpoints-down(medium) {
            max-width: 90%;
        }

        &::after {
            content: '◾';
            position: relative;
            top: 0.2rem;
        }
    }
}