.newest-mostViews {
    &__item {
        margin: auto;
        max-width: 22rem;
        padding-top: 1.125rem;

        @include breakpoints-down(medium) {
            max-width: 90%;
        }

        &::after {
            content: '◾';
            position: relative;
            top: 0.2rem;
        }
    }
}