<!DOCTYPE html>
<html lang="Fa">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/main.css">
    <title>Quiz Land</title>
</head>
<header>
    <div class="left-side">
        <div class="cur-route">
            <a href="">
                <img class="logo" src="/static/logo.png" alt="QuizLand">
            </a>
            <span class="cur-route"> جانی دپ - سلبریتی - کتگوری‌ها </span>
        </div>
    </div>
    <div class="space"></div>
    <div class="nav">
        <ul>
            <li class='category-btn'>کتگوری‌ها</li>
        </ul>
        <img class="arw" src="/static/arw.png">
        <div class="category" >
            <ul>
                <a href=""><li>فیلم و سریال</li></a>
                <a href=""><li>گیمینگ</li></a>
                <a href=""><li>سلبریتی</li></a>
                <a href=""><li>روانشناسی</li></a>
            </ul>
        </div>
        <div class="srch">
            <button type="submit"></button>
            <input type="search" name="srch" id="srch" placeholder="جستجو در این بخش">
        </div>
    </div>
</header>
<body>
    <div class="wrapper">
        <div class="hero">
            <h1>اینجا کویزلنده</h1>
            <p>😎 جایی که میتونی خودت رو به عنوان به فن واقعی خودترو به دوستات ثابت کنی <br/> پس اگر آماده‌ای میدان نبردت رو انتخاب کن و وارد شو</p>
            <button class='btn'>بزن بریم</button>
        </div>
    </div>
    
<script type='text/javascript' src="/main.js" charset="utf-8"></script>
</body>
</html>