<!DOCTYPE html>
<html lang="Fa">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/main.css">
    <script src="/main.js"></script>
    <title>Quiz Land</title>
</head>
<body>

    <h1>This is just the start</h1>
    <h2>This is just the start</h2>
    <h3>This is just the start</h3>
    <h4>This is just the start</h4>
    <h5>This is just the start</h5>

</body>
</html>