footer, .footer {
    color: $white;
    box-shadow: black 0 -5px 50px;
    
    background-image: $red-tb-grad;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 100%;
    position: absolute;
    bottom: 1; left: 0;
    margin-top: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    z-index: -1;

    & > div{
        padding-top: 1rem;
        display: inline-block;
        align-items: center;
        display: block;
    }
}