footer, .footer {
    color: $white;
    box-shadow: black 0 -5px 50px;
    
    background-image: $red-tb-grad;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 100%;
    position: absolute;
    bottom: 1; left: 0;
    margin-top: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;

    & > div{
        padding-top: 1rem;
        display: inline-block;
        align-items: center;
        display: block;
    }

    a {
        color: white;

        &:hover {
            color: white !important;
            opacity: .5;
        }
    }

    &__navbar {
        direction: rtl;
        > li {
            font-size: $font-sm;
            
            &:not(:last-child) {
                padding-left: 2rem;
            }
        }
    }

    &__detail {
        font-size: $font-sm - .1rem;
        margin-bottom: 0;

        > li {
            &:not(:last-child) {
                padding-left: 1rem;
            }

            > a {
                opacity: .8;
            }
        }
    }
}