// Font Family
$font-pr: Harmattan, arial, helvetica, sans-serif;

// Fort Size
$font-sm: 1.180rem;
$font-med: 1.375rem;
$font-l: 1.625rem;
$font-xl: 2.625rem;

// Colors
$red: #AF3036;
$darkRed: #690D11;
$darkBlue: #173047;
$white: #DDDDDD;

// Animations
@keyframes hanging {
    0% {
        bottom: 0;
    }

    100% {
        bottom: .225rem;
    }
}

