// Font Family
@font-face {
    font-family: "myHarmattan";
    src: url(/app/fonts/Harmattan-Regular.ttf)
}

$font-pr: Harmattan, myHarmattan, sans-serif, serif;



// Fort Size
$font-sm: 1.180rem;
$font-med: 1.375rem;
$font-l: 1.625rem;
$font-xl: 2.625rem;

// Colors
$red: #af282f;
$darkRed: #690D11;
$darkBlue: #173047;
$white: #f0f0f0;
$black: #161616;
$gray: #707070;

// Gradient Colors
$red-grad: linear-gradient(-45deg, #4D1420, #9D272D);
$red-bt-grad: linear-gradient(0, #4D1420, #9D272D);
$red-tb-grad: linear-gradient(180deg, #4D1420, #9D272D);
$redBlue-grad: linear-gradient(-45deg, #9D272D, #1d1041);


// Animations
@keyframes hanging {
    0% {
        bottom: 0;
    }

    100% {
        bottom: .225rem;
    }
}

