@import 'variables';
@import 'mixins';
@import 'globals';
@import 'header';
@import 'footer';
@import 'animations';

.bg {
    z-index: -1;
    background-image: url("\\images\\hero-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 43.75rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: black 0 5px 50px;
}

.hero{
    text-align: right;
    color: $white;
    margin: 8rem 4rem;
    & h1 {
        margin-bottom: 0; 
    }
    & p {
        line-height: 2.5rem;
        margin-top: 0; 
    }
    font: {
        // family: $main-font
    }
}

.scroll {
    margin: auto 50%;
    user-select: none;
}

.category {
    flex-wrap: wrap;

    img {
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.5) 0 0 35px;
        margin: 1.4375rem;
        margin-bottom: 0;
        bottom: 0;

        &:hover {
            transition: all .2s ease-in-out;
            box-shadow: transparentize($darkRed, .5) 0 0 55px;
            position: relative;
            bottom: .2rem
        }
    }

    p {
        margin-top: 0;
    }
}

.sort {
    padding-top: 4rem;

    & div {
        & > ul {
            padding: 0 3rem;
            margin: 0;

            & > a {
                display: flex;
                justify-content: flex-end;
                
                &:not(:last-child) {
                    padding-bottom: .5rem;
                }

                & > li {
                    display: inline-flex;

                    & > img {
                    border-radius: 50px;
                    width: 1.5rem;
                    height: 1.5rem; 
                    margin-left: .5rem;
                    }
                }
            }
        }
    }
}