@font-face {
  font-family: "myHarmattan";
  src: url(/app/fonts/Harmattan-Regular.ttf);
}

@font-face {
  font-family: "myChanga";
  src: url(/app/fonts/Changa-ExtraLight.ttf);
}

@font-face {
  font-family: "vermin-vibes-2-soft";
  src: url(/app/fonts/Vermin-Vibes-2-Soft.ttf);
}

@-webkit-keyframes hanging {
  0% {
    bottom: 0;
  }
  100% {
    bottom: .225rem;
  }
}

@keyframes hanging {
  0% {
    bottom: 0;
  }
  100% {
    bottom: .225rem;
  }
}

@font-face {
  font-family: "myHarmattan";
  src: url(/app/fonts/Harmattan-Regular.ttf);
}

@font-face {
  font-family: "myChanga";
  src: url(/app/fonts/Changa-ExtraLight.ttf);
}

@font-face {
  font-family: "vermin-vibes-2-soft";
  src: url(/app/fonts/Vermin-Vibes-2-Soft.ttf);
}

@keyframes hanging {
  0% {
    bottom: 0;
  }
  100% {
    bottom: .225rem;
  }
}

@-webkit-keyframes categoryMenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes categoryMenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes boxShadowDancing {
  0% {
    -webkit-box-shadow: 0 2px 30px #430404;
            box-shadow: 0 2px 30px #430404;
  }
  20% {
    -webkit-box-shadow: 2px 0px 30px #430404;
            box-shadow: 2px 0px 30px #430404;
  }
  40% {
    -webkit-box-shadow: 0 -2px 30px #430404;
            box-shadow: 0 -2px 30px #430404;
  }
  80% {
    -webkit-box-shadow: -2px 0 30px #430404;
            box-shadow: -2px 0 30px #430404;
  }
  100% {
    -webkit-box-shadow: 0 2px 30px #430404;
            box-shadow: 0 2px 30px #430404;
  }
}

@keyframes boxShadowDancing {
  0% {
    -webkit-box-shadow: 0 2px 30px #430404;
            box-shadow: 0 2px 30px #430404;
  }
  20% {
    -webkit-box-shadow: 2px 0px 30px #430404;
            box-shadow: 2px 0px 30px #430404;
  }
  40% {
    -webkit-box-shadow: 0 -2px 30px #430404;
            box-shadow: 0 -2px 30px #430404;
  }
  80% {
    -webkit-box-shadow: -2px 0 30px #430404;
            box-shadow: -2px 0 30px #430404;
  }
  100% {
    -webkit-box-shadow: 0 2px 30px #430404;
            box-shadow: 0 2px 30px #430404;
  }
}

input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.tx-al-r {
  text-align: right;
}

.tx-al-c {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: harmattan, myHarmattan, sans-serif, serif;
  font-size: 1.375rem;
  position: relative;
}

.body__background__taylor {
  background: url("/images/TRASH-taylor.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-backdrop-filter: blur(10px) brightness(70%);
          backdrop-filter: blur(10px) brightness(70%);
}

.wrapper {
  max-width: 62.5rem;
  margin: 0 auto;
}

.wrapper-med {
  max-width: 82.5rem;
  margin: 0 auto;
}

.space-sm {
  height: 2rem;
}

.space-med {
  height: 5rem;
}

.space-l {
  height: 8rem;
}

.divider {
  border-bottom: 2px solid rgba(128, 128, 128, 0.411);
  width: 100%;
  margin-top: 1rem;
}

h1 {
  font-size: 2rem;
  padding-bottom: 1.25rem;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 1.375rem;
  letter-spacing: .1rem;
  padding: 0 0 1rem 0;
  margin: 0;
}

p {
  font-size: 1.18rem;
  letter-spacing: .1rem;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: inherit;
}

a:hover, a:visited:hover, a:hover:hover {
  color: #af282f;
}

details > summary {
  outline: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

details[open] summary ~ * {
  -webkit-animation: categoryMenu .5s ease-in-out;
          animation: categoryMenu .5s ease-in-out;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

button, .btn {
  background: #f0f0f0;
  border: 0;
  border-radius: 5px;
  padding: 0 1rem;
  outline: none;
  font-family: harmattan, myHarmattan, sans-serif, serif;
  font-size: 1.18rem;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  cursor: pointer;
}

button__grad, .btn__grad {
  background-image: linear-gradient(-45deg, #4D1420, #9D272D);
  border: 0;
  border-radius: 33px;
  padding: .4rem 1.54375rem;
  color: #f0f0f0;
  -webkit-box-shadow: 0 3px 25px #430404;
          box-shadow: 0 3px 25px #430404;
}

button__grad-blue, .btn__grad-blue {
  background-image: linear-gradient(-45deg, #066106, #02af02);
  border: 0;
  border-radius: 33px;
  padding: .4rem 1.54375rem;
  color: #f0f0f0;
  -webkit-box-shadow: 0 0 7px black;
          box-shadow: 0 0 7px black;
}

button:hover, .btn:hover {
  -webkit-animation: boxShadowDancing 1s infinite;
          animation: boxShadowDancing 1s infinite;
}

input {
  outline: none;
}

.input {
  height: 2.125rem;
  width: 17rem;
  border: 0;
  border-radius: 20px;
  padding-right: 1rem;
  padding-left: 1rem;
  font-family: harmattan, myHarmattan, sans-serif, serif;
  font-size: 1.18rem;
  color: #161616;
  margin: 0;
}

.hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hover a::after, .hover li::after {
  content: '';
  border-bottom: 2px solid #f0f0f0;
  width: 0%;
  display: block;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.hover a:hover::after, .hover li:hover::after {
  width: 100%;
}

.fade {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  visibility: hidden;
  opacity: 0;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-fe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shadow {
  -webkit-transition: -webkit-box-shadow .2s ease-in-out;
  transition: -webkit-box-shadow .2s ease-in-out;
  transition: box-shadow .2s ease-in-out;
  transition: box-shadow .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
  outline: none;
  cursor: pointer;
  border-radius: 20px;
}

.shadow:hover {
  -webkit-box-shadow: 0 0 7px #323232;
          box-shadow: 0 0 7px #323232;
}

.ad {
  position: relative;
  opacity: 1;
}

.ad__r {
  position: -webkit-sticky;
  position: sticky;
  top: 15%;
  margin-left: calc(100% - (1.9275rem + 15.06rem));
}

.ad__r > div {
  position: absolute;
}

.ad__r > div > img {
  width: 15.06rem;
  height: 37.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 49.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 50em) {
  .hide-for-desktop {
    display: none;
  }
}

@media (max-width: 49.9375em) {
  .wrapper {
    max-width: 38.75rem;
    margin: auto auto;
  }
}

@media (max-width: 49.9375em) {
  .sort-for-mobile {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .sort-for-mobile div {
    width: 100vw;
  }
  .sort-for-mobile div > h2 {
    height: 3.125rem;
    background-image: linear-gradient(-45deg, #4D1420, #9D272D);
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-bottom: 1.4375rem;
  }
  .sort-for-mobile div > ul {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: .5rem;
    padding-bottom: 3rem;
  }
  .sort-for-mobile div > ul > a {
    margin-right: 50%;
    -webkit-transform: translate(30%);
            transform: translate(30%);
  }
}

@media (max-width: 49.9375em) {
  .footer-for-mobile .footer__background {
    height: 33rem;
  }
}

@font-face {
  font-family: "myHarmattan";
  src: url(/app/fonts/Harmattan-Regular.ttf);
}

@font-face {
  font-family: "myChanga";
  src: url(/app/fonts/Changa-ExtraLight.ttf);
}

@font-face {
  font-family: "vermin-vibes-2-soft";
  src: url(/app/fonts/Vermin-Vibes-2-Soft.ttf);
}

@keyframes hanging {
  0% {
    bottom: 0;
  }
  100% {
    bottom: .225rem;
  }
}

.header {
  font-size: 1.18rem;
  font-family: harmattan, myHarmattan, sans-serif, serif;
  margin-bottom: 2rem;
}

.header__logo {
  margin: 1rem;
}

.header__logo img {
  width: 100%;
}

.header__menu {
  margin: 2rem;
}

.header__menu > span {
  display: block;
  width: 1.625rem;
  height: 0.125rem;
  background-color: #f0f0f0;
}

.header__menu > span:not(:last-child) {
  margin-bottom: .25rem;
}

.header__menu__m {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(-45deg, #9D272D, #1d1041);
  height: 100vh;
  width: 100vw;
  font-size: 2rem;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.header__menu__m > ul {
  color: #f0f0f0;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -70%);
          transform: translate(-50%, -70%);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.header__menu__m > ul > li:not(:last-child) {
  padding-bottom: 2rem;
}

.header__menu__m > ul > details {
  padding-bottom: 1.5rem;
}

.header__menu__m > ul > details > ul {
  font-size: 1.925rem;
  padding-top: 2rem;
}

.header__menu__m > ul > details > ul > a > li {
  padding-bottom: 1.3rem;
}

.header__menu__m__close-btn {
  position: fixed;
  top: 3%;
  right: 5%;
  cursor: pointer;
}

.header__submit {
  position: relative;
  z-index: 2;
  left: 2rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.header__search {
  border: 2px solid #690D11;
  font-family: harmattan, myHarmattan, sans-serif, serif;
  font-size: 1.18rem;
  border-radius: 50px;
  height: 2.125rem;
  padding-right: 1.3125rem;
  width: 50%;
}

.header__links {
  padding: 1.25rem;
}

.header__links a {
  color: #f0f0f0;
  padding: .6250rem;
}

.header__links a:hover {
  color: #f0f0f0;
}

.header .arw {
  opacity: 0;
  position: absolute;
  top: 7rem;
  right: 6.5rem;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.header .arw__open {
  opacity: 1;
  top: 4.5rem;
}

.header__categories {
  color: #f0f0f0;
  position: absolute;
  right: 5rem;
  top: 7rem;
  background: #173047;
  border-radius: 20px;
  padding: 1.875rem 1.625rem;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  z-index: 999;
}

.header__categories a:not(:last-child) {
  margin-bottom: 1.25rem;
}

.header__categories__open {
  opacity: 1;
  top: 4.5rem;
  pointer-events: visibleFill;
}

.header__colorChange .header__menu > span {
  background-color: #690D11;
}

.header__colorChange .header__links a {
  color: #690D11;
}

.header__background {
  background: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(#4D1420), to(#9D272D));
  background: linear-gradient(0, #4D1420, #9D272D);
}

footer, .footer {
  color: #f0f0f0;
  -webkit-box-shadow: black 0 -5px 50px;
          box-shadow: black 0 -5px 50px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4D1420), to(#9D272D));
  background-image: linear-gradient(180deg, #4D1420, #9D272D);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  position: absolute;
  bottom: 1;
  left: 0;
  margin-top: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer > div, .footer > div {
  padding-top: 1rem;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
}

@keyframes categoryMenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes boxShadowDancing {
  0% {
    -webkit-box-shadow: 0 2px 30px #430404;
            box-shadow: 0 2px 30px #430404;
  }
  20% {
    -webkit-box-shadow: 2px 0px 30px #430404;
            box-shadow: 2px 0px 30px #430404;
  }
  40% {
    -webkit-box-shadow: 0 -2px 30px #430404;
            box-shadow: 0 -2px 30px #430404;
  }
  80% {
    -webkit-box-shadow: -2px 0 30px #430404;
            box-shadow: -2px 0 30px #430404;
  }
  100% {
    -webkit-box-shadow: 0 2px 30px #430404;
            box-shadow: 0 2px 30px #430404;
  }
}

@font-face {
  font-family: "myHarmattan";
  src: url(/app/fonts/Harmattan-Regular.ttf);
}

@font-face {
  font-family: "myChanga";
  src: url(/app/fonts/Changa-ExtraLight.ttf);
}

@font-face {
  font-family: "vermin-vibes-2-soft";
  src: url(/app/fonts/Vermin-Vibes-2-Soft.ttf);
}

@keyframes hanging {
  0% {
    bottom: 0;
  }
  100% {
    bottom: .225rem;
  }
}

@font-face {
  font-family: "myHarmattan";
  src: url(/app/fonts/Harmattan-Regular.ttf);
}

@font-face {
  font-family: "myChanga";
  src: url(/app/fonts/Changa-ExtraLight.ttf);
}

@font-face {
  font-family: "vermin-vibes-2-soft";
  src: url(/app/fonts/Vermin-Vibes-2-Soft.ttf);
}

@keyframes hanging {
  0% {
    bottom: 0;
  }
  100% {
    bottom: .225rem;
  }
}

.header {
  font-size: 1.18rem;
  font-family: harmattan, myHarmattan, sans-serif, serif;
  margin-bottom: 2rem;
}

.header__logo {
  margin: 1rem;
}

.header__logo img {
  width: 100%;
}

.header__menu {
  margin: 2rem;
}

.header__menu > span {
  display: block;
  width: 1.625rem;
  height: 0.125rem;
  background-color: #f0f0f0;
}

.header__menu > span:not(:last-child) {
  margin-bottom: .25rem;
}

.header__menu__m {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(-45deg, #9D272D, #1d1041);
  height: 100vh;
  width: 100vw;
  font-size: 2rem;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.header__menu__m > ul {
  color: #f0f0f0;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -70%);
          transform: translate(-50%, -70%);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.header__menu__m > ul > li:not(:last-child) {
  padding-bottom: 2rem;
}

.header__menu__m > ul > details {
  padding-bottom: 1.5rem;
}

.header__menu__m > ul > details > ul {
  font-size: 1.925rem;
  padding-top: 2rem;
}

.header__menu__m > ul > details > ul > a > li {
  padding-bottom: 1.3rem;
}

.header__menu__m__close-btn {
  position: fixed;
  top: 3%;
  right: 5%;
  cursor: pointer;
}

.header__submit {
  position: relative;
  z-index: 2;
  left: 2rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.header__search {
  border: 2px solid #690D11;
  font-family: harmattan, myHarmattan, sans-serif, serif;
  font-size: 1.18rem;
  border-radius: 50px;
  height: 2.125rem;
  padding-right: 1.3125rem;
  width: 50%;
}

.header__links {
  padding: 1.25rem;
}

.header__links a {
  color: #f0f0f0;
  padding: .6250rem;
}

.header__links a:hover {
  color: #f0f0f0;
}

.header .arw {
  opacity: 0;
  position: absolute;
  top: 7rem;
  right: 6.5rem;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.header .arw__open {
  opacity: 1;
  top: 4.5rem;
}

.header__categories {
  color: #f0f0f0;
  position: absolute;
  right: 5rem;
  top: 7rem;
  background: #173047;
  border-radius: 20px;
  padding: 1.875rem 1.625rem;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  z-index: 999;
}

.header__categories a:not(:last-child) {
  margin-bottom: 1.25rem;
}

.header__categories__open {
  opacity: 1;
  top: 4.5rem;
  pointer-events: visibleFill;
}

.header__colorChange .header__menu > span {
  background-color: #690D11;
}

.header__colorChange .header__links a {
  color: #690D11;
}

.header__background {
  background: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(#4D1420), to(#9D272D));
  background: linear-gradient(0, #4D1420, #9D272D);
}

@keyframes categoryMenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes boxShadowDancing {
  0% {
    -webkit-box-shadow: 0 2px 30px #430404;
            box-shadow: 0 2px 30px #430404;
  }
  20% {
    -webkit-box-shadow: 2px 0px 30px #430404;
            box-shadow: 2px 0px 30px #430404;
  }
  40% {
    -webkit-box-shadow: 0 -2px 30px #430404;
            box-shadow: 0 -2px 30px #430404;
  }
  80% {
    -webkit-box-shadow: -2px 0 30px #430404;
            box-shadow: -2px 0 30px #430404;
  }
  100% {
    -webkit-box-shadow: 0 2px 30px #430404;
            box-shadow: 0 2px 30px #430404;
  }
}

.input {
  border: 2px solid #690D11;
}

.tools {
  direction: rtl;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-self: flex-end;
  margin-right: 1rem;
}

.tools__submit {
  right: 14.7rem;
  top: -.2rem;
}

.tools__search {
  -webkit-transform: translate(1.875rem);
          transform: translate(1.875rem);
  width: 17rem;
  margin-bottom: .5rem;
}

.sortType > div {
  background: #af282f;
  font-size: 1.18rem;
  color: #f0f0f0;
  -webkit-transform: translate(110%);
          transform: translate(110%);
  padding: .11rem .5rem;
  border-radius: 20px;
}

.categories {
  padding-top: 2rem;
  padding-bottom: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.categories__item {
  width: 12.5rem;
  height: 18.75rem;
  margin-right: 1.9375rem;
  margin-bottom: 1.93757rem;
}

.categories__item > img {
  max-width: 12.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  height: 18.75rem;
  border: 2px solid #8a8a8a;
  border-radius: 40px;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

.categories__item__detail {
  background: #690D11;
  color: #f0f0f0;
  text-align: center;
  padding-top: 5.9375rem;
  -webkit-transform: translateY(-8.4rem);
          transform: translateY(-8.4rem);
  position: relative;
  z-index: -1;
  border-radius: 40px;
}

.categories__item__detail__show {
  -webkit-transform: translateY(-2.5rem);
          transform: translateY(-2.5rem);
}

.page-travel > div {
  padding: .2rem .7rem;
  border: 1px solid #690D11;
  border-radius: 20px;
  margin-bottom: 1rem;
  background: #f0f0f0;
}

.page-travel > div:not(:last-child) {
  margin-right: 1rem;
}

@font-face {
  font-family: "myHarmattan";
  src: url(/app/fonts/Harmattan-Regular.ttf);
}

@font-face {
  font-family: "myChanga";
  src: url(/app/fonts/Changa-ExtraLight.ttf);
}

@font-face {
  font-family: "vermin-vibes-2-soft";
  src: url(/app/fonts/Vermin-Vibes-2-Soft.ttf);
}

@keyframes hanging {
  0% {
    bottom: 0;
  }
  100% {
    bottom: .225rem;
  }
}

.quizzes {
  margin-top: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.quizzes__item {
  width: 12.5rem;
  height: 16.2135rem;
  margin-right: 1.9375rem;
  margin-bottom: 1.93757rem;
}

.quizzes__item a > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 3px solid #707070;
  border-radius: 40px;
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
}

.quizzes__item > h5 {
  text-align: center;
  -webkit-transform: translateY(-210px);
          transform: translateY(-210px);
  color: #f0f0f0;
  font-size: 1.625rem;
}

.quiz__head {
  font-family: myChanga, sans-serif, serif;
}

.quiz__head h1, .quiz__head h2, .quiz__head h3, .quiz__head h4, .quiz__head h5, .quiz__head p {
  margin: 0;
  line-height: 2rem;
}

.quiz__head h3 {
  font-size: 1.18rem;
  font-weight: 100;
}

.quiz__head h5 {
  font-size: 0.88rem;
  font-weight: 100;
}

.quiz__background {
  margin-top: 2rem;
  width: 100%;
}

.quiz__leftCounter {
  width: 0;
  height: .3rem;
  background: #af282f;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.quiz__questions__number {
  font-family: vermin-vibes-2-soft, myChanga, sans-serif;
  font-size: 2.325rem;
  font-weight: 100;
  margin-bottom: 0;
}

.quiz__questions__question {
  font-family: myChanga, sans-serif, serif;
  font-weight: 600;
  font-size: 1.18rem;
}

.quiz__questions__4option input {
  opacity: 0;
}

.quiz__questions__4option label {
  display: block;
  width: 35rem;
  border: 1px solid #707070;
  border-radius: 25px;
  padding: .8rem;
}

.quiz__questions__4option label:hover {
  -webkit-box-shadow: 0 0 5px #690D11;
          box-shadow: 0 0 5px #690D11;
}

.quiz__questions__4option [type="radio"]:checked + label {
  background: linear-gradient(-45deg, #4D1420, #9D272D);
  color: #f0f0f0;
  padding: .8rem;
}

.quiz__questions__lowHigh {
  margin-top: 2.5625rem;
}

.quiz__questions__lowHigh input {
  display: none;
}

.quiz__questions__lowHigh label {
  border: 1px solid #707070;
  border-radius: 100px;
  margin-right: .4325rem;
  margin-left: .4325rem;
}

.quiz__questions__lowHigh label:nth-child(3), .quiz__questions__lowHigh label:nth-child(19) {
  padding-right: 2.1875rem;
}

.quiz__questions__lowHigh label:nth-child(5), .quiz__questions__lowHigh label:nth-child(17) {
  padding-right: 2.4875rem;
  padding-top: .25rem;
}

.quiz__questions__lowHigh label:nth-child(7), .quiz__questions__lowHigh label:nth-child(15) {
  padding-right: 2.7875rem;
  padding-top: .5rem;
}

.quiz__questions__lowHigh label:nth-child(9), .quiz__questions__lowHigh label:nth-child(13) {
  padding-right: 3rem;
  padding-top: .75rem;
}

.quiz__questions__lowHigh label:nth-child(11) {
  padding-right: 3.3rem;
  padding-top: 1rem;
}

.quiz__questions__lowHigh :checked + label {
  background: #af282f;
}

@font-face {
  font-family: "myHarmattan";
  src: url(/app/fonts/Harmattan-Regular.ttf);
}

@font-face {
  font-family: "myChanga";
  src: url(/app/fonts/Changa-ExtraLight.ttf);
}

@font-face {
  font-family: "vermin-vibes-2-soft";
  src: url(/app/fonts/Vermin-Vibes-2-Soft.ttf);
}

@keyframes hanging {
  0% {
    bottom: 0;
  }
  100% {
    bottom: .225rem;
  }
}

.result {
  font-family: myChanga, sans-serif, serif;
  padding-left: 2rem;
  padding-right: 2rem;
}

.result__title > h3 {
  font-size: 1.18rem;
  font-weight: 300;
  margin-bottom: 0;
}

.result__subtitle {
  font-size: 2rem;
}

.result__subtitle::before {
  content: '';
  width: 5.18rem;
  height: 0.487rem;
  background: #363636;
  margin-right: 1rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 1rem;
}

.result__subtitle::after {
  content: '';
  width: 5.18rem;
  height: 0.487rem;
  background: #363636;
  margin-right: 1rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 1rem;
}

.result__share h5 {
  margin-bottom: 1rem;
}

.result__share > div {
  font-size: 0.98rem;
  font-weight: 600;
}

.result__share__button {
  background: black;
  color: white;
  width: 10rem;
  margin: auto;
  padding: .875rem 1rem .875rem 1rem;
  border-radius: 25px;
  margin-bottom: 1rem;
}

.result__score {
  font-size: 2rem;
  font-weight: 600;
}

.result__detail {
  text-align: right;
}

.result__detail > h5 {
  margin-bottom: .7rem;
  margin-top: 0;
}

.result__detail__wrongTime {
  margin-right: 1rem;
}

.bg {
  z-index: -1;
  background-image: url("\\images\\hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 43.75rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-shadow: black 0 5px 50px;
          box-shadow: black 0 5px 50px;
}

.hero {
  text-align: right;
  color: #f0f0f0;
  margin: 8rem 4rem;
}

.hero h1 {
  margin-bottom: 0;
}

.hero p {
  line-height: 2.5rem;
  margin-top: 0;
}

.hero__btn {
  margin-right: 50%;
  -webkit-transform: translate(50%);
          transform: translate(50%);
}

.category {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.category img {
  border-radius: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 35px;
          box-shadow: rgba(0, 0, 0, 0.5) 0 0 35px;
  margin: 1.4375rem;
  margin-bottom: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.category img:hover {
  -webkit-box-shadow: rgba(105, 13, 17, 0.5) 0 0 55px;
          box-shadow: rgba(105, 13, 17, 0.5) 0 0 55px;
  -webkit-transform: translateY(-0.625rem);
          transform: translateY(-0.625rem);
}

.category p {
  margin-top: 0;
}

.sort {
  padding-top: 4rem;
}

.sort div > ul {
  padding-left: 3rem;
  padding-right: 3rem;
  margin: 0;
}

.sort div > ul > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.sort div > ul > a:not(:last-child) {
  padding-bottom: .5rem;
}

.sort div > ul > a > li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.sort div > ul > a > li > img {
  border-radius: 50px;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: .5rem;
}
/*# sourceMappingURL=style.css.map */