@-webkit-keyframes hanging {
  0% {
    bottom: 0;
  }
  100% {
    bottom: .225rem;
  }
}

@keyframes hanging {
  0% {
    bottom: 0;
  }
  100% {
    bottom: .225rem;
  }
}

@keyframes hanging {
  0% {
    bottom: 0;
  }
  100% {
    bottom: .225rem;
  }
}

@-webkit-keyframes categoryMenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes categoryMenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.tx-al-r {
  text-align: right;
}

.tx-al-c {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: Harmattan, arial, helvetica, sans-serif;
  font-size: 1.375rem;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.space-sm {
  height: 2rem;
}

.space-med {
  height: 5rem;
}

.space-l {
  height: 8rem;
}

h1 {
  font-size: 2.625rem;
  padding-bottom: 1.25rem;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 1.375rem;
  letter-spacing: .1rem;
  padding: 0 0 1rem 0;
  margin: 0;
}

p {
  font-size: 1.18rem;
  letter-spacing: .1rem;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: inherit;
}

a:hover, a:visited:hover, a:hover:hover {
  color: #AF3036;
}

details > summary {
  outline: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

details[open] summary ~ * {
  -webkit-animation: categoryMenu .5s ease-in-out;
          animation: categoryMenu .5s ease-in-out;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

button, .btn {
  background: #DDDDDD;
  border: 0;
  border-radius: 5px;
  padding: 0 2rem;
  font-size: 1.125rem;
}

input {
  outline: none;
}

.hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hover a::after, .hover li::after {
  content: '';
  border-bottom: 2px solid #690D11;
  width: 0;
  display: block;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.hover a:hover::after, .hover li:hover::after {
  width: 100%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shadow {
  -webkit-transition: -webkit-box-shadow .2s ease-in-out;
  transition: -webkit-box-shadow .2s ease-in-out;
  transition: box-shadow .2s ease-in-out;
  transition: box-shadow .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
  outline: none;
  cursor: pointer;
  border-radius: 20px;
}

.shadow:hover {
  -webkit-box-shadow: 0 0 7px #323232;
          box-shadow: 0 0 7px #323232;
}

@media (max-width: 49.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 50em) {
  .hide-for-desktop {
    display: none;
  }
}

@keyframes hanging {
  0% {
    bottom: 0;
  }
  100% {
    bottom: .225rem;
  }
}

.header {
  font-size: 1.18rem;
  font-family: Harmattan, arial, helvetica, sans-serif;
  padding: 1.375rem;
}

.header__logo {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.header__logo img {
  width: 4.8125rem;
}

.header__menu > span {
  display: block;
  width: 1.625rem;
  height: 0.125rem;
  background-color: #DDDDDD;
}

.header__menu > span:not(:last-child) {
  margin-bottom: .25rem;
}

.header__menu__m {
  position: fixed;
  top: 0;
  left: 0;
  background: #04090d;
  height: 100vh;
  width: 100vw;
  font-size: 2.625rem;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.header__menu__m > ul {
  color: #DDDDDD;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -70%);
          transform: translate(-50%, -70%);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.header__menu__m > ul > li:not(:last-child) {
  padding-bottom: 2rem;
}

.header__menu__m > ul > details {
  padding-bottom: 1.5rem;
}

.header__menu__m > ul > details > ul {
  font-size: 1.925rem;
  padding-top: 2rem;
}

.header__menu__m > ul > details > ul > a > li {
  padding-bottom: 1.3rem;
}

.header__menu__m__close-btn {
  position: fixed;
  top: 3%;
  right: 5%;
}

.header__menu__close {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  visibility: hidden;
  opacity: 0;
}

.header__submit {
  width: 2.375rem;
  height: 2.375rem;
  background: -webkit-gradient(linear, left bottom, left top, from(#690D11), to(#250506));
  background: linear-gradient(0deg, #690D11, #250506);
  border-radius: 20px;
  position: relative;
  top: .35rem;
  left: 2.8rem;
}

.header__submit img {
  width: 1.75rem;
  margin-top: .1875rem;
}

.header__search {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 1;
          flex: 1 1 1;
  border: 2px solid #690D11;
  font-family: Harmattan, arial, helvetica, sans-serif;
  font-size: 1.18rem;
  border-radius: 50px;
  height: 3rem;
  padding: 1.25rem;
  width: 80%;
}

.header__links {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 1;
          flex: 1 1 1;
  padding: 1.25rem;
}

.header__links a {
  color: #DDDDDD;
  padding: .6250rem;
}

.header .arw {
  opacity: 0;
  position: absolute;
  top: 7rem;
  right: 5rem;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.header .arw__open {
  opacity: 1;
  top: 6rem;
}

.header__categories {
  color: #DDDDDD;
  position: absolute;
  right: 4rem;
  top: 7rem;
  background: #173047;
  border-radius: 20px;
  padding: 1.875rem 1.625rem;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.header__categories a:not(:last-child) {
  margin-bottom: 1.25rem;
}

.header__categories__open {
  opacity: 1;
  top: 6rem;
  pointer-events: visibleFill;
}

footer, .footer {
  color: #DDDDDD;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer__background, .footer__background {
  -webkit-box-shadow: black 0 -5px 50px;
          box-shadow: black 0 -5px 50px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(#690D11), to(#AF3036));
  background-image: linear-gradient(0, #690D11, #AF3036);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 24rem;
  width: 100%;
  position: absolute;
  bottom: 1;
  left: 0;
  padding-top: 3rem;
  z-index: -1;
}

footer > div, .footer > div {
  padding-top: 3rem;
  -webkit-columns: 2;
          columns: 2;
}

@keyframes categoryMenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bg {
  z-index: -1;
  background-image: url("\\images\\hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 43.75rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-shadow: black 0 5px 50px;
          box-shadow: black 0 5px 50px;
}

.hero {
  text-align: right;
  color: #DDDDDD;
  margin: 8rem 4rem;
}

.hero h1 {
  margin-bottom: 0;
}

.hero p {
  line-height: 2.5rem;
  margin-top: 0;
}

.scroll {
  margin: auto 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.category {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.category img {
  border-radius: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 35px;
          box-shadow: rgba(0, 0, 0, 0.5) 0 0 35px;
  margin: 1.4375rem;
  margin-bottom: 0;
  bottom: 0;
}

.category img:hover {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-box-shadow: rgba(105, 13, 17, 0.5) 0 0 55px;
          box-shadow: rgba(105, 13, 17, 0.5) 0 0 55px;
  position: relative;
  bottom: .2rem;
}

.category p {
  margin-top: 0;
}

.sort {
  padding-top: 4rem;
}

.sort div > ul {
  padding: 0 3rem;
  margin: 0;
}

.sort div > ul > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.sort div > ul > a:not(:last-child) {
  padding-bottom: .5rem;
}

.sort div > ul > a > li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.sort div > ul > a > li > img {
  border-radius: 50px;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: .5rem;
}
/*# sourceMappingURL=style.css.map */