{% extends './layout.html' %}
{% block content %}

<body>
    <div class="quiz__head tx-al-c">
        <h1>Taylor Swift</h1>
        <h3>کامل ترین کویز تیلور سویفت</h3>
        <h5>سوال: 15</h5>
    </div>

    <div class='quiz__background' style="background-image: url('/static/img/quizzes-background/ts.jpg')"></div>

    <!-- <div class="quiz__leftCounter"></div> -->

    <div class="ad__r">
        <div>
            <img src="/static/img/ad.jpg" alt="">
        </div>
    </div>

    <div class="quiz__questions tx-al-c">
        <div class="quiz__nextQuestion"><img src="/static/img/arw2.svg" alt=""></div>
        <div class="quiz__hider">
            <div class="quiz__container">
                <p class='quiz__question'>اولین آلبوم تیلر</p>
                <div class="flex flex-jc-c">
                    <form class='quiz__4option' action="">
                        <input type="radio" name="answer" id="ts1-q1-1"><label for="ts1-q1-1">Taylor Swift</label>
                        <input type="radio" name="answer" id="ts1-q1-2"><label for="ts1-q1-2">Fearless</label>
                        <input type="radio" name="answer" id="ts1-q1-3"><label for="ts1-q1-3">Speak Now</label>
                        <input type="radio" name="answer" id="ts1-q1-4"><label for="ts1-q1-4">1989</label>
                    </form>
                </div>
            </div>
            <div class="quiz__container">
                <p class='quiz__question'>اسم وسط تیلور</p>
                <div class="flex flex-jc-c">
                    <form class='quiz__4option' action="">
                        <input type="radio" name="answer" id="ts1-q2-1"><label for="ts1-q2-1">جنیفر</label>
                        <input type="radio" name="answer" id="ts1-q2-2"><label for="ts1-q2-2">الیسون</label>
                        <input type="radio" name="answer" id="ts1-q2-3"><label for="ts1-q2-3">هیدن</label>
                        <input type="radio" name="answer" id="ts1-q2-4"><label for="ts1-q2-4">نینس</label>
                    </form>
                </div>
            </div>
            <div class="quiz__container">
                <p class='quiz__question'>اولین خواننده‌ی معروف که با اولین البوم تیلور بود</p>
                <div class="flex flex-jc-c">
                    <form class='quiz__4option' action="">
                        <input type="radio" name="answer" id="ts1-q3-1"><label for="ts1-q3-1">دالی پارتون</label>
                        <input type="radio" name="answer" id="ts1-q3-2"><label for="ts1-q3-2">فیث هیل</label>
                        <input type="radio" name="answer" id="ts1-q3-3"><label for="ts1-q3-3">تیم مک‌گرو</label>
                        <input type="radio" name="answer" id="ts1-q3-4"><label for="ts1-q3-4">تانی اندرسون</label>
                    </form>
                </div>
            </div>
            <div class="quiz__container">
                <p class='quiz__question'>تیلور در چه نوع مذرعه‌ای زندگی میکرد</p>
                <div class="flex flex-jc-c">
                    <form class='quiz__4option' action="">
                        <input type="radio" name="answer" id="ts1-q4-1"><label for="ts1-q4-1">مزرعه گندم</label>
                        <input type="radio" name="answer" id="ts1-q4-2"><label for="ts1-q4-2">مزرعه درخت کریسمس</label>
                        <input type="radio" name="answer" id="ts1-q4-3"><label for="ts1-q4-3">مزرعه درخت سیب</label>
                        <input type="radio" name="answer" id="ts1-q4-4"><label for="ts1-q4-4">مزرعه حیوانات</label>
                    </form>
                </div>
            </div>
            <div class="quiz__container">
                <p class='quiz__question'>البوم دوم تیلور</p>
                <div class="flex flex-jc-c">
                    <form class='quiz__4option' action="">
                        <input type="radio" name="answer" id="ts1-q5-1"><label for="ts1-q5-1">I Am Not OK</label>
                        <input type="radio" name="answer" id="ts1-q5-2"><label for="ts1-q5-2">Speak Now</label>
                        <input type="radio" name="answer" id="ts1-q5-3"><label for="ts1-q5-3">Fearless</label>
                        <input type="radio" name="answer" id="ts1-q5-4"><label for="ts1-q5-4">1989</label>
                    </form>
                </div>
            </div>
            <div class="quiz__container">
                <p class='quiz__question'>چند تا از اهنگ های البوم فیرلس را تیلور به تنهایی نوشت</p>
                <div class="flex flex-jc-c">
                    <form class='quiz__4option' action="">
                        <input type="radio" name="answer" id="ts1-q6-1"><label for="ts1-q6-1">7</label>
                        <input type="radio" name="answer" id="ts1-q6-2"><label for="ts1-q6-2">4</label>
                        <input type="radio" name="answer" id="ts1-q6-3"><label for="ts1-q6-3">2</label>
                        <input type="radio" name="answer" id="ts1-q6-4"><label for="ts1-q6-4">10</label>
                    </form>
                </div>
            </div>
            <div class="quiz__container">
                <p class='quiz__question'>کدام فیلم تیلور دو موزیک متن برایش نوشت</p>
                <div class="flex flex-jc-c">
                    <form class='quiz__4option' action="">
                        <input type="radio" name="answer" id="ts1-q7-1"><label for="ts1-q7-1">High School Musical</label>
                        <input type="radio" name="answer" id="ts1-q7-2"><label for="ts1-q7-2">Camp Rock</label>
                        <input type="radio" name="answer" id="ts1-q7-3"><label for="ts1-q7-3">Hannah Montana: The Movie</label>
                        <input type="radio" name="answer" id="ts1-q7-4"><label for="ts1-q7-4">The Giver</label>
                    </form>
                </div>
            </div>
            <div class="quiz__container">
                <p class='quiz__question'>کدام دسته تیلور در حین مداخله توسط کانیه وست در صحبتش در ام تی وی برنده شد</p>
                <div class="flex flex-jc-c">
                    <form class='quiz__4option' action="">
                        <input type="radio" name="answer" id="ts1-q8-1"><label for="ts1-q8-1">پر بازدید ترین موزیک ویدیو</label>
                        <input type="radio" name="answer" id="ts1-q8-2"><label for="ts1-q8-2">بهترین موزیک ویدیو سال</label>
                        <input type="radio" name="answer" id="ts1-q8-3"><label for="ts1-q8-3">بهترین موزیک ویدیو زن</label>
                        <input type="radio" name="answer" id="ts1-q8-4"><label for="ts1-q8-4">بهترین موزیک ویدیو پاپ</label>
                    </form>
                </div>
            </div>
            <div class="quiz__container">
                <p class='quiz__question'>عدد شانس تیلور</p>
                <div class="flex flex-jc-c">
                    <form class='quiz__4option' action="">
                        <input type="radio" name="answer" id="ts1-q9-1"><label for="ts1-q9-1">7</label>
                        <input type="radio" name="answer" id="ts1-q9-2"><label for="ts1-q9-2">13</label>
                        <input type="radio" name="answer" id="ts1-q9-3"><label for="ts1-q9-3">2</label>
                        <input type="radio" name="answer" id="ts1-q9-4"><label for="ts1-q9-4">22</label>
                    </form>
                </div>
            </div>
            <div class="quiz__container">
                <p class='quiz__question'>تیلور نامزد جایزه بهترین هنرمند جدید در سال ۲۰۰۸ شد، چه کسی برنده جایزه شد</p>
                <div class="flex flex-jc-c">
                    <form class='quiz__4option' action="">
                        <input type="radio" name="answer" id="ts1-q10-1"><label for="ts1-q10-1">Taylor Swift</label>
                        <input type="radio" name="answer" id="ts1-q10-2"><label for="ts1-q10-2">Amy Winehouse</label>
                        <input type="radio" name="answer" id="ts1-q10-3"><label for="ts1-q10-3">Paramore</label>
                        <input type="radio" name="answer" id="ts1-q10-4"><label for="ts1-q10-4">Milye Ciyrce</label>
                    </form>
                </div>
            </div>
            <div class="quiz__container">
                <p class='quiz__question'>تیلور کجا به دنیا امد</p>
                <div class="flex flex-jc-c">
                    <form class='quiz__4option' action="">
                        <input type="radio" name="answer" id="ts1-q11-1"><label for="ts1-q11-1">Pennsylvania</label>
                        <input type="radio" name="answer" id="ts1-q11-2"><label for="ts1-q11-2">Tennessee</label>
                        <input type="radio" name="answer" id="ts1-q11-3"><label for="ts1-q11-3">Texas</label>
                        <input type="radio" name="answer" id="ts1-q11-4"><label for="ts1-q11-4">Florida</label>
                    </form>
                </div>
            </div>
            <div class="quiz__container">
                <p class='quiz__question'>تیلور در سال ۲۰۱۰ چند گرمی برد</p>
                <div class="flex flex-jc-c">
                    <form class='quiz__4option' action="">
                        <input type="radio" name="answer" id="ts1-q12-1"><label for="ts1-q12-1">2</label>
                        <input type="radio" name="answer" id="ts1-q12-2"><label for="ts1-q12-2">4</label>
                        <input type="radio" name="answer" id="ts1-q12-3"><label for="ts1-q12-3">1</label>
                        <input type="radio" name="answer" id="ts1-q12-4"><label for="ts1-q12-4">5</label>
                    </form>
                </div>
            </div>
            <div class="quiz__container">
                <p class='quiz__question'>چند تا از آهنگ های البوم دومی تیلر (اسپیک ناو) را به تنهایی نوشت</p>
                <div class="flex flex-jc-c">
                    <form class='quiz__4option' action="">
                        <input type="radio" name="answer" id="ts1-q13-1"><label for="ts1-q13-1">9</label>
                        <input type="radio" name="answer" id="ts1-q13-2"><label for="ts1-q13-2">همه‌</label>
                        <input type="radio" name="answer" id="ts1-q13-3"><label for="ts1-q13-3">هیچکدام</label>
                        <input type="radio" name="answer" id="ts1-q13-4"><label for="ts1-q13-4">5</label>
                    </form>
                </div>
            </div>
            <div class="quiz__container">
                <p class='quiz__question'>تیلور در سال ۲۰۰۹ در کدام برنامه ظاهر شد</p>
                <div class="flex flex-jc-c">
                    <form class='quiz__4option' action="">
                        <input type="radio" name="answer" id="ts1-q14-1"><label for="ts1-q14-1">How I Met Your Mother</label>
                        <input type="radio" name="answer" id="ts1-q14-2"><label for="ts1-q14-2">Hannah Montana</label>
                        <input type="radio" name="answer" id="ts1-q14-3"><label for="ts1-q14-3">CSI</label>
                        <input type="radio" name="answer" id="ts1-q14-4"><label for="ts1-q14-4">Friends</label>
                    </form>
                </div>
            </div>
            <div class="quiz__container">
                <p class='quiz__question'>تیلور نام پنجمین البوم خودش را ۱۹۸۹ گذاشت، چرا</p>
                <div class="flex flex-jc-c">
                    <form class='quiz__4option' action="">
                        <input type="radio" name="answer" id="ts1-q15-1"><label for="ts1-q15-1">عدد مورد علاقه‌ی دومشه</label>
                        <input type="radio" name="answer" id="ts1-q15-2"><label for="ts1-q15-2">سال تولد برادرشه</label>
                        <input type="radio" name="answer" id="ts1-q15-3"><label for="ts1-q15-3">تاریخ شروع اولیش اهنگشه</label>
                        <input type="radio" name="answer" id="ts1-q15-4"><label for="ts1-q15-4">سال تولدش بود</label>
                    </form>
                </div>
            </div> 
        </div>

        <div class="space-sm"></div>

        <div>
            <a class="showResult" href="/result/کامل-ترین-کویز-تیلور-سویفت">
                دیدن نتیجه
            </a>

            <div class="space-med"></div>
            
        </div>
    </div>
</body>

{% endblock content %}