*__pycache__*
*.pyc
htmlcov
.coverage
QuizLand.session.sql
.vscode
geckodriver
venv-QL
.gitignore
.env
migrations
# *.jpg
# *.png
# *.gif
# *.svg
# *.webp
frontend/static/build
*.zip
*.log
changes.txt
node_modules