{% extends '../layout.html' %}
{% block content %}
{% load templateTags %}

<!-- <adverts class="adverts adverts__left hideForMobile" style="margin-top: 5.5rem;">
</adverts>

<adverts class="adverts adverts__right hideForMobile" style="margin-top: 5.5rem;">
</adverts> -->

<body style="background-image: url('{{ innerCategory }}');">
    
    <!-- <div class="adverts__top">
    </div> -->
    
    {{ tools | safe }}

    <div class="categoryList quizContainer__category__inner flex flex-jc-fe flex-ai-c wrapper-med">

        {% for quiz in quizzes %}
            {% with quiz.innerCategory|replaceToHyphen as innerCategory %}
                {% with quiz.title|replaceToHyphen as title %}
                    <a href="/quiz/{{quiz.category}}/{{innerCategory}}/{{title}}">
                        <img src="{{quiz.background|makeTheDirValidForImg}}" alt="{{quiz.innerCategory}} | {{quiz.title}}" loading='lazy'>
                        {% with quiz.views|viewsFormat as views %}
                            <div class="quizContainer__category__inner__views">{{ views }}</div>
                        {% endwith %}
                        <div class="quizContainer__category__inner__title">{{ quiz.title }}</div>
                    </a>
                {% endwith %}
            {% endwith%}
        {% endfor %}

    </div>

    {{ pageTravel | safe }}

    <!-- <div class="adverts__bottom">
    </div> -->
    
</body>

{% endblock %}