<!DOCTYPE html>
<html lang="Fa">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app/scss/style.css">
    <title>Quiz Land</title>
</head>

<header class="header header__background">

    <nav class="flex flex-ai-c flex-jc-sb">
        <a href="#" class="header__logo">
            <img src="/images/logo.png" alt="QuizLand">
        </a>

        <!-- Search -->
        <div class="flex flex-ai-c">
            <img class='header__submit fade flex tx-al-c' src="https://img.icons8.com/pastel-glyph/128/ffffff/search--v3.png"/>
            <input class='header__search tx-al-r' type="search" placeholder="جستجو در این بخش">
        </div>

        <!-- Menu -->
        <a href="#" class="header__menu hide-for-desktop">
            <span></span>
            <span></span>
            <span></span>
        </a>

        <div class="header__menu__m fade tx-al-c">
            <img src="/images/close-btn.svg" alt="" class="header__menu__m__close-btn">

            <ul>
                <details>
                    <summary>کتگوری ها</summary>
                    <ul>
                        <a href=""><li>فیلم و سریال</li></a>
                        <a href=""><li>گیمینگ</li></a>
                        <a href=""><li>سلبریتی</li></a>
                        <a href=""><li>روانشناسی</li></a>
                    </ul>
                </details>
                <li><a href="#">تماس با ما</a></li>
                <li><a href="#">درباه‌ي ما</a></li>
            </ul>
        </div>

        <!-- Links -->
        <div class="header__links hide-for-mobile hover">
            <a href="#">تماس با ما</a>
            <a href="#">درباه‌ي ما</a>
            <a href="#" class="header__categories__button">کتگوری‌ها</a>
        </div>

        <img class="arw" src="/images/arw.png">
        <ul class="header__categories tx-al-c">
            <a href=""><li>فیلم و سریال</li></a>
            <a href=""><li>گیمینگ</li></a>
            <a href=""><li>سلبریتی</li></a>
            <a href=""><li>روانشناسی</li></a>
        </ul>

    </nav>

</header>
<div class="space-sm"></div>
<body >
 
    <div class="tools">
        <!-- search -->
        <div>
            <img class="tools__submit header__submit fade tx-al-c" src="https://img.icons8.com/pastel-glyph/128/ffffff/search--v3.png"/>
            <input class='header__search tools__search input tx-al-r' type="search" placeholder="جستجو در این بخش">
        </div>

        <!-- sort -->
        <a href="#" class="sortType flex flex-ai-c">
            <h5 class="input tx-al-r"> مرتب سازی بر اساس</h5>
            <div>جدیدترین</div>
        </a>
    </div>

    <div class="categories flex flex-jc-c wrapper">
        <div class="categories__item">
            <img class='categories__item__img' src="/images/TRASH4.jpeg" alt="">
            <div class="categories__item__detail">
                Malifiecnt
            </div>
        </div>
        <div class="categories__item">
            <img class='categories__item__img' src="/images/TRASH5.jpg" alt="">
            <div class="categories__item__detail">
                IT
            </div>
        </div>
        <div class="categories__item">
            <img class='categories__item__img' src="/images/TRASH6.png" alt="">
            <div class="categories__item__detail">
                Blade Runner
            </div>
        </div>
        <div class="categories__item">
            <img class='categories__item__img' src="/images/TRASH4.jpeg" alt="">
            <div class="categories__item__detail">
                Malifiecnt
            </div>
        </div>
        <div class="categories__item">
            <img class='categories__item__img' src="/images/TRASH5.jpg" alt="">
            <div class="categories__item__detail">
                IT
            </div>
        </div>
        <div class="categories__item">
            <img class='categories__item__img' src="/images/TRASH6.png" alt="">
            <div class="categories__item__detail">
                Blade Runner
            </div>
        </div>
        <div class="categories__item">
            <img class='categories__item__img' src="/images/TRASH4.jpeg" alt="">
            <div class="categories__item__detail">
                Malifiecnt
            </div>
        </div>
        <div class="categories__item">
            <img class='categories__item__img' src="/images/TRASH5.jpg" alt="">
            <div class="categories__item__detail">
                IT
            </div>
        </div>
        <div class="categories__item">
            <img class='categories__item__img' src="/images/TRASH6.png" alt="">
            <div class="categories__item__detail">
                Blade Runner
            </div>
        </div>
        
    </div>

    <div class="space-sm"></div>

    <div class="page-travel flex flex-ai-c flex-jc-c">
        <!-- <img src="/images/PageArw-Before.svg" alt=""> -->
        <div class="page">1</div>
        <div class="page">2</div>
        <div class="page">3</div>
        <div class="page">....</div>
        <div class="page">10</div>
        <!-- <img src="/images/PageArw-After.svg" alt=""> -->

    </div>

</body>

<footer class="footer-for-mobile tx-al-c">

    <div>
        <p class="tx-al-c"> تو خبرنامه مون عضو شو تا هر وقت یه کویز باحال دیگه‌ای منتشر کردیم بتونی اولین نفری باشی که انجامش میده</p>
        <button class='btn__grad-blue' type="submit">ثبت نام</button>
        <input class="input" type="email" placeholder='                   ... ایمیل'>
    </div>
    <div>
        <ul>
            <li><a href=""></a>نوار پایینی</li>
            <li><a href=""></a>نوار پایینی</li>
            <li><a href=""></a>نوار پایینی</li>
            <li><a href=""></a>نوار پایینی</li>
        </ul>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

<script src="/app/js/script.js"></script>
</footer>

</html>