footer, .footer {
    color: $white;
    box-shadow: black 0 -5px 50px;
    
    background-image: $red-tb-grad;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 100%;
    position: absolute;
    bottom: 1; left: 0;
    padding-top: 3rem;
    padding-bottom: 3rem;

    & > div{
        padding-top: 1rem;
        display: inline-block;
        align-items: center;
        display: block;
    }

    a {
        color: white;

        &:hover {
            color: white !important;
        }
    }

    .newsletter {
        display: inline-flex;
        position: relative;

        & textarea {
            display: none;
        }

        &__categoryOptions {
            position: absolute;
            bottom: -2rem;
            margin-left: 50%;
            transform: translate(-50%);

            & > label:nth-child(3) {
                width: 6rem;
            }

            & > input {
                margin-right:1.125rem;
            }
        }

        @include breakpoints-down(medium) {
            display: grid;
            margin: 0 auto !important;

            input {
                margin: 0 auto !important;
                width: 60% !important;
            }

            &__categoryOptions {
                bottom: -4rem;
            }

            &__submit {
                order: 3;
                width: 60%;
                margin: 0 auto;
                margin-top: 0.425rem;
            }

            &__chooseCategory {
                order: -1;
                width: 60%;
                margin: 0 auto;
                margin-top: 0.425rem;
            }
        }
    }

    @include breakpoints-down(medium) {
                
        &__userName {
            width: 17rem

        }
    }
    
    &__navbar {
        direction: rtl;
        margin-bottom: 0;
        
        > li {
            font-size: $font-sm;
            
            &:not(:last-child) {
                padding-left: 2rem;
            }

            &:hover {
                opacity: .5;
            }
        }
    }

    &__detail {
        margin-bottom: 0;
        
        > li {
            font-size: $font-sm - .3rem;
            opacity: .5;

            &:not(:last-child) {
                padding-right: 1rem;
            }

            &:hover {
                opacity: 1;
            }
        }
    }

    &__copyRight {
        font-size: .9rem;
        opacity: .25;
        > h5 {
            margin: 0 !important;
            
            > a{
                opacity: .8;

                &:hover {
                    opacity: 1 !important;
                }
            }
        }
        
    }
}