footer, .footer {
    transition: all .3s ease-in-out;

    color: $white;
    box-shadow: black 0 -5px 50px;

    background-image: $red-tb-grad;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .footer__background {
        height: 33rem;
    }

    width: 100%;
    position: absolute;
    padding-top: 3rem; padding-bottom: 3rem;

    & > div{
        padding-top: 1rem;
        align-items: center;
        display: block;
    }

    a {
        color: white;

        &:hover {
            color: white !important;
        }
    }
    
    .newsletter {
        z-index: 6;
        position: fixed;
        padding: 4rem;
        width: 50rem;
        top: 25%;left: 25%;
        background: rgba(255, 255, 255, 0.65);
        backdrop-filter: blur(8px);
        color: $black;
        border: transparent;border-radius: 15px;
        transition: all .3s ease-in-out;
        
        @include breakpoints-down(medium) {
            padding: 1rem;
            width: 25rem;
            left: 5%;
            display: grid;
            justify-content: center;
        }

        & textarea {
            display: none;
        }

        & > p {
            font-weight: 600;

            @include breakpoints-down(medium) {
                margin-top: 3rem;
            }
        }

        & > input {
            margin-left: 0.3rem;
            background:rgba(0, 0, 0, 0.601);
            border: transparent;
            border-radius: 7px;
            color: white;

            &::placeholder {
                color: white;
            }

            @include breakpoints-down(medium) {
                width: 22rem;
                
                &:not(:last-child) {
                    margin-bottom: .325rem;
                }
            }
        }

        &__blurBackground__show {
            position: fixed;
            display: block;
            top: 0;left: 0;
            width: 100vw;height: 100vh;
            z-index: 5;
            background: rgba(0, 0, 0, 0.65);
            backdrop-filter: blur(25px);
            transition: all .3s ease-in-out;
        }

        &__closeBtn {
            background: url('/static/img/Base/close-btn.svg') no-repeat center center;
            width: 1.75rem;
            height: 1.75rem;
            position: absolute;
            right: 1rem;
            top: 1rem;
            cursor: pointer;

            @include breakpoints-down(medium) {
                right: .5rem; top: .5rem;
            }
        }

        &__reCaptcha {
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
        }

        &__submit {
            color: white;
            background: $darkRed;
            border-radius: 7px;
        }

        &__categoryOptions {
            margin-top: 1.125rem;
            flex-wrap: wrap;
            flex-direction: row-reverse;

            @include breakpoints-down(medium) {
                margin-bottom: 1.125rem;
            }

            & > label {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                
                &:nth-child(3) {
                    width: 5.5rem;
                }

                & > input {
                    margin-left: 1.125rem; margin-right: .2rem;

    
                    @include breakpoints-down(medium) {
                        width: .7rem !important;
                        margin-left: .6rem;
                        
                        &:not(:last-child) {
                            margin-right:1.125rem;
                        }
                    }
                }
            }

        }

        @include breakpoints-down(medium) {
            &__userName {
                width: 17rem
            }

            &__submit {
                order: 3;
                width: 100%;
                margin: .425rem auto;
            }

            &__chooseCategory {
                order: -1;
                width: 60%;
                margin: 0 auto; margin-top: 0.425rem;
            }
        }
    }
    
    &__navbar {
        direction: rtl;
        margin-bottom: 0;
        
        > li {
            font-size: $font-sm - .20;
            transition: all .2s ease-in-out;
            
            &:not(:last-child) {
                padding-left: 1.7rem;
            }

            &:hover {
                opacity: .5;
            }
        }
    }

    &__detail {
        margin: .5rem;
        
        > li {
            font-size: $font-sm - .3rem;
            opacity: .5;
            transition: all .2s ease-in-out;

            &:not(:last-child) {
                padding-left: 1rem;
            }

            &:hover {
                opacity: 1;
            }
        }
    }

    &__copyRight {
        opacity: .25;
        > p {
            margin: 0;
            font-size: .9rem;
            
            > a{
                opacity: .8;
                transition: all .2s ease-in-out;

                &:hover {
                    opacity: 1;
                }
            }
        } 
    }
}