.header {
    font-size: $font-sm;
    font-family: $font-pr;
    margin-bottom: 2rem;

    @include breakpoints-down(medium) {
        padding: 1rem;
    }

    &__logo {
        padding: .6250rem;
    }

    &__links {
        padding: 1.25rem;

        a {
            color: $black;
            padding: .6250rem;
            margin-left: 1.125rem;
            text-shadow: 0 0 5px white;
        }
    }

    .slideMenu-hide {
        top: -14rem !important;
    }

    &__menu {
        z-index: 3;
        position: fixed;
        top: 0; left: 0;
        background: rgba(0, 0, 0, 0.3);
        box-shadow: 0 7px 20px black;
        backdrop-filter: blur(20px);
        border: 2px solid transparent;
        height: 14rem;
        width: 100%;
        border-radius: 0 0 55px 55px;
        transition: all .3s ease-in-out;
        
        &__openBtn {
            background: inherit;
            position: absolute;
            top: 1rem;
            right: 1rem;
            
            @include breakpoints-down(medium) {
                top: 2rem;
            }
            
            > span {
                display: block;
                width: 1.625rem;
                height: 0.18rem;
                background-color: $black;
                
                &:not(:last-child) {
                    margin-bottom: .25rem;
                }
            }
        }

        &__closeBtn {
            background: url('/static/img/close-btn.svg') center center no-repeat;
            width: 1.75rem;
            height: 1.75rem;
            position: fixed;
            top: 1rem;
            right: 1.5rem;
        }

        &__inner {
            color: white;
            font-size: $font-sm - .28;
            z-index: 2;

            ul > li {
                margin-bottom: .2rem;

                & > a:hover {
                    color: inherit !important;
                }
            }

            &__category {
                float: left;
                margin-left: 6rem;
                margin-bottom: 0.5rem;

                & > h5 {
                    margin-bottom: 0;
                    font-size: 1.2em !important;

                }
            }

            &__quizzes {
                text-align: left;
                margin-bottom: 0.5rem;
            }

            &__nav {
                float: right;
                margin-right: 6rem;
                margin-top: .7rem;
            }
        }
    }

    &__searchSubmit {
        background: url('/static/img/srch-black.svg') no-repeat center center;
        transform: translate(2.2rem);
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        z-index: 2;
        width: 1.5rem;
        border: 0;
    }

    &__searchInput {
        border: 1px solid #8080808f;
        font-family: $font-pr;
        font-size: $font-sm;
        background: rgba(0, 0, 0, 0.178);
        backdrop-filter: blur(165px);
        border-radius: 15px;
        height: 2.125rem;
        padding-right: 1.3125rem;
        width: 75%;
        transition: box-shadow 0.3s ease-in-out;
        z-index: 1;

        &::placeholder {
            color: black
        }

        &:focus {
            box-shadow: -2px 2px 5px black;
        }
    }

    .subHeader {
        position: absolute;
        top: 7rem;
        border: 1px solid transparent;
        background: rgba(0, 0, 0, 0.178);
        backdrop-filter: blur(10px);
        border-radius: 15px;
        box-shadow: 2px 2px 5px black;
        border-radius: 20px;
        padding: 1.875rem 1.625rem;
        opacity: 0;
        pointer-events: none;
        transition: all .3s ease;
        z-index: 5;

        &__open {
            opacity: 1;
            top: 4.5rem;
            pointer-events: visibleFill;
        }

        a {
            &:not(:last-child){
                margin-bottom: 1.25rem
            }
            &:hover {
                color: rgba(163, 163, 163, 0.692) !important;
            }
        }
    }

    &__categories {
        right: 5rem;
        z-index: 3;
    }

    &__quizzes {
        right: 12rem;
    }

    &__white {
        span {
            background-color: $white !important;
        }
        
        a {
            color: $white !important;
            text-shadow: 0 0 5px black;
            
            &::after{
                border-bottom: 2px solid $white !important;
            }
        }

        input {
            color: $white !important;
        }
        .input {
            color: $white !important;
        }
        .header__searchInput {
            &::placeholder {
                color: white;
            }
        }
        .header__searchSubmit {
            background: url('/static/img/srch-white.svg') no-repeat center center !important;
        }   
    }
}