// Font Family
@font-face {
    font-family: "myHarmattan";
    src: url('/static/font/Harmattan-Regular.ttf')
}
@font-face {
    font-family: "myChanga";
    src: url('/static/font/Changa-ExtraLight.ttf');
}
@font-face {
    font-family: "vermin-vibes-2-soft";
    src: url('/static/font/Vermin-Vibes-2-Soft.ttf');
}

$font-pr: harmattan, myHarmattan, sans-serif, serif;
$font-sec: myChanga, sans-serif, serif;
$number: vermin-vibes-2-soft, myChanga, sans-serif;

// Fort Size
$font-sm: 1.180rem;
$font-med: 1.325rem;
$font-l: 1.6rem;
$font-xl: 2rem;

// Colors
$red: #af282f;
$darkRed: #690D11;
$darkBlue: #173047;
$white: #f0f0f0;
$black: #161616;
$gray: #707070;

// Gradient Colors
$red-grad: linear-gradient(-45deg, #4D1420, #9D272D);
$red-bt-grad: linear-gradient(0, #4D1420, #9D272D);
$red-tb-grad: linear-gradient(180deg, #4D1420, #9D272D);
$redBlue-grad: linear-gradient(-45deg, #9D272D, #1d1041);

// Animations
