{% extends './layout.html' %}
{% block content %}

<adverts class="adverts adverts__left hideForMobile" style="margin-top: 5.5rem;">
    this is a left advert which is fucking annoying
</adverts>

<adverts class="adverts adverts__right hideForMobile" style="margin-top: 5.5rem;">
    this is a right advert which is fucking annoying
</adverts>

<body>
    
    {{ tools | safe }}
    
    <div class="quizzes wrapper flex flex-js-c flex-ai-c">
        {% for category in categories %}
            <div class="quizzes__item">
                {% set img = (category.title_eng).split(' ') %}

                <a href="/category/{{category.category}}/{{img[0]}}-{{img[1]}}/0/newest/8">
                    <img src="/static/img/Thn-Category/{{img[0]}}-{{img[1]}}.jpg" alt="{{ category.title_eng }} |‌ کوئیز های {{ category.title_far }}" loading='lazy'>
                </a>

                <h5>
                    <a href="/category/{{category.category}}/{{img[0]}}-{{img[1]}}/0/newest/8">
    
                    {% if category.category == 'physiologies' %}
                        {{ category.title_far }}
                    {% else %}
                        {{ category.title_eng }}
                    {% endif %}
    
                    </a>
                </h5>
            </div>
        {% endfor %}
    </div>
    
    <div class="pageTravel darkGls flex flex-jc-c flex-ai-c">
        <a class="pageTravel__arwLast" href=""></a>
        <div class="pageTravel__pages flex flex-jc-c flex-ai-c">
            <a class="pageTravel__pages__last" href=""></a>
            <span class="pageTravel__pages__curr"></span>
            <a class="pageTravel__pages__next" href=""></a>
            <a class="pageTravel__pages__nextTwo" href=""></a>
            <div class="finalPage">
                <span>. . .</span>
                <a>
                    {{ finalPage }}
                </a>
            </div>
        </div>
        <a class="pageTravel__arwNext" href=""></a>
    </div>
</body>

{% endblock %}
