{% extends './layout.html' %}
{% block content %}

<!-- <adverts class="adverts adverts__left hideForMobile" style="margin-top: 5.5rem;">
</adverts>

<adverts class="adverts adverts__right hideForMobile" style="margin-top: 5.5rem;">
</adverts> -->

<body>

    <!-- <div class="adverts__top">
    </div> -->
    
    {{ tools | safe }}
    
    <div class="quizzes wrapper-med grid grid-jc-c">
        <div class="quizzes__item">
            <a href="/category/celebrities/Mix-Celebrity/0/newest/8">
                <img src="/static/img/Thn-Category/mix-celebrity.jpg" alt="mix celebrity |‌ کوئیز های میکس سلبریتی" loading='lazy'>
            </a>

            <h5 class="tx-al-c">
                <a href="/category/celebrities/Mix-Celebrity/0/newest/8">
                    میکس سلبریتی ها
                </a>
            </h5>
        </div>

        {% for category in categories %}
            <div class="quizzes__item">
                {% set img = (category.title_eng).split(' ') %}

                <a href="/category/{{category.category}}/{{img[0]}}-{{img[1]}}/0/newest/8">
                    <img src="/static/img/Thn-Category/{{img[0]}}-{{img[1]}}.jpg" alt="{{ category.title_eng }} |‌ کوئیز های {{ category.title_far }}" loading='lazy'>
                </a>

                <h5 class="tx-al-c">
                    <a href="/category/{{category.category}}/{{img[0]}}-{{img[1]}}/0/newest/8">
    
                    {% if category.category == 'physiologies' %}
                        {{ category.title_far }}
                    {% else %}
                        {{ category.title_eng }}
                    {% endif %}
    
                    </a>
                </h5>
            </div>
        {% endfor %}
    </div>
    
    {{ pageTravel | safe }}

    <!-- <div class="adverts__bottom">
    </div> -->

</body>

{% endblock %}
