{% extends './layout.html' %}
{% block content %}

<adverts class="adverts adverts__left hideForMobile" style="margin-top: 5.5rem;">
    this is a left advert which is fucking annoying
</adverts>

<adverts class="adverts adverts__right hideForMobile" style="margin-top: 5.5rem;">
    this is a right advert which is fucking annoying
</adverts>

<body>
    <div class="tools wrapper-med flex flex-ai-c">
        <div class="tools__sort">
            <div class="tools__sort__btn btn darkGls">ترتیب بر اساس: 
                <span class="tools__sort__current">جدیدترین</span>
            </div>
            <div class="tools__sort__options__container fade-out">
                <ul class="tools__sort__options">
                    <button class="darkGls" type="button">جدیدترین</button>
                    <button class="darkGls" type="button">بهترین</button>
                    <button class="darkGls" type="button">الفبا</button>
                </ul>
            </div>
        </div>
        <div class="tools__numberOfResult">
            <div class="tools__numberOfResult__btn darkGls btn">تعداد نمایش: 
                <span class="tools__numberOfResult__current">8</span>
            </div>
            <div class="tools__numberOfResult__options__container fade-out">
                <ul class="tools__numberOfResult__options">
                    <button class="darkGls" type="button">8</button>
                    <button class="darkGls" type="button">16</button>
                    <button class="darkGls" type="button">24</button>
                    <button class="darkGls" type="button">32</button>
                </ul>
            </div>
        </div>
        <button class="tools__submit darkGls"></button>
    </div>
    
    <div class="quizzes wrapper flex flex-js-c flex-ai-c">
        {% for category in categories %}
            <div class="quizzes__item">
                {% set img = (category.title_eng).split(' ') %}

                <a href="/category/{{category.category}}/{{img[0]}}-{{img[1]}}/0/newest/8">
                    <img src="/static/img/Thn-Category/{{img[0]}}-{{img[1]}}.jpg" alt="{{ category.title_eng }} |‌ کوئیز های {{ category.title_far }}" loading='lazy'>
                </a>

                <h5>
                    <a href="/category/{{category.category}}/{{img[0]}}-{{img[1]}}/0/newest/8">
    
                    {% if category.category == 'physiologies' %}
                        {{ category.title_far }}
                    {% else %}
                        {{ category.title_eng }}
                    {% endif %}
    
                    </a>
                </h5>
            </div>
        {% endfor %}
    </div>
    
    <div class="pageTravel darkGls flex flex-jc-c flex-ai-c">
        <a class="pageTravel__arwLast" href=""></a>
        <div class="pageTravel__pages flex flex-jc-c flex-ai-c">
            <a class="pageTravel__pages__last" href=""></a>
            <span class="pageTravel__pages__curr"></span>
            <a class="pageTravel__pages__next" href=""></a>
            <a class="pageTravel__pages__nextTwo" href=""></a>
            <div class="finalPage">
                <span>. . .</span>
                <a>
                    {{ finalPage }}
                </a>
            </div>
        </div>
        <a class="pageTravel__arwNext" href=""></a>
    </div>
</body>

{% endblock %}
