{% extends './layout.html' %}
{% block content %}

<adverts class="adverts adverts__left hideForMobile" style="margin-top: 5.5rem;">
    this is a left advert which is fucking annoying
</adverts>

<adverts class="adverts adverts__right hideForMobile" style="margin-top: 5.5rem;">
    this is a right advert which is fucking annoying
</adverts>

<body style="background-image: url('/static/img/Bg-innerCategory/{{ innerCategory }}.jpg');">
    {{ tools | safe }}

    <div class="categoryList darkGls wrapper-sm">
        <ul>
            {%  for quiz in quizzes %}
                <li>
                    <a href="{{quiz.href}}">
                        {{ quiz.title_far }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    {{ pageTravel | safe }}
</body>

{% endblock %}