{% extends './layout.html' %}
{% block content %}

<adverts class="adverts adverts__left hideForMobile" style="margin-top: 5.5rem;">
    this is a left advert which is fucking annoying
</adverts>

<adverts class="adverts adverts__right hideForMobile" style="margin-top: 5.5rem;">
    this is a right advert which is fucking annoying
</adverts>

<body style="background-image: url('/static/img/Bg-innerCategory/{{ innerCategory }}.jpg');">
    
    <div class="adverts__top">
        hi this is a top advert which is fucking annoying
    </div>
    
    {{ tools | safe }}

    <div class="categoryList tx-al-r darkGls wrapper-sm">
        <ul>
            {%  for quiz in quizzes %}
                <li>
                    {% set innerCategory = (quiz.innerCategory | replace(" ", "-", 99)) | safe %}
                    {% set title = (quiz.title_far | replace(" ", "-", 99)) | safe %}
                    {% if quiz.category == 'physiologies' %}
                    <a href="/quiz_2/physiologies/{{innerCategory}}/{{title}}">
                        {{ quiz.title_far }}
                    </a>
                    {% else %}
                    <a href="/quiz/{{quiz.category}}/{{innerCategory}}/{{title}}">
                        {{ quiz.title_far }}
                    </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>

    {{ pageTravel | safe }}

    <div class="adverts__bottom">
        hi this is a bottom advert which is fucking annoying
    </div>
    
</body>

{% endblock %}