{% extends './layout.html' %}
{% block content %}

<adverts class="adverts adverts__left hideForMobile" style="margin-top: 5.5rem;">
    this is a left advert which is fucking annoying
</adverts>

<adverts class="adverts adverts__right hideForMobile" style="margin-top: 5.5rem;">
    this is a right advert which is fucking annoying
</adverts>

<body style="background-image: url('/static/img/Bg-innerCategory/{{ innerCategory }}.jpg');">
    {{ tools | safe }}

    <div class="categoryList darkGls wrapper-sm">
        <ul>
            {%  for quiz in quizzes %}
                <li>
                    <a href="{{quiz.href}}">
                        {{ quiz.title_far }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="pageTravel darkGls flex flex-jc-c flex-ai-c">
        <a class="pageTravel__arwLast" href=""></a>
        <div class="pageTravel__pages flex flex-jc-c flex-ai-c">
            <a class="pageTravel__pages__last" href=""></a>
            <span class="pageTravel__pages__curr"></span>
            <a class="pageTravel__pages__next" href=""></a>
            <a class="pageTravel__pages__nextTwo" href=""></a>
            <div class="finalPage">
                <span>.....</span>
                <a href="#">
                    {{ finalPage }}
                </a>
            </div>
        </div>
        <a class="pageTravel__arwNext" href=""></a>
    </div> 
</body>

{% endblock %}