.blog {
    margin-top: 3rem;
    margin-bottom: 8rem;

    @include breakpoints-down(xLarge) {
        margin-right: 3rem;
        margin-left: 3rem;
    }

    li {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    &-container {
        display: flex;

        @include breakpoints-down(large) {
            display: block;
        }
    }

    &-thumbnail {
        margin-left: 1.25rem;

        img {
            border-radius: 10px;
        }
    }

    &-title {
        font-family: 'myLalezar';
        font-size: 1.4rem;
    }

    &-publish {
        font-size: 1rem;
        color: gray;
    }

    &-brief {
        line-height: 1.5rem;
        margin-top: 1rem;
        height: 4rem; width: 39rem;
        overflow: hidden;

        @include breakpoints-down(large) {
            width: 20rem;
        }
    }

    hr {
        opacity: .15;
    }
}

.article {
    p > img {
        width: 100% !important; height: auto !important;
    }

    h5 {
        font-weight: 300;
    }

    hr {
        opacity: .15;
    }

    &-publish {
        color: #b5b5b5;
        font-size: 1rem;
    }
}