.moreSearchResult {
    @include breakpoints-down(large) {
        margin: 0;
    }

    h3 {
        text-align: center;
        margin-bottom: 3rem;

        @include breakpoints-down(large) {
            letter-spacing: .03rem;
        }
    }

    &__container {
        min-height: 20rem;
        margin-bottom: 2rem;
    }
}