.input {
    border: 2px solid $darkRed;

}

.tools {
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
    justify-self: flex-end;
    margin-right: 1rem;

    &__submit {
        right: 14.7rem;
        top: -.2rem;
    }

    &__search {
        transform: translate(1.875rem);
        width: 17rem;
        margin-bottom: .5rem;

    }
}

.tools__sortType {
    position: relative;
    transition: all .3s ease;

    > div {
        background: $red;
        font-size: $font-sm;
        color: $white;
        transform: translate(104%);
        padding: .11rem .5rem;
        border-radius: 20px;
    }

    &__current {
        min-width: 6.15rem;
        text-align: center;
    }

    &__options {
        position: absolute;
        left: -2rem;
        top: 2.3rem;
        box-shadow: 0 0 5px black;
        transition: all .3s ease;
        line-height: 1.5rem;
        z-index: 2;
    }
}

.categories {
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex-wrap: wrap;

    &__item {
        width: 12.5rem;
        height: 18.75rem;
        margin-right: 1.9375rem;
        margin-bottom:  1.93757rem;

        & > img {
            max-width: 12.5rem;
            object-fit: cover;
            height: 18.75rem;
            border: 2px solid lighten($gray, 10%);
            border-radius: 40px;
            transition: all .15s ease-in-out;
        }

        &__detail {
            background: $darkRed;
            color: $white;
            text-align: center;
            padding-top: 5.9375rem;
            transform: translateY(-8.4rem);
            position: relative;
            z-index: -1;
            border-radius: 40px;

            &__show {
                transform: translateY(-2.5rem);
            }

        }
    }
}

.page-travel {
    & > div {
        padding: .2rem .7rem;
        border: 1px solid $darkRed;
        border-radius: 20px;
        margin-bottom: 1rem;
        background: $white;

        &:not(:last-child) {
            margin-right: 1rem;
        }
    }
}

