.bg {
    z-index: -1;
    background-image: url("\\images\\hero-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 43.75rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: black 0 5px 50px;
}

.hero{
    text-align: right;
    color: $white;
    margin: 8rem 4rem;
    & h1 {
        margin-bottom: 0; 
    }
    & p {
        line-height: 2.5rem;
        margin-top: 0; 
    }
    font: {
        // family: $main-font
    }

    &__btn {
        margin-right: 50%;
        transform: translate(50%);
    }
}

// .scroll {
//     margin: auto 50%;
//     margin-top: -1rem;
//     user-select: none;
// }

.category {
    flex-wrap: wrap;


    img {
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.5) 0 0 35px;
        margin: 1.4375rem;
        margin-bottom: 0;
        transition: all .3s ease-in-out;

        &:hover {
            box-shadow: transparentize($darkRed, .5) 0 0 55px;
            transform: translateY(-.625rem);
        }
    }

    p {
        margin-top: 0;
    }
}

.sort {
    padding-top: 4rem;

    & div {

        & > ul {
            padding-left: 3rem;
            padding-right: 3rem;
            margin: 0;

            & > a {
                display: flex;
                justify-content: flex-end;
                
                &:not(:last-child) {
                    padding-bottom: .5rem;
                }

                & > li {
                    display: inline-flex;

                    & > img {
                    border-radius: 50px;
                    width: 1.5rem;
                    height: 1.5rem; 
                    margin-left: .5rem;
                    }
                }
            }
        }
    }
}

// .cookies {
//     position: fixed;
//     bottom: 0;
//     left: 0;
//     // margin-left: 50%;
//     // transform: translate(-50%);
//     // width: 60vw;
//     width: 100%;
//     height: 10rem;
//     background: white;
//     box-shadow: 0 0 150px black;
//     border: 1px solid black;
//     border-radius: 30px 30px 0 0;
//     z-index: 2;

//     > h5 {
//         text-align: center;
//     }

//     &__submit {

//         > a {

//             &:not(:last-child) {
//                 margin-right: 2rem;
//             }
//         }

//         &__refuse {
//             color: black;
//         }
//     }
// }