@import '../variables';

.quizzes {
    margin-top: 2rem;
    flex-wrap: wrap;

    &__item {
        width: 12.5rem;
        height: 16.2135rem;
        margin-right: 1.9375rem;
        margin-bottom:  1.93757rem;


        & a > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border: 3px solid $gray;
            border-radius: 40px;
            filter:brightness(40%);
        }

        & > h5 {
            text-align: center;
            transform: translateY(-210px);
            color: $white;
            font-size: $font-l;

        }
    }
}

.quiz {

    &__head {
        font-family: $font-sec;

        h1, h2, h3, h4, h5, p {
            margin: 0;
            line-height: 2rem;
        }

        h3 {
            font-size: $font-sm;
            font-weight: 100;
        }
        h5{
            font-size: $font-sm - .3rem;
            font-weight: 100;
        }
    }

    &__background {
        margin-top: 2rem;
        width: 100%;
    }

    &__questions {

        &__number {
            font-family: $number;
            font-size: $font-l + .7rem;
            font-weight: 100;
            margin-bottom: 0;
        }

        &__question {
            font-family: $font-sec;
            font-weight: 600;
            font-size: $font-sm;
        }

        &__4option {
            input {
                opacity: 0;
            }

            label {
                display: block;
                width: 35rem;
                border: 1px solid $gray;
                border-radius: 25px;
                padding: .8rem;

                &:hover {
                    // background: $red-grad;
                    // filter: brightness(150%);
                    box-shadow: 0 0 5px $darkRed;
                }
            }
            
            [type="radio"]:checked + label {
                background: $red-grad;
                color: $white;
                padding: .8rem;
            }
        }

        &__lowHigh {
            margin-top: 2.5625rem;

            input {
                display: none;
            }

            label {
                border: 1px solid $gray;
                border-radius: 100px;
                margin-right: .4325rem;
                margin-left: .4325rem;

                &:nth-child(3), &:nth-child(19) {
                    padding-right: 2.1875rem;
                }
                &:nth-child(5), &:nth-child(17) {
                    padding-right: 2.4875rem;
                    padding-top: .25rem;
                }
                &:nth-child(7), &:nth-child(15) {
                    padding-right: 2.7875rem;
                    padding-top: .5rem;
                }
                &:nth-child(9), &:nth-child(13) {
                    padding-right: 3rem;
                    padding-top: .75rem;
                }
                &:nth-child(11) {
                    padding-right: 3.3rem;
                    padding-top: 1rem;
                }
            }

            [id="lowHigh-9"]:checked + label {
                background: #C80000;
            }
            [id="lowHigh-8"]:checked + label {
                background: #C85D00;
            }
            [id="lowHigh-7"]:checked + label {
                background: #FFA200;
            }
            [id="lowHigh-6"]:checked + label {
                background: #FFCC00;
            }
            [id="lowHigh-5"]:checked + label {
                background: #EEFF00;
            }
            [id="lowHigh-4"]:checked + label {
                background: #C9EF00;
            }
            [id="lowHigh-3"]:checked + label {
                background: #90EF00;
            }
            [id="lowHigh-2"]:checked + label {
                background: #00D648;
            }
            [id="lowHigh-1"]:checked + label {
                background: #00B83E;
            }
            
        }
    }
}