@charset "UTF-8";
:root {
  color-scheme: light dark;
  /* both supported */
}

.header__links a {
  color: white;
}

.header__menu__openBtn span {
  background: white;
}

.header__searchInput {
  color: white;
}

.header__searchInput::-webkit-input-placeholder {
  color: white;
}

.header__searchInput:-ms-input-placeholder {
  color: white;
}

.header__searchInput::-ms-input-placeholder {
  color: white;
}

.header__searchInput::placeholder {
  color: white;
}

.header__searchSubmit {
  background: url("/static/img/srch-white.svg") no-repeat center center;
}

body::-webkit-scrollbar-thumb {
  background-color: #ffffff44;
}

.hero-inner {
  padding: 1.5rem;
  color: white;
  border-radius: 40px;
  -webkit-box-shadow: 2px 2px 8px #0000005e, 0 0 15px #3f3f3f5e;
          box-shadow: 2px 2px 8px #0000005e, 0 0 15px #3f3f3f5e;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  background: rgba(0, 0, 0, 0.54);
  border: solid 1px transparent;
  background-clip: padding-box;
}

.hero-inner button {
  background-image: linear-gradient(-45deg, #6e6e6e, #d8d8d8);
  color: black !important;
}

.hero-inner button:hover {
  color: #af282f !important;
}

.category img {
  -webkit-box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
          box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

.categoryList > ul > li::before {
  content: '◽';
}

.quizzes__item a > img {
  -webkit-filter: brightness(70%) !important;
          filter: brightness(70%) !important;
}

.sort div .sort__right {
  -webkit-box-shadow: 0 0 15px #3e3e3e;
          box-shadow: 0 0 15px #3e3e3e;
}

.sort div .sort__left div {
  -webkit-box-shadow: 0 0 15px #3e3e3e;
          box-shadow: 0 0 15px #3e3e3e;
}

.sort__contoller__btn {
  -webkit-box-shadow: inset 0 0 10px #000000;
          box-shadow: inset 0 0 10px #000000;
}

.sortMore__item::after {
  content: '◽';
}

.newsletter__show {
  background-image: linear-gradient(-45deg, #6e6e6e, #d8d8d8);
  color: black !important;
}

.newsletter__show:hover {
  color: #af282f !important;
}

.tools__sort__btn {
  background-image: linear-gradient(-45deg, #6e6e6e, #d8d8d8);
  color: black !important;
}

.tools__sort__options button {
  background-image: linear-gradient(-45deg, #6e6e6e, #d8d8d8);
  color: black !important;
}

.tools__numberOfResult__btn {
  background-image: linear-gradient(-45deg, #6e6e6e, #d8d8d8);
  color: black !important;
}

.tools__numberOfResult__options button {
  background-image: linear-gradient(-45deg, #6e6e6e, #d8d8d8);
  color: black !important;
}

.quizzes__item a > img {
  -webkit-box-shadow: 0 0 15px #828282;
          box-shadow: 0 0 15px #828282;
}

.backBtn {
  background-image: linear-gradient(-45deg, #6e6e6e, #d8d8d8);
  color: black !important;
}

.searchResult__category__item a > img {
  -webkit-box-shadow: 0 0 15px #828282;
          box-shadow: 0 0 15px #828282;
}

.searchResult__quizzes__item::before {
  content: '◽';
}

.basicTwoColumn__item::after {
  content: '◽';
}
/*# sourceMappingURL=lightTheme.css.map */