@charset "UTF-8";
:root {
  color-scheme: light dark;
  /* both supported */
}

.header__links a {
  color: white;
}

.header__menu {
  background: rgba(56, 56, 56, 0.3);
}

.header__menu__openBtn span {
  background: white;
}

.header__menu__inner {
  color: white !important;
}

.header__searchInput {
  color: white;
}

.header__searchInput::-webkit-input-placeholder {
  color: white;
}

.header__searchInput:-ms-input-placeholder {
  color: white;
}

.header__searchInput::-ms-input-placeholder {
  color: white;
}

.header__searchInput::placeholder {
  color: white;
}

.header__searchSubmit {
  background: url("/static/img/base/srch-white.svg") no-repeat center center;
}

.header__categories {
  background: rgba(255, 255, 255, 0.18) !important;
  -webkit-box-shadow: 2px 2px 15px black !important;
          box-shadow: 2px 2px 15px black !important;
}

.header__quizzes {
  background: rgba(255, 255, 255, 0.18) !important;
  -webkit-box-shadow: 2px 2px 15px black !important;
          box-shadow: 2px 2px 15px black !important;
}

body::-webkit-scrollbar-thumb {
  background-color: #ffffff44;
}

.hero-inner {
  padding: 1.5rem;
  color: white;
  border-radius: 40px;
  -webkit-box-shadow: 2px 2px 8px #0000005e, 0 0 15px #3f3f3f5e;
          box-shadow: 2px 2px 8px #0000005e, 0 0 15px #3f3f3f5e;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  background: rgba(0, 0, 0, 0.54);
  border: solid 1px transparent;
  background-clip: padding-box;
}

.hero-inner button {
  background-image: linear-gradient(-45deg, #6e6e6e, #d8d8d8);
  color: black !important;
}

.hero-inner button:hover {
  color: #af282f !important;
}

.category img {
  -webkit-box-shadow: 0 0 25px #000000, 0 0 25px #000000;
          box-shadow: 0 0 25px #000000, 0 0 25px #000000;
  border: 1px solid #404040;
}

.categoryList > ul > li::before {
  content: '◽';
}

.quizzes__item a > img {
  -webkit-filter: brightness(70%) !important;
          filter: brightness(70%) !important;
}

.indexQuiz__category__inner a {
  border: inherit;
}

.indexQuiz__category__inner a::after {
  background: #121212;
  -webkit-box-shadow: 0 6px 7px #0000008c, 0 6px 7px #0000003b;
          box-shadow: 0 6px 7px #0000008c, 0 6px 7px #0000003b;
}

.indexQuiz__category__inner a:hover {
  -webkit-box-shadow: 0 0 20px #000000;
          box-shadow: 0 0 20px #000000;
}

.indexQuiz__category__inner a:hover::after {
  -webkit-box-shadow: 0 6px 10px #000000b2, 0 6px 10px #00000081;
          box-shadow: 0 6px 10px #000000b2, 0 6px 10px #00000081;
}

.indexQuiz__category__inner__views {
  background: #181818;
}

.sort div .sort__right {
  -webkit-box-shadow: 0 0 15px black, inset 0 0 10px #2f2c2c;
          box-shadow: 0 0 15px black, inset 0 0 10px #2f2c2c;
}

.sort div .sort__left div {
  -webkit-box-shadow: 0 0 15px black, inset 0 0 10px #2f2c2c;
          box-shadow: 0 0 15px black, inset 0 0 10px #2f2c2c;
}

.sort__style li:nth-child(even) {
  color: #c4c4c4;
}

.sort__controller__btn {
  -webkit-box-shadow: inset 0 0 10px #000000, 0 0 15px black;
          box-shadow: inset 0 0 10px #000000, 0 0 15px black;
}

.sortMore__item::after {
  content: '◽';
}

.newsletter__submit {
  color: white !important;
}

.newsletter__show {
  background-image: linear-gradient(-45deg, #6e6e6e, #d8d8d8);
  color: black !important;
}

.newsletter__show:hover {
  color: #af282f !important;
}

.tools__sort__btn {
  background-image: linear-gradient(-45deg, #6e6e6e, #d8d8d8);
  color: black !important;
}

.tools__sort__options button {
  background-image: linear-gradient(-45deg, #6e6e6e, #d8d8d8);
  color: black !important;
}

.tools__numberOfResult__btn {
  background-image: linear-gradient(-45deg, #6e6e6e, #d8d8d8);
  color: black !important;
}

.tools__numberOfResult__options button {
  background-image: linear-gradient(-45deg, #6e6e6e, #d8d8d8);
  color: black !important;
}

.quizzes__item a > img {
  -webkit-box-shadow: 0 0 15px #828282;
          box-shadow: 0 0 15px #828282;
}

.backBtn {
  background-image: linear-gradient(-45deg, #6e6e6e, #d8d8d8);
  color: black !important;
}

.searchResult__category__item a > img {
  -webkit-box-shadow: 0 0 15px #828282;
          box-shadow: 0 0 15px #828282;
}

.searchResult__quizzes__item::before {
  content: '◽';
}

.basicTwoColumn__item::after {
  content: '◽';
}

button, .btn {
  color: black !important;
}
/*# sourceMappingURL=nightTheme.css.map */