@charset "UTF-8";
:root {
  color-scheme: light dark;
  /* both supported */
  color: white !important;
}

html {
  background: #121212;
}

.header__links a {
  color: white;
}

.header__menu {
  background: rgba(56, 56, 56, 0.3);
}

.header__menu__openBtn span {
  background: white;
}

.header__menu__inner {
  color: white !important;
}

.header__search__opener {
  background: url("/static/img/Base/srch-white.svg") no-repeat center center;
}

.header__search__input {
  color: white;
}

.header__search__input::-webkit-input-placeholder {
  color: white;
}

.header__search__input:-ms-input-placeholder {
  color: white;
}

.header__search__input::-ms-input-placeholder {
  color: white;
}

.header__search__input::placeholder {
  color: white;
}

.header__search__submit {
  background: url("/static/img/Base/srch-white.svg") no-repeat center center;
}

.header__categories {
  background: rgba(255, 255, 255, 0.18) !important;
  -webkit-box-shadow: 2px 2px 15px black !important;
          box-shadow: 2px 2px 15px black !important;
}

.header__quizzes {
  background: rgba(255, 255, 255, 0.18) !important;
  -webkit-box-shadow: 2px 2px 15px black !important;
          box-shadow: 2px 2px 15px black !important;
}

body::-webkit-scrollbar-thumb {
  background-color: #ffffff44;
}

.hero-inner {
  padding: 1.5rem;
  color: white;
  border-radius: 40px;
  -webkit-box-shadow: 2px 2px 8px #0000005e, 0 0 15px #3f3f3f5e;
          box-shadow: 2px 2px 8px #0000005e, 0 0 15px #3f3f3f5e;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  background: rgba(0, 0, 0, 0.54) !important;
  border: solid 1px transparent;
  background-clip: padding-box;
}

.hero-inner button {
  background-image: linear-gradient(-45deg, #6e6e6e, #d8d8d8);
  color: black !important;
}

.hero-inner button:hover {
  color: #af282f !important;
}

.category img {
  -webkit-box-shadow: 0 0 25px #000000, 0 0 25px #000000;
          box-shadow: 0 0 25px #000000, 0 0 25px #000000;
  border: 1px solid #404040;
}

.categoryList > ul > li::before {
  content: '◽';
}

.quizzes__item a > img {
  -webkit-filter: brightness(60%) !important;
          filter: brightness(60%) !important;
  -webkit-box-shadow: 0 15px 15px black !important;
          box-shadow: 0 15px 15px black !important;
}

.quizContainer__category__header a {
  background: rgba(251, 251, 251, 0.158) !important;
  -webkit-box-shadow: inset 0 0 10px #000000, 0 0 15px black !important;
          box-shadow: inset 0 0 10px #000000, 0 0 15px black !important;
}

.quizContainer__category__inner article {
  background: #121212 !important;
  -webkit-box-shadow: 0 0 10px #000000bd, inset 0 0 10px #1f1f1f;
          box-shadow: 0 0 10px #000000bd, inset 0 0 10px #1f1f1f;
}

.quizContainer__category__inner__views {
  background: #181818;
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
}

.sortMore__container a::after {
  background: #121212;
  -webkit-box-shadow: inset 0 0 10px #1b1b1b, 0 6px 10px #00000081;
          box-shadow: inset 0 0 10px #1b1b1b, 0 6px 10px #00000081;
}

.sortMore__container a:hover {
  -webkit-box-shadow: 0 0 10px #252424;
          box-shadow: 0 0 10px #252424;
}

.sortMore__container a:hover::after {
  -webkit-box-shadow: inset 0 0 10px #000000, 0 6px 10px #000000bb;
          box-shadow: inset 0 0 10px #000000, 0 6px 10px #000000bb;
}

.sortMore__container__views {
  background: #181818;
}

.sort-views h2, .sort-monthlyViews h2 {
  color: #e09e9e;
  -webkit-text-stroke: .5px darkred;
}

.sort-views h2::after, .sort-monthlyViews h2::after {
  color: #e09e9e1f;
  -webkit-text-stroke: 0;
}

.sort__style li:nth-child(even) {
  color: #c4c4c4;
}

.sort__container > div {
  -webkit-box-shadow: inset 0 0 10px #1b1b1b, 0 0 20px rgba(0, 0, 0, 0.753);
          box-shadow: inset 0 0 10px #1b1b1b, 0 0 20px rgba(0, 0, 0, 0.753);
}

.sort__controller__btn {
  -webkit-box-shadow: inset 0 0 10px #000000, 0 0 15px black;
          box-shadow: inset 0 0 10px #000000, 0 0 15px black;
}

.sortMore__item::after {
  content: '◽';
}

.newsletter__submit {
  color: white !important;
}

.newsletter__show {
  background-image: linear-gradient(-45deg, #6e6e6e, #d8d8d8);
  color: black !important;
}

.newsletter__show:hover {
  color: #af282f !important;
}

.tools__sort__btn {
  background-image: linear-gradient(-45deg, #6e6e6e, #d8d8d8) !important;
  color: black !important;
}

.tools__sort__options button {
  background-image: linear-gradient(-45deg, #6e6e6e, #d8d8d8) !important;
  color: black !important;
}

.tools__numberOfResult__btn {
  background-image: linear-gradient(-45deg, #6e6e6e, #d8d8d8) !important;
  color: black !important;
}

.tools__numberOfResult__options button {
  background-image: linear-gradient(-45deg, #6e6e6e, #d8d8d8) !important;
  color: black !important;
}

.tools__submit {
  border: 1px solid #838282;
}

.quizzes__item a > img {
  -webkit-box-shadow: 0 0 15px #828282;
          box-shadow: 0 0 15px #828282;
}

.backBtn {
  background-image: linear-gradient(-45deg, #6e6e6e, #d8d8d8);
  color: black !important;
}

.searchResult__category__item a > img {
  -webkit-box-shadow: 0 5px 15px black;
          box-shadow: 0 5px 15px black;
}

.searchResult__quizzes__item::before {
  content: '◽';
}

.basicTwoColumn__item::after {
  content: '◽';
}
/*# sourceMappingURL=nightTheme.css.map */