:root {
    color-scheme: light dark; /* both supported */
  }

.header {
    &__links {
        a {
            color: white;
        }
    }

    &__menu {
        background: rgba(56, 56, 56, 0.3);

        &__openBtn {
            span {
                background: white;
            }
        }

        &__inner {
            color: white !important;
        }
    }

    &__searchInput {
        color: white;

        &::placeholder {
            color: white;
        }
    }

    &__searchSubmit {
        background: url('/static/img/base/srch-white.svg') no-repeat center center;
    }

    &__categories {
        background: rgba(255, 255, 255, 0.18) !important;
        box-shadow: 2px 2px 15px black !important;
    }

    &__quizzes {
        background: rgba(255, 255, 255, 0.18) !important;
        box-shadow: 2px 2px 15px black !important;
    }
}

body {
    &::-webkit-scrollbar-thumb {
        background-color: #ffffff44 ;
    }
}

.hero-inner {
    padding: 1.5rem;
    color: white;
    border-radius: 40px;
    box-shadow: 2px 2px 8px #0000005e, 0 0 15px #3f3f3f5e;
    backdrop-filter: blur(15px);
    background: rgba(0, 0, 0, 0.54);
    border: solid 1px transparent;
    background-clip: padding-box;

    button {
        background-image: linear-gradient(-45deg, #6e6e6e, rgb(216, 216, 216));
        color: black !important;

        &:hover {
            color: #af282f !important;
        }
    }
}

.category {
    img {
        box-shadow: 0 0 25px #000000, 0 0 25px #000000;
        border: 1px solid #404040;
    }

    &List > ul > li {
        &::before {
            content: '◽'
        }
    }
}

.quizzes {
    &__item {
        a > img {
            filter: brightness(70%) !important;
        }
    }
}

.indexQuiz {
    &__category {
        &__header {
            a {
                background:rgba(251, 251, 251, 0.158) !important;
                box-shadow: inset 0 0 10px #000000, 0 0 15px black !important;
            }
        }

        &__inner {
            a {
                border: inherit;

                &::after {
                    background: #121212;
                    box-shadow: inset 0 0 10px #1b1b1b, 0 6px 10px #00000081;
                }

                &:hover {
                    box-shadow: 0 0 20px #000000;

                    &::after {
                        box-shadow: inset 0 0 10px #1b1b1b, 0 6px 10px #00000081;
                    }
                }
            }

            &__views {
                background: #181818;
            }
        }
    }
}

.sort {
    &__style {
        li {
            &:nth-child(even) {
                color: rgb(196, 196, 196);
            }
        }
    }

    &__container {
        > div {
            box-shadow: inset 0 0 10px #1b1b1b, 0 0 20px rgba(0, 0, 0, 0.753);
        }
    }

    &__controller {
        &__btn {
            box-shadow: inset 0 0 10px #000000, 0 0 15px black;
        }
    }

    &More {
        &__item {
            &::after {
                content: '◽'
            }
        }
    }
}

.newsletter {
    &__submit {
        color: white !important;
    }

    &__show {
        background-image: linear-gradient(-45deg, #6e6e6e, rgb(216, 216, 216));
        color: black !important;

        &:hover {
            color: #af282f !important;
        }
    }
}

.tools {
    &__sort {
        &__btn {
            background-image: linear-gradient(-45deg, #6e6e6e, rgb(216, 216, 216));
            color: black !important;
        }

        &__options {
            button {
                background-image: linear-gradient(-45deg, #6e6e6e, rgb(216, 216, 216));
                color: black !important;
            }
        }
    }

    &__numberOfResult {
        &__btn {
            background-image: linear-gradient(-45deg, #6e6e6e, rgb(216, 216, 216));
            color: black !important;
        }

        &__options {
            button {
                background-image: linear-gradient(-45deg, #6e6e6e, rgb(216, 216, 216));
                color: black !important;
            }
        }
    }
}

.quizzes {
    &__item {
        a > img {
            box-shadow: 0 0 15px #828282;
        }
    }
}

.backBtn {
    background-image: linear-gradient(-45deg, #6e6e6e, rgb(216, 216, 216));
    color: black !important;
}

.searchResult {
    &__category {
        &__item {
            a > img {
                    box-shadow: 0 0 15px #828282;
            }
        }
    }

    &__quizzes {
        &__item {
            &::before {
                content: '◽'
            }
        }
    }
}

.basicTwoColumn {
    &__item {
        &::after {
            content: '◽'
        }
    }
}