@charset "UTF-8";
@font-face {
  font-family: "myHarmattan";
  src: url("/static/font/Harmattan-Regular.ttf");
}

@font-face {
  font-family: "myChanga";
  src: url("/static/font/Changa-ExtraLight.ttf");
}

@font-face {
  font-family: "vermin-vibes-2-soft";
  src: url("/static/font/Vermin-Vibes-2-Soft.ttf");
}

input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.tx-al-r {
  text-align: right;
}

.tx-al-c {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: harmattan, myHarmattan, sans-serif, serif;
  font-size: 1.325rem;
  position: relative;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: overlay;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.452);
  border-radius: 25px;
}

.wrapper {
  max-width: 62.5rem;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 49.9375em) {
  .wrapper {
    max-width: 38.75rem;
    margin: auto 2rem;
  }
}

.wrapper-sm {
  max-width: 30rem;
  margin: 0 auto;
}

.wrapper-med {
  max-width: 82.5rem;
  margin: 0 auto;
}

.space-sm {
  margin-top: 2rem;
}

@media (max-width: 49.9375em) {
  .space-sm {
    margin-top: 1rem;
  }
}

.space-med {
  margin-top: 5rem;
}

@media (max-width: 49.9375em) {
  .space-med {
    margin-top: 2.5rem;
  }
}

.space-l {
  margin-top: 8rem;
}

@media (max-width: 49.9375em) {
  .space-l {
    margin-top: 4rem;
  }
}

.space-xl {
  margin-top: 12rem;
}

@media (max-width: 49.9375em) {
  .space-xl {
    margin-top: 6rem;
  }
}

h1 {
  font-size: 2rem;
  padding-bottom: 1.25rem;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 1.6rem;
  letter-spacing: .1rem;
  padding: 0 0 1rem 0;
  margin: 0;
}

h3 {
  letter-spacing: .1rem;
}

p {
  font-size: 1.18rem;
  letter-spacing: .07rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: unset;
}

a:hover, a:visited:hover, a:hover:hover {
  color: #af282f;
  cursor: pointer;
}

details > summary {
  outline: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

details[open] summary ~ * {
  -webkit-animation: categoryMenu .5s ease-in-out;
          animation: categoryMenu .5s ease-in-out;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  font-size: 1.325rem;
}

button, .btn {
  border: 0;
  border-radius: 5px;
  padding: 0 1rem;
  outline: none;
  font-family: harmattan, myHarmattan, sans-serif, serif;
  font-size: 1.18rem;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  cursor: pointer;
}

button__grad, .btn__grad {
  background-image: linear-gradient(-45deg, #4D1420, #9D272D);
  border: 0;
  border-radius: 33px;
  padding: .4rem 1.54375rem;
  color: #f0f0f0 !important;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.295);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.295);
}

button__grad-green, .btn__grad-green {
  background-image: linear-gradient(-45deg, #066106, #02af02);
  border: 0;
  border-radius: 33px;
  padding: 0 1.54375rem;
  color: #f0f0f0;
  -webkit-box-shadow: 0 0 7px black;
          box-shadow: 0 0 7px black;
}

bold {
  font-weight: 600;
}

input {
  outline: none;
}

.input {
  height: 2.125rem;
  width: 17rem;
  border: 0;
  border-radius: 20px;
  padding-right: 1rem;
  padding-left: 1rem;
  font-family: harmattan, myHarmattan, sans-serif, serif;
  font-size: 1.18rem;
  color: #161616;
  margin: 0;
  direction: rtl;
}

.hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hover a::after, .hover li::after {
  content: '';
  border-bottom: 2px solid #161616;
  width: 0%;
  display: block;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.hover a:hover::after, .hover li:hover::after {
  width: 100%;
}

.backBtn {
  position: relative;
  bottom: 3rem;
  margin-left: 25%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

@media (max-width: 49.9375em) {
  .backBtn {
    margin-left: 7%;
  }
}

.loadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(-45deg, #4D1420, #9D272D);
  width: 100%;
  height: 100%;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.loadingScreen:after {
  -webkit-animation: changeContent .8s linear infinite;
          animation: changeContent .8s linear infinite;
  content: "⠋";
  font-size: 5rem;
}

@-webkit-keyframes changeContent {
  10% {
    content: "⠙";
  }
  20% {
    content: "⠹";
  }
  30% {
    content: "⠸";
  }
  40% {
    content: "⠼";
  }
  50% {
    content: "⠴";
  }
  60% {
    content: "⠦";
  }
  70% {
    content: "⠧";
  }
  80% {
    content: "⠇";
  }
  90% {
    content: "⠏";
  }
}

@keyframes changeContent {
  10% {
    content: "⠙";
  }
  20% {
    content: "⠹";
  }
  30% {
    content: "⠸";
  }
  40% {
    content: "⠼";
  }
  50% {
    content: "⠴";
  }
  60% {
    content: "⠦";
  }
  70% {
    content: "⠧";
  }
  80% {
    content: "⠇";
  }
  90% {
    content: "⠏";
  }
}

.fade-out {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .53s ease-in-out;
  transition: all .53s ease-in-out;
}

.fade-in {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all .53s ease-in-out;
  transition: all .53s ease-in-out;
}

.noVis {
  visibility: hidden;
}

.pointerOff {
  pointer-events: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-fe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.center {
  margin-left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.beforeAfterDecor::before {
  content: '';
  width: 5.18rem;
  height: 0.487rem;
  background: #363636;
  margin-right: 1rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 1rem;
}

.beforeAfterDecor::after {
  content: '';
  width: 5.18rem;
  height: 0.487rem;
  background: #363636;
  margin-right: 1rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 1rem;
}

.adverts {
  position: absolute;
  background-clip: inherit;
  border-radius: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid red;
  color: white;
}

.adverts__top {
  width: 100%;
  margin-top: -4rem;
  top: 0;
}

.adverts__bottom {
  position: fixed;
  width: 100%;
  height: 4rem;
  bottom: 0;
}

.adverts__left {
  width: 13rem;
  height: 35rem;
  left: 1.5rem;
}

.adverts__right {
  width: 13rem;
  height: 35rem;
  right: 1.5rem;
}

.adverts__bottomIndex {
  position: inherit;
  height: 4rem;
  padding: 7rem;
  margin: 1rem;
  color: black;
}

.pageTravel {
  width: 19rem;
  margin: 2rem auto;
}

.pageTravel .finalPage {
  padding-right: 1.125rem;
}

.gls {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  border: solid 2px transparent;
  -webkit-backdrop-filter: blur(9px);
          backdrop-filter: blur(9px);
  background-clip: padding-box;
  -webkit-box-shadow: 10px 10px 10px rgba(80, 52, 52, 0.336);
          box-shadow: 10px 10px 10px rgba(80, 52, 52, 0.336);
}

.darkGls {
  padding: .4rem;
  color: white;
  border-radius: 7px;
  -webkit-box-shadow: 2px 2px 8px #0000005e, 0 0 15px #3f3f3f5e;
          box-shadow: 2px 2px 8px #0000005e, 0 0 15px #3f3f3f5e;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  background: rgba(0, 0, 0, 0.54);
  border: solid 1px transparent;
  background-clip: padding-box;
}

.shadow {
  -webkit-transition: -webkit-box-shadow .2s ease-in-out;
  transition: -webkit-box-shadow .2s ease-in-out;
  transition: box-shadow .2s ease-in-out;
  transition: box-shadow .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
  outline: none;
  cursor: pointer;
  border-radius: 20px;
}

.shadow:hover {
  -webkit-box-shadow: 0 0 7px #323232;
          box-shadow: 0 0 7px #323232;
}

@media (max-width: 49.9375em) {
  .hideForMobile {
    display: none;
  }
}

@media (min-width: 50em) {
  .hideForDesktop {
    display: none;
  }
}

.header {
  font-size: 1.18rem;
  font-family: harmattan, myHarmattan, sans-serif, serif;
  margin-bottom: 2rem;
}

@media (max-width: 49.9375em) {
  .header {
    padding: 1rem;
  }
}

.header__logo {
  padding: .6250rem;
}

.header__links {
  padding: 1.25rem;
}

.header__links a {
  color: #161616;
  padding: .6250rem;
  margin-left: 1.125rem;
}

.header .slideMenu-hide {
  top: -14rem !important;
}

.header__menu {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 7px 20px black;
          box-shadow: 0 7px 20px black;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border: 2px solid transparent;
  height: 14rem;
  width: 100%;
  border-radius: 0 0 55px 55px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.header__menu__openBtn {
  background: inherit;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

@media (max-width: 49.9375em) {
  .header__menu__openBtn {
    top: 2rem;
  }
}

.header__menu__openBtn > span {
  display: block;
  width: 1.625rem;
  height: 0.18rem;
  background-color: #161616;
}

.header__menu__openBtn > span:not(:last-child) {
  margin-bottom: .25rem;
}

.header__menu__closeBtn {
  position: fixed;
  top: 0.425rem;
  right: 0.7rem;
}

.header__menu__inner {
  color: white;
  font-size: 0.9rem;
  z-index: 2;
}

.header__menu__inner ul > li {
  margin-bottom: .2rem;
}

.header__menu__inner ul > li > a:hover {
  color: inherit !important;
}

.header__menu__inner__category {
  float: left;
  margin-left: 6rem;
  margin-bottom: 0.5rem;
}

.header__menu__inner__category > h5 {
  margin-bottom: 0;
  font-size: 1.2em !important;
}

.header__menu__inner__quizzes {
  text-align: left;
  margin-bottom: 0.5rem;
}

.header__menu__inner__nav {
  float: right;
  margin-right: 6rem;
  margin-top: .7rem;
}

.header__searchSubmit {
  -webkit-transform: translate(2.2rem);
          transform: translate(2.2rem);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.header__searchInput {
  border: 1px solid #8080808f;
  font-family: harmattan, myHarmattan, sans-serif, serif;
  font-size: 1.18rem;
  background: rgba(0, 0, 0, 0.178);
  -webkit-backdrop-filter: blur(165px);
          backdrop-filter: blur(165px);
  border-radius: 15px;
  height: 2.125rem;
  padding-right: 1.3125rem;
  width: 75%;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  z-index: 1;
}

.header__searchInput::-webkit-input-placeholder {
  color: black;
}

.header__searchInput:-ms-input-placeholder {
  color: black;
}

.header__searchInput::-ms-input-placeholder {
  color: black;
}

.header__searchInput::placeholder {
  color: black;
}

.header__searchInput:focus {
  -webkit-box-shadow: -2px 2px 5px black;
          box-shadow: -2px 2px 5px black;
}

.header .subHeader {
  position: absolute;
  top: 7rem;
  border: 1px solid transparent;
  background: rgba(0, 0, 0, 0.178);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 15px;
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
  border-radius: 20px;
  padding: 1.875rem 1.625rem;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  z-index: 5;
}

.header .subHeader__open {
  opacity: 1;
  top: 4.5rem;
  pointer-events: visibleFill;
}

.header .subHeader a:not(:last-child) {
  margin-bottom: 1.25rem;
}

.header .subHeader a:hover {
  color: rgba(163, 163, 163, 0.692) !important;
}

.header__categories {
  right: 5rem;
  z-index: 3;
}

.header__quizzes {
  right: 12rem;
}

.header__white span {
  background-color: #f0f0f0 !important;
}

.header__white a {
  color: #f0f0f0 !important;
}

.header__white a::after {
  border-bottom: 2px solid #f0f0f0 !important;
}

.header__white input {
  color: #f0f0f0 !important;
}

.header__white .input {
  color: #f0f0f0 !important;
}

.header__white .header__searchInput::-webkit-input-placeholder {
  color: white;
}

.header__white .header__searchInput:-ms-input-placeholder {
  color: white;
}

.header__white .header__searchInput::-ms-input-placeholder {
  color: white;
}

.header__white .header__searchInput::placeholder {
  color: white;
}

footer, .footer {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  color: #f0f0f0;
  -webkit-box-shadow: black 0 -5px 50px;
          box-shadow: black 0 -5px 50px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4D1420), to(#9D272D));
  background-image: linear-gradient(180deg, #4D1420, #9D272D);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  position: absolute;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer .footer__background, .footer .footer__background {
  height: 33rem;
}

footer > div, .footer > div {
  padding-top: 1rem;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
}

footer a, .footer a {
  color: white;
}

footer a:hover, .footer a:hover {
  color: white !important;
}

footer .newsletter, .footer .newsletter {
  z-index: 6;
  position: fixed;
  padding: 4rem;
  width: 50rem;
  top: 25%;
  left: 25%;
  background: rgba(255, 255, 255, 0.65);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  color: #161616;
  border: transparent;
  border-radius: 15px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

@media (max-width: 49.9375em) {
  footer .newsletter, .footer .newsletter {
    padding: 1rem;
    width: 25rem;
    left: 5%;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

footer .newsletter textarea, .footer .newsletter textarea {
  display: none;
}

footer .newsletter > p, .footer .newsletter > p {
  font-weight: 600;
}

footer .newsletter > input, .footer .newsletter > input {
  margin-left: 0.3rem;
  background: rgba(0, 0, 0, 0.601);
  border: transparent;
  border-radius: 7px;
  color: white;
}

footer .newsletter > input::-webkit-input-placeholder, .footer .newsletter > input::-webkit-input-placeholder {
  color: white;
}

footer .newsletter > input:-ms-input-placeholder, .footer .newsletter > input:-ms-input-placeholder {
  color: white;
}

footer .newsletter > input::-ms-input-placeholder, .footer .newsletter > input::-ms-input-placeholder {
  color: white;
}

footer .newsletter > input::placeholder, .footer .newsletter > input::placeholder {
  color: white;
}

@media (max-width: 49.9375em) {
  footer .newsletter > input, .footer .newsletter > input {
    width: 22rem;
  }
  footer .newsletter > input:not(:last-child), .footer .newsletter > input:not(:last-child) {
    margin-bottom: .325rem;
  }
}

footer .newsletter__blurBackground__show, .footer .newsletter__blurBackground__show {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background: rgba(0, 0, 0, 0.65);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

footer .newsletter__closeBtn, .footer .newsletter__closeBtn {
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}

@media (max-width: 49.9375em) {
  footer .newsletter__closeBtn, .footer .newsletter__closeBtn {
    right: .5rem;
    top: .5rem;
  }
}

footer .newsletter__submit, .footer .newsletter__submit {
  color: white;
  background: #690D11;
  border-radius: 7px;
}

footer .newsletter__categoryOptions, .footer .newsletter__categoryOptions {
  position: relative;
  left: 70%;
  margin-top: 1.125rem;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

@media (max-width: 49.9375em) {
  footer .newsletter__categoryOptions, .footer .newsletter__categoryOptions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    bottom: 0;
    left: 55%;
    margin-bottom: 1.125rem;
  }
}

footer .newsletter__categoryOptions > label, .footer .newsletter__categoryOptions > label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer .newsletter__categoryOptions > label:nth-child(3), .footer .newsletter__categoryOptions > label:nth-child(3) {
  width: 5.5rem;
}

footer .newsletter__categoryOptions > input, .footer .newsletter__categoryOptions > input {
  margin-right: 1.125rem;
}

@media (max-width: 49.9375em) {
  footer .newsletter__categoryOptions > input, .footer .newsletter__categoryOptions > input {
    width: .7rem !important;
    margin-left: .6rem;
  }
  footer .newsletter__categoryOptions > input:not(:last-child), .footer .newsletter__categoryOptions > input:not(:last-child) {
    margin-right: 1.125rem;
  }
}

footer .newsletter__message, .footer .newsletter__message {
  margin: 0;
  color: #af282f;
  font-size: 1rem;
  margin-top: .5rem;
}

@media (max-width: 49.9375em) {
  footer .newsletter__userName, .footer .newsletter__userName {
    width: 17rem;
  }
  footer .newsletter__submit, .footer .newsletter__submit {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 100%;
    margin: .425rem auto;
  }
  footer .newsletter__chooseCategory, .footer .newsletter__chooseCategory {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 60%;
    margin: 0 auto;
    margin-top: 0.425rem;
  }
}

footer__navbar, .footer__navbar {
  direction: rtl;
  margin-bottom: 0;
}

footer__navbar > li, .footer__navbar > li {
  font-size: 0.98rem;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

footer__navbar > li:not(:last-child), .footer__navbar > li:not(:last-child) {
  padding-left: 2rem;
}

footer__navbar > li:hover, .footer__navbar > li:hover {
  opacity: .5;
}

footer__detail, .footer__detail {
  margin: 0;
}

footer__detail > li, .footer__detail > li {
  font-size: 0.88rem;
  opacity: .5;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

footer__detail > li:not(:last-child), .footer__detail > li:not(:last-child) {
  padding-right: 1rem;
}

footer__detail > li:hover, .footer__detail > li:hover {
  opacity: 1;
}

footer__copyRight, .footer__copyRight {
  font-size: .9rem;
  opacity: .25;
}

footer__copyRight > h5, .footer__copyRight > h5 {
  margin: 0;
}

footer__copyRight > h5 > a, .footer__copyRight > h5 > a {
  opacity: .8;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

footer__copyRight > h5 > a:hover, .footer__copyRight > h5 > a:hover {
  opacity: 1;
}

.bg {
  z-index: -1;
  background-image: url("/static/img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 43.75rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-shadow: black 0 5px 50px;
          box-shadow: black 0 5px 50px;
}

.hero a:hover {
  color: inherit;
}

.hero h1 {
  margin-bottom: 0;
}

.hero p {
  line-height: 2.5rem;
  margin-top: 0;
}

.hero-inner {
  padding: 1.5rem;
  text-align: center;
  margin: 8rem 0;
}

.category {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.category__title {
  padding-top: 12rem;
}

.category img {
  border-radius: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 35px;
          box-shadow: rgba(0, 0, 0, 0.5) 0 0 35px;
  margin: 1.4375rem;
  margin-bottom: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.category img:hover {
  -webkit-box-shadow: rgba(105, 13, 17, 0.5) 0 0 55px;
          box-shadow: rgba(105, 13, 17, 0.5) 0 0 55px;
  -webkit-transform: translateY(-0.625rem);
          transform: translateY(-0.625rem);
}

.category p {
  margin-top: 0;
}

@media (max-width: 49.9375em) {
  .category img {
    width: 9rem;
  }
}

.sort {
  max-width: 62.5rem;
  height: 36rem;
}

.sort h2 {
  font-size: 1.18rem;
}

.sort h2::before, .sort h2::after {
  content: '____';
  position: relative;
  bottom: .5rem;
  display: inline-block;
  color: #690D11;
  font-family: Courier, monospace;
}

.sort h2::before {
  padding-right: .6rem;
}

.sort h2::after {
  padding-left: .6rem;
}

.sort > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 35rem;
  position: absolute;
  top: 0;
}

.sort__controller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: 7rem;
}

.sort__controller__btn {
  -webkit-box-shadow: inset 0 0 10px #a2a2a2;
          box-shadow: inset 0 0 10px #a2a2a2;
}

.sort__controller__btn:not(:last-child) {
  margin-right: 1.125rem;
}

.sort__controller__selected {
  background: linear-gradient(-45deg, #4D1420, #9D272D);
  color: white;
  -webkit-box-shadow: 0 0 7px black;
          box-shadow: 0 0 7px black;
}

.sort__controller > h5 {
  position: absolute;
  bottom: -1.8rem;
  font-size: 0.88rem;
  opacity: 0.5;
  pointer-events: none;
}

.sort__style {
  text-align: right;
  margin-left: 2rem;
  margin-right: 2rem;
}

.sort__right {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  min-width: 30rem;
  border-radius: 40px;
  border: solid 2px transparent;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  background-clip: padding-box;
  -webkit-box-shadow: 2px 5px 40px rgba(0, 0, 0, 0.233);
          box-shadow: 2px 5px 40px rgba(0, 0, 0, 0.233);
  padding: 2rem;
  margin: 1rem 2rem 0 0;
}

.sort__left {
  display: block;
}

.sort__left > div {
  border-radius: 40px;
  border: solid 2px transparent;
  min-width: 30rem;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  background-clip: padding-box;
  -webkit-box-shadow: 2px 5px 40px rgba(0, 0, 0, 0.233);
          box-shadow: 2px 5px 40px rgba(0, 0, 0, 0.233);
  padding: 2rem;
  margin: 1rem 2rem 0 0;
}

.sort__left-1 {
  height: 46.5%;
}

.sort__left-2 {
  height: 46.5%;
}

.sort__more {
  font-size: 1.18rem;
  opacity: .7;
  position: absolute;
  bottom: 1rem;
  left: 2rem;
}

.sort__more:hover {
  opacity: 1;
}

@media (max-width: 49.9375em) {
  .sort {
    max-width: 38.75rem;
    margin: auto 2rem;
  }
}

.categories {
  padding-top: 2rem;
  padding-bottom: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0;
}

.categories__item {
  width: 12rem;
  height: 18.75rem;
  margin-left: 0.96875rem;
  margin-right: 0.96875rem;
  margin-bottom: 1.93757rem;
}

@media (max-width: 49.9375em) {
  .categories__item {
    max-width: 8rem;
    height: 10.75rem;
  }
}

.categories__item > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #8a8a8a;
  border-radius: 40px;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

@media (max-width: 49.9375em) {
  .categories__item > h5 {
    font-size: 1.325rem;
  }
}

.categories__item__detail {
  background: #690D11;
  color: #f0f0f0;
  text-align: center;
  padding-top: 5.9375rem;
  -webkit-transform: translateY(-8.4rem);
          transform: translateY(-8.4rem);
  position: relative;
  z-index: -1;
  border-radius: 40px;
}

.categories__item__detail__show {
  -webkit-transform: translateY(-2.5rem);
          transform: translateY(-2.5rem);
}

.categoryList {
  text-align: right;
  line-height: 2.2rem;
  min-height: 60vh;
  padding: 1rem 2rem 1rem 2rem;
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
}

@media (max-width: 49.9375em) {
  .categoryList {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

.categoryList > ul > li::after {
  content: '◾';
  position: relative;
  top: 0.2rem;
}

.tools {
  direction: rtl;
  color: black;
  margin-bottom: 2rem;
}

.tools__sort {
  margin-left: .7rem;
}

.tools__sort__options {
  margin-top: .5rem;
}

.tools__sort__options button {
  padding: 0rem 0.4rem 0rem 0.4rem;
}

.tools__numberOfResult__btn {
  font-size: 1.18rem;
}

.tools__numberOfResult__options {
  margin-top: .5rem;
}

.tools__numberOfResult__options button {
  padding: 0rem 0.2rem 0rem 0.2rem;
}

.tools__submit {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: relative;
  bottom: 2rem;
  right: 0.6rem;
}

.tools__submit img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tools__submit:hover {
  cursor: pointer;
}

.pageTravel {
  padding: .2rem .7rem;
  margin-bottom: 2rem;
}

.pageTravel__pages > a:not(:last-child), .pageTravel__pages span:not(:last-child) {
  margin-right: 1.125rem;
}

.pageTravel__pages__curr {
  text-decoration: underline;
  -webkit-text-decoration-color: #af282f;
          text-decoration-color: #af282f;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
}

.pageTravel__arwLast {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-right: 1.125rem;
}

.pageTravel__arwNext {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-right: 1.125rem;
  margin-left: 1rem;
}

body {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.quizzes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (12.6rem)[auto-fill];
      grid-template-columns: repeat(auto-fill, 12.6rem);
  -ms-grid-rows: (14.4rem)[auto-fill];
      grid-template-rows: repeat(auto-fill, 14.4rem);
  gap: 2.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 49.9375em) {
  .quizzes {
    -ms-grid-columns: (11rem)[auto-fill];
        grid-template-columns: repeat(auto-fill, 11rem);
    gap: .7rem;
  }
}

.quizzes__item {
  width: 12.5rem;
  height: 16.2135rem;
}

@media (max-width: 49.9375em) {
  .quizzes__item {
    width: 10rem;
    height: 12.75rem;
  }
}

.quizzes__item a > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 3px solid #707070;
  border-radius: 40px;
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
}

.quizzes__item > h5 {
  text-align: center;
  -webkit-transform: translateY(-13.125rem);
          transform: translateY(-13.125rem);
  color: #f0f0f0;
  font-size: 1.6rem;
}

.quizzes__item > h5 > a:hover {
  color: inherit;
}

@media (max-width: 49.9375em) {
  .quizzes__item > h5 {
    -webkit-transform: translateY(-8.75rem);
            transform: translateY(-8.75rem);
    font-size: 1.18rem;
  }
}

.quiz__head {
  font-family: myChanga, sans-serif, serif;
}

.quiz__head h1, .quiz__head h2, .quiz__head h3, .quiz__head h4, .quiz__head h5, .quiz__head p {
  margin: 0;
  line-height: 2rem;
  color: #f0f0f0;
  font-weight: 100;
}

.quiz__head h3 {
  font-size: 1.225rem;
}

.quiz__head h5 {
  font-size: 0.98rem;
}

.quiz__questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.quiz__questions::after {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.466);
  pointer-events: none;
  z-index: -1;
}

.quiz__container {
  max-width: 30rem;
  margin: auto 2rem;
  padding: 0.1rem;
  padding-bottom: 2rem;
  border-radius: 24px;
  -webkit-transition: left 1.3s;
  transition: left 1.3s;
  margin-top: 5rem;
  margin-right: 22rem;
  margin-left: 22rem;
  position: relative;
  left: -16rem;
}

@media (max-width: 49.9375em) {
  .quiz__container {
    left: -19.8rem;
  }
}

.quiz__question {
  font-family: myChanga, sans-serif, serif;
  font-weight: 600;
  font-size: 1.18rem;
  min-height: 4rem;
  color: white;
  padding: 19px;
  margin: -2px;
  border-radius: 23px 25px 0 0;
  background: #00000065;
  -webkit-backdrop-filter: blur(165px);
          backdrop-filter: blur(165px);
}

.quiz__autoQuestionChangerSwitch {
  position: relative;
  top: 1rem;
  left: 0.7rem;
  z-index: 2;
}

.quiz__autoQuestionChangerSwitch > h5 {
  font-size: .77rem;
}

.quiz__autoQuestionChangerSwitch__btn {
  width: 2rem;
  height: 1rem;
  border: 1px solid white;
  background: white;
  border-radius: 25px;
  margin-left: .7rem;
  -webkit-box-shadow: inset 0 0 5px black, 0 0 5px black;
          box-shadow: inset 0 0 5px black, 0 0 5px black;
}

.quiz__autoQuestionChangerSwitch__innerBtn {
  width: 0.9rem;
  height: 0.9rem;
  background: green;
  border-radius: 10px;
  margin: 0;
  padding: 0;
  position: relative;
  top: 0.006rem;
  left: 1rem;
  -webkit-box-shadow: inset 0 0 4px black;
          box-shadow: inset 0 0 4px black;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.quiz__autoQuestionChangerSwitch__innerBtn__switched {
  background: red;
  left: 0;
}

.quiz__hider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35rem;
  height: 37rem;
  overflow: hidden;
  position: relative;
  bottom: 3.5rem;
  z-index: 1;
}

.quiz__questionChanger {
  cursor: pointer;
  position: absolute;
  top: 38%;
  z-index: 1;
}

@media (max-width: 49.9375em) {
  .quiz__questionChanger {
    right: 15%;
    top: 90%;
  }
}

@media (max-width: 87.4375em) {
  .quiz__questionChanger {
    right: 15%;
    top: 90%;
  }
}

.quiz__questionChanger__last {
  left: 30%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.quiz__questionChanger__next {
  right: 30%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quiz__questionChanger > img {
  margin: auto;
}

.quiz__questionCounter {
  position: absolute;
  top: 3rem;
  left: 63.5%;
  display: block;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  color: #f0f0f0;
}

.quiz__questionCounter__divider {
  position: relative;
  bottom: 0.7rem;
  left: 0.29rem;
  -webkit-transform: rotate(16.3deg) scaleY(2.9);
          transform: rotate(16.3deg) scaleY(2.9);
}

.quiz__questionCounter__totalQuestions {
  position: relative;
  bottom: 1.7rem;
  left: 0.8rem;
}

.quiz__4option {
  padding-left: 1rem;
  padding-right: 1rem;
}

.quiz__4option input {
  opacity: 0;
}

.quiz__4option label {
  color: #f0f0f0;
  display: block;
  width: 21rem;
  border: 2px solid #adadad;
  border-radius: 25px;
  padding: 0.6rem;
  cursor: pointer;
}

.quiz__4option label:hover {
  background: #00000017;
}

.quiz__4option label::before {
  content: '';
  height: 1px;
  font-family: vermin-vibes-2-soft, myChanga, sans-serif;
  width: 20px;
  border-radius: 50%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 1rem;
  color: #f0f0f0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.quiz__4option label:nth-child(2)::before {
  content: '1';
}

.quiz__4option label:nth-child(4)::before {
  content: '2';
}

.quiz__4option label:nth-child(6)::before {
  content: '3';
}

.quiz__4option label:nth-child(8)::before {
  content: '4';
}

.quiz__4option [type="radio"]:checked + label {
  background: #0000005e;
  -webkit-backdrop-filter: blur(93px);
          backdrop-filter: blur(93px);
}

.quiz__4option [type="radio"]:checked + label::before {
  color: white;
}

.quiz .lowHighContainer {
  margin: 0 15rem !important;
  margin-top: 5rem !important;
}

.quiz__lowHigh {
  margin-top: 2.5625rem;
}

.quiz__lowHigh input {
  display: none;
}

.quiz__lowHigh label {
  border: 1px solid #707070;
  border-radius: 100px;
  margin-right: .4325rem;
  margin-left: .4325rem;
}

.quiz__lowHigh label:nth-child(3), .quiz__lowHigh label:nth-child(19) {
  padding-right: 2.1875rem;
}

.quiz__lowHigh label:nth-child(5), .quiz__lowHigh label:nth-child(17) {
  padding-right: 2.4875rem;
  padding-top: .25rem;
}

.quiz__lowHigh label:nth-child(7), .quiz__lowHigh label:nth-child(15) {
  padding-right: 2.7875rem;
  padding-top: .5rem;
}

.quiz__lowHigh label:nth-child(9), .quiz__lowHigh label:nth-child(13) {
  padding-right: 3rem;
  padding-top: .75rem;
}

.quiz__lowHigh label:nth-child(11) {
  padding-right: 3.3rem;
  padding-top: 1rem;
}

.quiz__lowHigh :checked + label {
  background: #af282f;
}

.result {
  font-family: myChanga, sans-serif, serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media (max-width: 49.9375em) {
  .result {
    display: box;
  }
}

.result__title > h3 {
  font-size: 1.18rem;
  font-weight: 300;
  margin-bottom: 0;
}

.result__subtitle {
  font-size: 2rem;
}

.result__share h5 {
  margin-bottom: 1rem;
}

.result__share > div {
  font-size: 0.98rem;
  font-weight: 600;
}

.result__share__button {
  background: black;
  color: white;
  width: 10rem;
  margin: auto;
  padding: .875rem 1rem .875rem 1rem;
  border-radius: 25px;
  margin-bottom: 1rem;
}

.result__score {
  font-size: 2rem;
  font-weight: 600;
}

@media (max-width: 49.9375em) {
  .result__score {
    box-ordinal-group: 1;
  }
}

.result__detail {
  text-align: right;
}

.result__detail > h5 {
  margin-bottom: .7rem;
  margin-top: 0;
}

.result__detail__wrongTime {
  margin-right: 1rem;
}

@media (max-width: 49.9375em) {
  .result__detail {
    box-ordinal-group: 2;
  }
}

.resultQuiz4Option {
  padding: 0;
}

.resultQuiz4Option__title > h5 {
  margin-top: 0;
}

.contact {
  text-align: center;
  min-height: 44vh;
}

.contact > h4 {
  margin-top: 0;
}

.contact__socialMedia > li {
  color: #af282f;
  font-weight: 600;
}

.contact__socialMedia > li:not(:last-child) {
  padding-right: 1.125rem;
}

.basicPage {
  min-height: 44vh;
  width: 85%;
  margin-left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  text-align: center;
}

.searchResult {
  text-align: center;
  min-height: 60vh;
}

@media (max-width: 49.9375em) {
  .searchResult {
    min-height: 120vh;
  }
}

.searchResult__category {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: right;
  width: 50%;
}

@media (max-width: 49.9375em) {
  .searchResult__category {
    width: 100%;
  }
}

.searchResult__category > h4 {
  width: 100%;
  margin: 0 0 2rem 0;
}

.searchResult__category__item {
  width: 12.5rem;
  height: 16.2135rem;
  margin-left: 0.96875rem;
  margin-right: 0.96875rem;
  margin-bottom: 1.93757rem;
}

@media (max-width: 49.9375em) {
  .searchResult__category__item {
    width: 10rem;
    height: 14.75rem;
  }
}

.searchResult__category__item__notFound {
  margin: 0 !important;
}

.searchResult__category__item a > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 3px solid #707070;
  border-radius: 40px;
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
}

.searchResult__category__item > h5 {
  text-align: center;
  -webkit-transform: translateY(-210px);
          transform: translateY(-210px);
  color: #f0f0f0;
  font-size: 1.6rem;
}

.searchResult__quizzes {
  float: left;
  width: 50%;
}

@media (max-width: 49.9375em) {
  .searchResult__quizzes {
    width: 100%;
  }
}

.searchResult__quizzes__item {
  text-align: right;
  width: 65%;
  display: block;
  margin-bottom: 1rem;
}

@media (max-width: 49.9375em) {
  .searchResult__quizzes__item {
    text-align: center;
    width: 100%;
  }
}

.searchResult__quizzes__item::after {
  content: '◾';
  position: relative;
  top: 0.2rem;
}

.moreSearchResult {
  text-align: center;
  min-height: 100vh;
}

.moreSearchResult__quizzes__item::after {
  content: '◾';
  position: relative;
  top: 0.2rem;
}

.newest-mostViews {
  text-align: center;
  min-height: 60vh;
}

.newest-mostViews__item {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: auto;
  max-width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1.125rem;
}

.newest-mostViews__item::after {
  content: '◾';
  position: relative;
  top: 0.2rem;
}

.notFound {
  min-height: 30vh;
  text-align: center;
}

.notFound h1 {
  margin-top: 10rem;
  padding-bottom: 2rem;
}

.notFound div {
  padding-bottom: 2rem;
}

.notFound div > p {
  font-size: 1rem !important;
}

.notFound div > a {
  font-size: 1rem !important;
}
/*# sourceMappingURL=style.css.map */