@charset "UTF-8";
@font-face {
  font-family: "myHarmattan";
  font-display: swap;
  src: url("/static/font/Harmattan-Regular.woff2") format("woff2"), url("/static/font/Harmattan-Regular.woff") format("woff"), url("/static/font/Harmattan-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "myChanga";
  font-display: swap;
  src: url("/static/font/Changa-ExtraLight.woff2") format("woff2"), url("/static/font/Changa-ExtraLight.woff") format("woff"), url("/static/font/Changa-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "changeForNotChrome";
  font-display: swap;
  src: url("/static/font/Changa-Light.woff2") format("woff2"), url("/static/font/Changa-Light.woff") format("woff"), url("/static/font/Changa-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Vermin-Vibes-2-Soft";
  font-display: swap;
  src: url("/static/font/Vermin-Vibes-2-Soft.woff2") format("woff2"), url("/static/font/Vermin-Vibes-2-Soft.woff") format("woff"), url("/static/font/Vermin-Vibes-2-Soft.ttf") format("truetype");
}

.wrapper-sm {
  max-width: 30rem;
  margin: 1.125rem auto;
}

@media (max-width: 49.9375em) {
  .wrapper-sm {
    max-width: 21rem;
  }
}

.wrapper-med {
  max-width: 67.5rem;
  margin: 1.125rem auto;
  position: relative;
}

@media (max-width: 49.9375em) {
  .wrapper-med {
    max-width: 45.75rem;
    margin: 1.125rem 1rem;
  }
}

.wrapper-l {
  max-width: 82.5rem;
  margin: 1.125rem auto;
}

.space-sm {
  margin-top: 2rem;
}

@media (max-width: 49.9375em) {
  .space-sm {
    margin-top: 1rem;
  }
}

.space-med {
  margin-top: 5rem;
}

@media (max-width: 49.9375em) {
  .space-med {
    margin-top: 2.5rem;
  }
}

.space-l {
  margin-top: 8rem;
}

@media (max-width: 49.9375em) {
  .space-l {
    margin-top: 4rem;
  }
}

.space-xl {
  margin-top: 12rem;
}

@media (max-width: 49.9375em) {
  .space-xl {
    margin-top: 6rem;
  }
}

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .lightGls {
    background: rgba(255, 255, 255, 0.61) !important;
  }
  .darkGls {
    background: rgba(0, 0, 0, 0.83) !important;
  }
  .header__menu {
    background: #b7b7b7 !important;
  }
  .header__searchInput {
    background: rgba(0, 0, 0, 0.22) !important;
  }
  .sort__right {
    -webkit-box-shadow: 0 0 15px #666 !important;
            box-shadow: 0 0 15px #666 !important;
    background: #fff !important;
  }
  .sort__left > div {
    -webkit-box-shadow: 0 0 15px #666 !important;
            box-shadow: 0 0 15px #666 !important;
    background: #fff !important;
  }
  .tools__submit {
    background: rgba(0, 0, 0, 0.54) url("/static/img/Base/arw-submit.svg") no-repeat center center !important;
  }
  .quiz__head {
    font-family: changeForNotChrome, sans-serif, serif !important;
    font-weight: 300;
  }
  .quiz__question {
    background: #0000008f !important;
    font-family: changeForNotChrome, sans-serif, serif !important;
    font-weight: 300 !important;
  }
  .newsletter__blurBackground__show {
    background: rgba(0, 0, 0, 0.81) !important;
  }
  .result {
    font-family: changeForNotChrome, sans-serif, serif !important;
    font-weight: 300 !important;
  }
  .nightMode {
    -webkit-transform: translate(0.53rem, -0.45rem) !important;
            transform: translate(0.53rem, -0.45rem) !important;
  }
  .subHeader {
    background: rgba(0, 0, 0, 0.53) !important;
  }
}

input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.tx-al-l {
  text-align: left;
}

.tx-al-c {
  text-align: center;
}

.tx-al-r {
  text-align: right;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: harmattan, myHarmattan, sans-serif, serif;
  font-size: 1.325rem;
  position: relative;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: overlay;
}

body::-webkit-scrollbar {
  width: .625rem;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.452);
  border-radius: 25px;
}

h1 {
  font-size: 2rem;
  padding-bottom: 1.25rem;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 1.6rem;
  letter-spacing: .1rem;
  padding: 0 0 1rem 0;
  margin: 0;
}

@media (max-width: 49.9375em) {
  h2 {
    text-align: right;
  }
}

h3 {
  letter-spacing: .1rem;
}

@media (max-width: 49.9375em) {
  h3 {
    text-align: right;
  }
}

p {
  font-size: 1.18rem;
}

@media (max-width: 49.9375em) {
  p {
    text-align: right;
  }
}

a, a:visited, a:hover {
  text-decoration: none;
  color: unset;
}

a:hover, a:visited:hover, a:hover:hover {
  color: #af282f;
  cursor: pointer;
}

ul {
  padding: 0;
  direction: rtl;
}

li {
  list-style: none;
  font-size: 1.325rem;
}

button, .btn {
  border: 0;
  border-radius: 5px;
  padding: 0 1rem;
  outline: none;
  font-family: harmattan, myHarmattan, sans-serif, serif;
  font-size: 1.18rem;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  cursor: pointer;
}

button__grad, .btn__grad {
  background-image: linear-gradient(-45deg, #4D1420, #9D272D);
  border: 0;
  border-radius: 33px;
  padding: .4rem 1.54375rem;
  color: #f0f0f0 !important;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.295);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.295);
}

bold {
  font-weight: 600;
}

input {
  outline: none;
}

.input {
  height: 2.125rem;
  width: 17rem;
  border: 0;
  border-radius: 20px;
  padding-right: 1rem;
  padding-left: 1rem;
  font-family: harmattan, myHarmattan, sans-serif, serif;
  font-size: 1.18rem;
  color: #161616;
  margin: 0;
  direction: rtl;
}

.hoverAnimation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hoverAnimation a::after, .hoverAnimation li::after {
  content: '';
  border-bottom: 2px solid #161616;
  width: 0%;
  display: block;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.hoverAnimation a:hover::after, .hoverAnimation li:hover::after {
  width: 100%;
}

.backBtn {
  position: relative;
  margin-left: 25%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

@media (max-width: 49.9375em) {
  .backBtn {
    margin-left: 15%;
  }
}

.loadingScreen {
  top: 0;
  left: 0;
  background: linear-gradient(-45deg, #4D1420, #9D272D);
  width: 100%;
  height: 100%;
  z-index: 99;
  color: white;
}

.loadingScreen:after {
  -webkit-animation: changeContent .8s linear infinite;
          animation: changeContent .8s linear infinite;
  content: "⠋";
  font-size: 5rem;
}

@-webkit-keyframes changeContent {
  10% {
    content: "⠙";
  }
  20% {
    content: "⠹";
  }
  30% {
    content: "⠸";
  }
  40% {
    content: "⠼";
  }
  50% {
    content: "⠴";
  }
  60% {
    content: "⠦";
  }
  70% {
    content: "⠧";
  }
  80% {
    content: "⠇";
  }
  90% {
    content: "⠏";
  }
}

@keyframes changeContent {
  10% {
    content: "⠙";
  }
  20% {
    content: "⠹";
  }
  30% {
    content: "⠸";
  }
  40% {
    content: "⠼";
  }
  50% {
    content: "⠴";
  }
  60% {
    content: "⠦";
  }
  70% {
    content: "⠧";
  }
  80% {
    content: "⠇";
  }
  90% {
    content: "⠏";
  }
}

.fade-out {
  visibility: hidden !important;
  opacity: 0 !important;
  -webkit-transition: all .53s ease-in-out !important;
  transition: all .53s ease-in-out !important;
}

.fade-in {
  visibility: visible !important;
  opacity: 1 !important;
  -webkit-transition: all .53s ease-in-out !important;
  transition: all .53s ease-in-out !important;
}

.noVis {
  visibility: hidden;
  display: none;
  height: 0;
  width: 0;
}

.pointerOff {
  pointer-events: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-fe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-jc-fs {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-ai-fs {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.grid-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.center {
  margin-left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.pos-abs {
  position: absolute;
}

.pos-rel {
  position: relative;
}

.pos-fix {
  position: fixed;
}

.beforeAfterDecor {
  text-align: center;
}

.beforeAfterDecor::before {
  content: '';
  width: 3.18rem;
  height: 0.187rem;
  background: -webkit-gradient(linear, right top, left top, from(darkRed), to(#c41f1f));
  background: linear-gradient(270deg, darkRed, #c41f1f);
  margin-right: 1rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.beforeAfterDecor::after {
  content: '';
  width: 3.18rem;
  height: 0.187rem;
  background: -webkit-gradient(linear, left top, right top, from(darkRed), to(#c41f1f));
  background: linear-gradient(90deg, darkRed, #c41f1f);
  margin-left: 1rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.adverts {
  position: absolute;
  background-clip: inherit;
  border-radius: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: gray;
  color: white;
}

.adverts__top {
  display: none;
  width: 100%;
  height: 10rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: gray;
  margin-bottom: 1.125rem;
}

@media (max-width: 85em) {
  .adverts__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.adverts__overTop {
  width: 100%;
  margin-top: -4rem;
  top: 0;
}

.adverts__bottom {
  display: none;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: gray;
  height: 10rem;
  margin-bottom: 1.125rem;
}

@media (max-width: 85em) {
  .adverts__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.adverts__overBottom {
  position: fixed;
  width: 100%;
  height: 4rem;
  bottom: 0;
}

.adverts__left {
  width: 13rem;
  height: 35rem;
  left: 1.5rem;
}

@media (max-width: 85em) {
  .adverts__left {
    display: none;
  }
}

.adverts__right {
  width: 13rem;
  height: 35rem;
  right: 1.5rem;
}

@media (max-width: 85em) {
  .adverts__right {
    display: none;
  }
}

.adverts__bottomIndex {
  position: inherit;
  height: 4rem;
  padding: 7rem;
  margin: 1rem;
  color: black;
}

.pageTravel {
  width: 19rem;
  padding: .2rem .7rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.pageTravel__pages > a:not(:last-child), .pageTravel__pages span:not(:last-child) {
  margin-right: 1.125rem;
}

.pageTravel__pages__curr {
  text-decoration: underline;
  -webkit-text-decoration-color: #af282f;
          text-decoration-color: #af282f;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
}

.pageTravel__arwLast {
  width: 1.25rem;
  height: 1.25rem;
  background: url("/static/img/Base/arw-travelPage.svg") no-repeat;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-right: 1.125rem;
}

.pageTravel__arwNext {
  width: 1.25rem;
  height: 1.25rem;
  background: url("/static/img/Base/arw-travelPage.svg") no-repeat;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.pageTravel .finalPage {
  padding-right: 1.125rem;
}

.lightGls {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  border: solid 2px transparent;
  -webkit-backdrop-filter: blur(9px);
          backdrop-filter: blur(9px);
  background-clip: padding-box;
  -webkit-box-shadow: 10px 10px 10px rgba(80, 52, 52, 0.336);
          box-shadow: 10px 10px 10px rgba(80, 52, 52, 0.336);
}

.darkGls {
  padding: .4rem;
  color: white;
  border-radius: 7px;
  border: solid 1px transparent;
  -webkit-box-shadow: 2px 2px 8px #0000005e, 0 0 15px #3f3f3f5e;
          box-shadow: 2px 2px 8px #0000005e, 0 0 15px #3f3f3f5e;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  background: rgba(0, 0, 0, 0.35);
  background-clip: padding-box;
}

.nightMode {
  background: url("/static/img/Base/nightMode.png") no-repeat center center;
  -webkit-transform: translate(0.54rem, -0.33rem);
          transform: translate(0.54rem, -0.33rem);
  height: 1.6875rem;
  z-index: 3;
}

@media (max-width: 49.9375em) {
  .nightMode {
    -webkit-transform: translate(0.49rem, -0.33rem);
            transform: translate(0.49rem, -0.33rem);
  }
}

.nightMode__container {
  background: rgba(0, 0, 0, 0.493);
  width: 1.6875rem;
  height: 1.6875rem;
  padding: .3rem;
}

@media (max-width: 49.9375em) {
  .nightMode__container {
    position: relative;
    top: 2rem;
  }
}

.divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  width: 15rem;
  margin-left: 50%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.quizContainer__category__header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.quizContainer__category__header a {
  padding: 0.3rem 1rem;
  background: #ececec;
  -webkit-box-shadow: 0 0 5px #00000047;
          box-shadow: 0 0 5px #00000047;
}

.quizContainer__category__inner {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 67.5rem;
  margin: 1.125rem auto;
  position: relative;
}

@media (max-width: 49.9375em) {
  .quizContainer__category__inner {
    max-width: auto;
    margin: auto;
  }
}

.quizContainer__category__inner li {
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
  -webkit-box-shadow: 0 0 10px #000000bd;
          box-shadow: 0 0 10px #000000bd;
  position: relative;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  border-radius: .65rem;
  height: 11rem;
}

@media (max-width: 49.9375em) {
  .quizContainer__category__inner li {
    height: 9.6rem;
    margin: .5rem auto;
  }
}

.quizContainer__category__inner li:hover {
  -webkit-transform: translate(10px, -10px);
          transform: translate(10px, -10px);
}

.quizContainer__category__inner li article {
  background: #fff;
  -webkit-box-shadow: 0 0 10px 0 0 10px #c7c7c7bd, inset 0 0 10px #5f5f5f;
          box-shadow: 0 0 10px 0 0 10px #c7c7c7bd, inset 0 0 10px #5f5f5f;
  padding-bottom: 1rem;
  border-radius: .65rem;
}

.quizContainer__category__inner li article::before {
  content: '';
  height: 100%;
  width: 100%;
  background: #690D11;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  border-radius: .65rem;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.quizContainer__category__inner li article:hover::before {
  -webkit-transform: translate(-10px, 10px);
          transform: translate(-10px, 10px);
}

.quizContainer__category__inner li a {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.quizContainer__category__inner li img {
  width: 14rem;
  height: 8rem;
  border-radius: 10px 10px 0 0;
}

@media (max-width: 49.9375em) {
  .quizContainer__category__inner li img {
    width: 11rem;
    height: 6.5rem;
  }
}

.quizContainer__category__inner li span {
  padding-right: .5rem;
  overflow-wrap: anywhere;
  padding-left: 1rem;
  padding-right: 1rem;
  direction: rtl;
  font-size: 1.18rem;
  width: 14rem;
}

@media (max-width: 49.9375em) {
  .quizContainer__category__inner li span {
    width: 11rem;
  }
}

.quizContainer__category__inner__views {
  position: absolute;
  left: 0.5rem;
  bottom: 2.5rem;
  background: #eaeaea;
  padding: 0 0.5rem;
  font-size: 0.9rem;
  z-index: 2;
  border-radius: 4px;
  border: .5px solid #0000002e;
  -webkit-box-shadow: 0 0 5px #797979;
          box-shadow: 0 0 5px #797979;
}

.quizContainer__category__inner__views::before {
  content: url("/static/img/Base/eyeEmoji.png");
  position: relative;
  top: 0.2rem;
  margin-right: 0.2rem;
}

@media (max-width: 49.9375em) {
  .hideForMobile {
    display: none;
  }
}

@media (min-width: 50em) {
  .hideForDesktop {
    display: none;
  }
}

.header {
  font-size: 1.18rem;
  font-family: harmattan, myHarmattan, sans-serif, serif;
  margin-bottom: 2rem;
  padding: 1rem;
}

.header__logo {
  z-index: 1;
}

.header__logo img {
  width: auto;
  height: 2.7875rem;
}

@media (max-width: 49.9375em) {
  .header__logo img {
    height: 2.4875rem;
  }
}

.header__links {
  padding: 1.25rem 0;
  margin-right: 1.5rem;
  direction: rtl;
  z-index: 1;
}

.header__links a {
  color: #161616;
  text-shadow: 0 0 5px white;
}

.header__links a:not(:last-child) {
  margin-left: 2rem;
}

.header .slideMenu-hide {
  top: -14rem !important;
}

.header__menu {
  z-index: 3;
  top: 0;
  left: 0;
  background: rgba(56, 56, 56, 0.3);
  -webkit-box-shadow: 0 7px 20px black;
          box-shadow: 0 7px 20px black;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border: 2px solid transparent;
  height: 14rem;
  width: 100%;
  border-radius: 0 0 55px 55px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.header__menu__openBtn {
  background: inherit;
  top: 1rem;
  right: 1rem;
  z-index: 1;
}

@media (max-width: 49.9375em) {
  .header__menu__openBtn {
    top: 1.7rem;
  }
}

.header__menu__openBtn > span {
  display: block;
  width: 1.625rem;
  height: 0.18rem;
  background-color: #161616;
}

.header__menu__openBtn > span:not(:last-child) {
  margin-bottom: .25rem;
}

.header__menu__closeBtn {
  background: url("/static/img/Base/close-btn.svg") center center no-repeat;
  width: 1.75rem;
  height: 1.75rem;
  top: .5rem;
  left: .5rem;
}

.header__menu__inner {
  color: black;
  font-size: 0.9rem;
  z-index: 2;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  grid-gap: 1rem;
  margin-top: 1rem;
}

.header__menu__inner ul > li {
  margin-bottom: .2rem;
}

.header__menu__inner ul > li > a:hover {
  color: inherit !important;
}

.header__menu__inner__quizzes {
  margin-bottom: 0.5rem;
}

.header__menu__inner__other {
  margin-top: 2.5rem;
}

.header__search__opener {
  background: url("/static/img/Base/srch-black.svg") no-repeat center center;
  width: 1.5rem;
  height: 2rem;
  margin-right: 4rem;
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
}

.header__search__opener__bg {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  background: rgba(0, 0, 0, 0.75);
}

.header__search__submit {
  background: url("/static/img/Base/srch-black.svg") no-repeat center center;
  -webkit-transform: translate(2.2rem);
          transform: translate(2.2rem);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  z-index: 5;
  width: 1.5rem;
  height: 2rem;
  border: 0;
}

@media (max-width: 49.9375em) {
  .header__search__submit {
    -webkit-transform: translate(1.2rem);
            transform: translate(1.2rem);
  }
}

.header__search__input {
  border: 1px solid #8080808f;
  font-family: harmattan, myHarmattan, sans-serif, serif;
  font-size: 1.18rem;
  background: rgba(0, 0, 0, 0.178);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 15px;
  height: 2.125rem;
  padding-right: 1.3125rem;
  width: 75%;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  z-index: 4;
}

@media (max-width: 49.9375em) {
  .header__search__input {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    left: 50%;
    top: 25%;
    height: 4.125rem;
    font-size: 1.6rem;
    background: rgba(0, 0, 0, 0.35);
  }
}

.header__search__input::-webkit-input-placeholder {
  color: black;
}

.header__search__input:-ms-input-placeholder {
  color: black;
}

.header__search__input::-ms-input-placeholder {
  color: black;
}

.header__search__input::placeholder {
  color: black;
}

.header__search__input:focus {
  -webkit-box-shadow: -2px 2px 5px black;
          box-shadow: -2px 2px 5px black;
}

.header__search__input__m {
  -webkit-transform: translate(0.5rem, 0);
          transform: translate(0.5rem, 0);
  position: absolute;
  top: 1.4rem;
  right: 5.1rem;
  width: 14rem;
}

.header .subHeader {
  top: 8rem;
  border: 1px solid transparent;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.178);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
  border-radius: 20px;
  padding: 1.875rem 1.625rem;
  opacity: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  z-index: 5;
}

.header .subHeader__open {
  opacity: 1;
  top: 5.5rem;
  pointer-events: visibleFill;
}

.header .subHeader a:not(:last-child) {
  margin-bottom: 1.25rem;
}

.header .subHeader a:hover {
  color: rgba(163, 163, 163, 0.692) !important;
}

.header__categories {
  background: rgba(0, 0, 0, 0.18);
  line-height: 2rem;
  right: 12rem;
  z-index: 3;
}

.header__quizzes {
  background: rgba(0, 0, 0, 0.18);
  line-height: 2rem;
  right: 19rem;
}

.header__white span {
  background-color: #f0f0f0 !important;
}

.header__white a {
  color: #f0f0f0 !important;
  text-shadow: 0 0 5px black;
}

.header__white a::after {
  border-bottom: 2px solid #f0f0f0 !important;
}

.header__white input {
  color: #f0f0f0 !important;
}

.header__white .input {
  color: #f0f0f0 !important;
}

.header__white .header__searchInput::-webkit-input-placeholder {
  color: white;
}

.header__white .header__searchInput:-ms-input-placeholder {
  color: white;
}

.header__white .header__searchInput::-ms-input-placeholder {
  color: white;
}

.header__white .header__searchInput::placeholder {
  color: white;
}

.header__white .header__searchSubmit {
  background: url("/static/img/Base/srch-white.svg") no-repeat center center !important;
}

footer, .footer {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  color: #f0f0f0;
  -webkit-box-shadow: black 0 -5px 50px;
          box-shadow: black 0 -5px 50px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4D1420), to(#9D272D));
  background-image: linear-gradient(180deg, #4D1420, #9D272D);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  position: absolute;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer .footer__background, .footer .footer__background {
  height: 33rem;
}

footer > div, .footer > div {
  padding-top: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
}

footer a, .footer a {
  color: white;
}

footer a:hover, .footer a:hover {
  color: white !important;
}

footer .newsletter, .footer .newsletter {
  z-index: 6;
  position: fixed;
  padding: 4rem;
  width: 50rem;
  top: 25%;
  left: 25%;
  background: rgba(255, 255, 255, 0.65);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  color: #161616;
  border: transparent;
  border-radius: 15px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

@media (max-width: 49.9375em) {
  footer .newsletter, .footer .newsletter {
    padding: 1rem;
    width: 90vw;
    left: 5%;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

footer .newsletter textarea, .footer .newsletter textarea {
  display: none;
}

footer .newsletter > p, .footer .newsletter > p {
  font-weight: 600;
}

@media (max-width: 49.9375em) {
  footer .newsletter > p, .footer .newsletter > p {
    margin-top: 3rem;
  }
}

footer .newsletter > input, .footer .newsletter > input {
  margin-left: 0.3rem;
  background: rgba(0, 0, 0, 0.601);
  border: transparent;
  border-radius: 7px;
  color: white;
}

footer .newsletter > input::-webkit-input-placeholder, .footer .newsletter > input::-webkit-input-placeholder {
  color: white;
}

footer .newsletter > input:-ms-input-placeholder, .footer .newsletter > input:-ms-input-placeholder {
  color: white;
}

footer .newsletter > input::-ms-input-placeholder, .footer .newsletter > input::-ms-input-placeholder {
  color: white;
}

footer .newsletter > input::placeholder, .footer .newsletter > input::placeholder {
  color: white;
}

@media (max-width: 49.9375em) {
  footer .newsletter > input, .footer .newsletter > input {
    margin-left: 0;
    width: 100%;
  }
  footer .newsletter > input:not(:last-child), .footer .newsletter > input:not(:last-child) {
    margin-bottom: .325rem;
  }
}

footer .newsletter__blurBackground__show, .footer .newsletter__blurBackground__show {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background: rgba(0, 0, 0, 0.65);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

footer .newsletter__closeBtn, .footer .newsletter__closeBtn {
  background: url("/static/img/Base/close-btn.svg") no-repeat center center;
  width: 1.75rem;
  height: 1.75rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}

@media (max-width: 49.9375em) {
  footer .newsletter__closeBtn, .footer .newsletter__closeBtn {
    right: .5rem;
    top: .5rem;
  }
}

footer .newsletter__reCaptcha, .footer .newsletter__reCaptcha {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

footer .newsletter__submit, .footer .newsletter__submit {
  color: white;
  background: #690D11;
  border-radius: 7px;
}

footer .newsletter__categoryOptions, .footer .newsletter__categoryOptions {
  margin-top: 1.125rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 49.9375em) {
  footer .newsletter__categoryOptions, .footer .newsletter__categoryOptions {
    margin-bottom: 1.125rem;
  }
}

footer .newsletter__categoryOptions > label, .footer .newsletter__categoryOptions > label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .newsletter__categoryOptions > label:nth-child(3), .footer .newsletter__categoryOptions > label:nth-child(3) {
  width: 5.5rem;
}

footer .newsletter__categoryOptions > label > input, .footer .newsletter__categoryOptions > label > input {
  margin-left: 1.125rem;
  margin-right: .2rem;
}

@media (max-width: 49.9375em) {
  footer .newsletter__categoryOptions > label > input, .footer .newsletter__categoryOptions > label > input {
    width: .7rem !important;
    margin-left: .6rem;
  }
  footer .newsletter__categoryOptions > label > input:not(:last-child), .footer .newsletter__categoryOptions > label > input:not(:last-child) {
    margin-right: 1.125rem;
  }
}

@media (max-width: 49.9375em) {
  footer .newsletter__userName, .footer .newsletter__userName {
    width: 17rem;
  }
  footer .newsletter__submit, .footer .newsletter__submit {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 100%;
    margin: .425rem auto;
  }
  footer .newsletter__chooseCategory, .footer .newsletter__chooseCategory {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 60%;
    margin: 0 auto;
    margin-top: 0.425rem;
  }
}

footer__navbar, .footer__navbar {
  direction: rtl;
  margin-bottom: 0;
}

footer__navbar > li, .footer__navbar > li {
  font-size: 0.98rem;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

footer__navbar > li:not(:last-child), .footer__navbar > li:not(:last-child) {
  padding-left: 1.7rem;
}

footer__navbar > li:hover, .footer__navbar > li:hover {
  opacity: .5;
}

footer__detail, .footer__detail {
  margin: .5rem;
}

footer__detail > li, .footer__detail > li {
  font-size: 0.88rem;
  opacity: .5;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

footer__detail > li:not(:last-child), .footer__detail > li:not(:last-child) {
  padding-left: 1rem;
}

footer__detail > li:hover, .footer__detail > li:hover {
  opacity: 1;
}

footer__copyRight, .footer__copyRight {
  opacity: .25;
}

footer__copyRight > p, .footer__copyRight > p {
  margin: 0;
  font-size: .9rem;
}

footer__copyRight > p > a, .footer__copyRight > p > a {
  opacity: .8;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

footer__copyRight > p > a:hover, .footer__copyRight > p > a:hover {
  opacity: 1;
}

.hero__path {
  background-image: url("/static/img/Base/landPage-path.png");
  background-repeat: no-repeat;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 110%;
  width: 100%;
  top: -16rem;
  left: 0;
}

.hero__logo {
  margin-right: 12rem;
}

.hero__logo img {
  width: 25rem;
  height: 100%;
  pointer-events: none;
}

.hero__start {
  margin-right: 3rem;
}

@media (max-width: 49.9375em) {
  .hero__start {
    margin-right: 2rem;
  }
}

.hero__start h1 {
  font-size: 4.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.hero__start h2 {
  font-size: 1.6rem;
  letter-spacing: 0;
  max-width: 33rem;
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
  text-shadow: 0 0 25px black;
}

.hero__start a {
  font-size: 1.6rem;
  background: linear-gradient(-45deg, #4D1420, #9D272D);
  padding: .5rem 3rem;
  border: 1px solid white;
  border-radius: .5rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: white;
}

.hero__start a span {
  background: url("/static/img/Base/arw.svg");
  width: 2.5rem;
  height: 2.2rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: -webkit-transform .15s ease-in-out;
  transition: -webkit-transform .15s ease-in-out;
  transition: transform .15s ease-in-out;
  transition: transform .15s ease-in-out, -webkit-transform .15s ease-in-out;
}

.hero__start a:hover {
  color: white;
}

.hero__start a:hover span {
  -webkit-transform: rotate(90deg) translateY(0.5rem);
          transform: rotate(90deg) translateY(0.5rem);
}

.category {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.category__title {
  padding-top: 12rem;
}

.category img {
  width: 14.6875rem;
  height: 14.6875rem;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
  margin: 1.4375rem;
  margin-bottom: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.category img:hover {
  -webkit-box-shadow: rgba(105, 13, 17, 0.5) 0 0 20px;
          box-shadow: rgba(105, 13, 17, 0.5) 0 0 20px;
  -webkit-transform: translateY(-0.625rem);
          transform: translateY(-0.625rem);
}

@media (max-width: 49.9375em) {
  .category img {
    width: 9rem;
    height: 9rem;
    margin: .5rem;
    margin-bottom: 0;
  }
}

.category p {
  margin-top: 0;
}

.sort {
  height: 36rem;
  margin-bottom: 3rem;
}

@media (max-width: 49.9375em) {
  .sort__container {
    height: 31rem;
    display: -ms-grid;
    display: grid;
  }
}

.sort__container > div {
  border-radius: 20px;
  border: solid 2px transparent;
  max-width: 100vw;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  background-clip: padding-box;
  -webkit-box-shadow: 2px 5px 40px rgba(0, 0, 0, 0.233);
          box-shadow: 2px 5px 40px rgba(0, 0, 0, 0.233);
  padding: 2rem;
  margin: 1rem 2rem 0 0;
}

@media (max-width: 49.9375em) {
  .sort__container > div {
    margin: 1rem 0;
  }
}

.sort__container h2 {
  font-size: 1.18rem;
  position: relative;
  color: #5e1111;
  padding-bottom: 2rem;
}

.sort__container h2::after {
  content: '#';
  position: absolute;
  right: -2rem;
  top: -3rem;
  font-size: 6rem;
  color: rgba(160, 27, 27, 0.12);
}

.sort__container h2::after {
  padding-right: .6rem;
}

.sort > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 35rem;
  position: absolute;
  top: 0;
}

@media (max-width: 49.9375em) {
  .sort > div {
    display: block;
  }
}

.sort__controller {
  direction: rtl;
  top: 7rem;
}

@media (max-width: 49.9375em) {
  .sort__controller {
    top: 3rem;
  }
}

@media (max-width: 49.9375em) {
  .sort__controller ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    grid-gap: 1rem;
  }
}

.sort__controller__btn {
  -webkit-box-shadow: inset 0 0 10px #a2a2a2;
          box-shadow: inset 0 0 10px #a2a2a2;
}

.sort__controller__btn:not(:last-child) {
  margin-left: 1.125rem;
}

@media (max-width: 49.9375em) {
  .sort__controller__btn:not(:last-child) {
    margin: 0;
  }
}

.sort__controller__selected {
  background: linear-gradient(-45deg, #4D1420, #9D272D);
  color: white;
  -webkit-box-shadow: 0 0 7px black;
          box-shadow: 0 0 7px black;
}

.sort__controller p {
  position: absolute;
  bottom: -1.5rem;
  -webkit-transform: translate(-1rem);
          transform: translate(-1rem);
  font-size: 0.88rem;
  opacity: 0.5;
}

.sort__style {
  margin-top: 0;
  line-height: 2rem;
}

@media (max-width: 49.9375em) {
  .sort__style {
    margin-right: -1rem;
    margin-left: 0;
  }
}

.sort__style li {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 27rem;
  font-size: 1.12rem;
}

@media (max-width: 49.9375em) {
  .sort__style li {
    width: 21rem;
  }
}

.sort__style li:nth-child(even) {
  color: #5f5f5f;
}

.sort__style li::before {
  content: '◾';
  position: relative;
  top: .2rem;
}

.sort__more {
  font-size: 1.18rem;
  opacity: .7;
  bottom: 1rem;
  left: 2rem;
}

.sort__more:hover {
  opacity: 1;
}

.tools {
  direction: rtl;
}

@media (max-width: 49.9375em) {
  .tools {
    margin-right: 2rem;
  }
}

.tools__sort {
  margin-left: .7rem;
}

.tools__sort__btn {
  border: inherit;
}

.tools__sort__options {
  margin-top: .5rem;
}

.tools__sort__options button {
  padding: 0rem 0.4rem 0rem 0.4rem;
}

.tools__numberOfResult__btn {
  font-size: 1.18rem;
  border: inherit;
}

.tools__numberOfResult__options {
  margin-top: .5rem;
}

.tools__numberOfResult__options button {
  padding: 0rem 0.5rem 0rem 0.5rem;
}

.tools__submit {
  background: rgba(0, 0, 0, 0.54) url("/static/img/Base/arw-submit.svg") no-repeat center center;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  bottom: 2rem;
  right: 0.6rem;
  width: 2.15rem;
  height: 2.15rem;
}

.tools__submit:hover {
  cursor: pointer;
}

body {
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.quizzes {
  -ms-grid-columns: (12.6rem)[auto-fill];
      grid-template-columns: repeat(auto-fill, 12.6rem);
  -ms-grid-rows: (14.4rem)[auto];
      grid-template-rows: repeat(auto, 14.4rem);
  gap: 3rem;
  margin-top: 0;
}

@media (max-width: 49.9375em) {
  .quizzes {
    -ms-grid-columns: (11rem)[auto-fill];
        grid-template-columns: repeat(auto-fill, 11rem);
  }
}

.quiz__head {
  font-family: myChanga, sans-serif, serif;
  z-index: 1;
}

.quiz__head h1, .quiz__head h2, .quiz__head h3, .quiz__head h4, .quiz__head h5, .quiz__head p {
  line-height: 2rem;
  color: #f0f0f0;
  font-weight: 100;
  margin: auto;
}

.quiz__head h1 {
  font-size: 1.225rem;
  margin-bottom: .5rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  -webkit-transform: translate(-1.5rem);
          transform: translate(-1.5rem);
}

.quiz__head h5 {
  font-size: 0.98rem;
}

.quiz__head div:nth-child(2) h5 {
  margin-right: 2.5rem;
  margin-left: 2.5rem;
}

.quiz__head div:nth-child(2) h5:nth-child(2) {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.quiz__questions {
  margin-bottom: 3rem;
}

.quiz__questions::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.466);
  pointer-events: none;
}

.quiz__container {
  max-width: 30rem;
  margin: auto 2rem;
  margin-top: 5rem;
  margin-right: 22rem;
  margin-left: 22rem;
  padding: 0.1rem;
  border-radius: 24px;
  -webkit-transition: all 1.3s;
  transition: all 1.3s;
  -webkit-transform: translate(-17rem);
          transform: translate(-17rem);
}

@media (max-width: 49.9375em) {
  .quiz__container {
    -webkit-transform: translate(-20.8rem);
            transform: translate(-20.8rem);
  }
}

.quiz__question {
  font-family: harmattan, myHarmattan, sans-serif, serif;
  font-weight: 300;
  font-size: 1.18rem;
  min-height: 4rem;
  color: white;
  padding: 1.1875rem;
  margin: -.125rem;
  border-radius: 23px 25px 0 0;
  background: #00000065;
  -webkit-backdrop-filter: blur(165px);
          backdrop-filter: blur(165px);
}

@media (max-width: 49.9375em) {
  .quiz__question {
    text-align: center;
  }
}

.quiz__imgQuestion {
  width: 23rem;
  border-radius: 1.2rem;
}

.quiz__imgOption {
  width: 9.9rem;
  border-radius: 1.4rem;
}

.quiz__autoQuestionChangerSwitch {
  top: 1rem;
  width: 7rem;
  height: 4rem;
  z-index: 2;
  cursor: pointer;
}

.quiz__autoQuestionChangerSwitch > h5 {
  font-size: .77rem;
}

.quiz__autoQuestionChangerSwitch__btn {
  width: 2rem;
  height: 1rem;
  border: 1px solid white;
  border-radius: 25px;
  background: white;
  margin-left: .7rem;
  -webkit-box-shadow: inset 0 0 5px black, 0 0 5px black;
          box-shadow: inset 0 0 5px black, 0 0 5px black;
}

.quiz__autoQuestionChangerSwitch__innerBtn {
  width: 0.8rem;
  height: 0.8rem;
  background: red;
  border-radius: 10px;
  margin: 0;
  padding: 0;
  left: .1rem;
  -webkit-box-shadow: inset 0 0 4px black;
          box-shadow: inset 0 0 4px black;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: 3;
}

.quiz__autoQuestionChangerSwitch__innerBtn__switched {
  background: green;
  left: 1rem;
}

.quiz__questionChanger {
  cursor: pointer;
  top: -2rem;
}

.quiz__questionChanger__container {
  width: 23rem;
  height: 1rem;
  z-index: 2;
}

.quiz__questionChanger__container button {
  background: url("/static/img/Base/arw.svg") no-repeat center center;
  height: 2rem;
  width: 2rem;
}

.quiz__questionChanger__last {
  left: 5rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.quiz__questionChanger__next {
  right: 5rem;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quiz__bottomQuestionChanger {
  background: url("/static/img/Base/arw-submit.svg") no-repeat center center;
  height: 2rem;
  width: 2rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.quiz__bottomQuestionChanger__container {
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  z-index: 1;
  pointer-events: fill;
}

.quiz__questionCounter {
  z-index: 1;
  color: #f0f0f0;
}

.quiz__hider {
  width: 34rem;
  min-height: 32rem;
  overflow: hidden;
  bottom: 3.5rem;
  z-index: 1;
  -webkit-transition: bottom 0.35s cubic-bezier(0, 0.79, 0.88, 0.56);
  transition: bottom 0.35s cubic-bezier(0, 0.79, 0.88, 0.56);
}

@media (max-width: 49.9375em) {
  .quiz__hider {
    width: 27rem;
  }
}

.quiz__options {
  width: 23rem;
}

.quiz__options__img {
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  padding-top: 1rem;
}

.quiz__options__text {
  padding: 1rem;
}

.quiz__options input {
  opacity: 0;
  position: absolute;
}

.quiz__options label {
  color: #f0f0f0;
  display: block;
  border-radius: 25px;
  cursor: pointer;
}

.quiz__options__imgLabel {
  width: 10.3rem;
  height: 15.3rem;
  border: 4px solid #adadad;
  padding: 0;
  margin-right: .2rem;
  margin-left: .2rem;
  margin-bottom: .5rem;
  -webkit-transition: -webkit-box-shadow .1s ease-in-out;
  transition: -webkit-box-shadow .1s ease-in-out;
  transition: box-shadow .1s ease-in-out;
  transition: box-shadow .1s ease-in-out, -webkit-box-shadow .1s ease-in-out;
}

.quiz__options__imgLabel:hover {
  -webkit-box-shadow: 0 0 15px gray;
          box-shadow: 0 0 15px gray;
}

.quiz__options__textLabel {
  width: 21rem;
  border: 2px solid #adadad;
  padding: 0.6rem;
}

.quiz__options__textLabel:not(:last-child) {
  margin-bottom: 1rem;
}

.quiz__options__textLabel:hover {
  background: #00000017;
}

.quiz__options__textLabel::before {
  content: '';
  height: .0625rem;
  width: 1.25rem;
  font-family: Vermin-Vibes-2-Soft, myChanga, sans-serif;
  border-radius: 50%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 1rem;
  color: #f0f0f0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.quiz__options__textLabel::after {
  content: '';
  position: absolute;
  top: 1.15rem;
  left: 1.15rem;
  border: 2px solid transparent;
  border-radius: 2rem;
  background: red;
  width: 20%;
  height: 2.95rem;
  opacity: 0;
}

.quiz__options__textLabel__active .quiz__options__textLabel::after {
  opacity: 1 !important;
}

.quiz__options [type="radio"]:checked + label {
  background: #0000005e;
  -webkit-backdrop-filter: blur(93px);
          backdrop-filter: blur(93px);
}

.quiz__options [type="radio"]:checked + label::before {
  color: white;
}

.quiz__options__scaleUp {
  position: relative;
  bottom: 4rem;
}

.quiz__correctAnswer {
  border: 3px solid green !important;
}

.quiz__wrongAnswer {
  border: 3px solid red !important;
}

.quiz__answerImGif {
  padding-bottom: 0;
}

.quiz__answerImGif img {
  width: 21rem;
  height: 100%;
  border-radius: .5rem;
}

.quiz__answerText {
  padding: 1rem;
}

.quiz .lowHighContainer {
  margin: 0 15rem !important;
  margin-top: 5rem !important;
}

.quiz__lowHigh {
  margin-top: 2.5625rem;
}

.quiz__lowHigh input {
  display: none;
}

.quiz__lowHigh label {
  border: 1px solid #707070;
  border-radius: 100px;
  margin-right: .4325rem;
  margin-left: .4325rem;
}

.quiz__lowHigh label:nth-child(3), .quiz__lowHigh label:nth-child(19) {
  padding-right: 2.1875rem;
}

.quiz__lowHigh label:nth-child(5), .quiz__lowHigh label:nth-child(17) {
  padding-right: 2.4875rem;
  padding-top: .25rem;
}

.quiz__lowHigh label:nth-child(7), .quiz__lowHigh label:nth-child(15) {
  padding-right: 2.7875rem;
  padding-top: .5rem;
}

.quiz__lowHigh label:nth-child(9), .quiz__lowHigh label:nth-child(13) {
  padding-right: 3rem;
  padding-top: .75rem;
}

.quiz__lowHigh label:nth-child(11) {
  padding-right: 3.3rem;
  padding-top: 1rem;
}

.quiz__lowHigh :checked + label {
  background: #af282f;
}

.countingResult {
  z-index: 99;
  font-size: 1.325rem;
  color: white;
  font-family: myChanga, sans-serif, serif;
  background: linear-gradient(-45deg, #4D1420, #9D272D);
}

@media (max-width: 49.9375em) {
  .countingResult {
    font-size: 1.025rem;
  }
}

.countingResult::after {
  position: absolute;
  top: 55%;
}

.result {
  font-family: myChanga, sans-serif, serif;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 17rem 19rem 18rem;
      grid-template-columns: 17rem 19rem 18rem;
}

@media (max-width: 49.9375em) {
  .result {
    display: block;
    margin-left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    width: 20rem;
  }
}

.result__container {
  min-height: 40vh;
}

.result__title > h5 {
  opacity: .5;
  margin-right: 2.5rem;
  margin-left: 2.5rem;
}

.result__subtitle {
  font-size: 1.6rem;
}

@media (max-width: 49.9375em) {
  .result__subtitle {
    font-size: 1.3rem;
  }
}

.result__clipboard {
  top: -100vh;
  left: -100vw;
}

.result__share h5 {
  margin-bottom: 1rem;
}

.result__share__btn {
  font-size: 0.98rem;
  font-weight: 300;
  background: linear-gradient(-45deg, #4D1420, #9D272D) !important;
  color: white !important;
}

.result__share__message {
  color: green;
  font-family: harmattan, myHarmattan, sans-serif, serif;
  margin: 0;
  margin-top: 1.25rem;
}

.result__score {
  font-size: 2rem;
  font-weight: 600;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (max-width: 49.9375em) {
  .result__score {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1.125rem;
  }
}

.result__img {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.result__img img {
  width: 26rem;
}

.result__detail {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

@media (max-width: 49.9375em) {
  .result__detail {
    text-align: center;
    margin-bottom: 4rem;
  }
}

.result__detail > h5 {
  margin-bottom: .7rem;
  margin-top: 0;
}

.result__detail__wrongTime {
  margin-right: 1rem;
}

.resultQuizPointy {
  display: block;
  line-height: 2;
}

.resultQuizPointy__container h5 {
  z-index: 3;
}

.resultQuizPointy__container div {
  z-index: 2;
}

.resultQuizPointy__container::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.466);
  pointer-events: none;
  z-index: 0;
}

.resultQuizPointy__txt {
  padding: 1.125rem;
  margin-top: 0;
}

.searchResult {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  direction: rtl;
  min-height: 30rem;
  margin-bottom: 1.125rem;
}

@media (max-width: 49.9375em) {
  .searchResult {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

.searchResult__category {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.searchResult__category h3 {
  margin: 1.55rem auto;
}

.searchResult__category h4 {
  width: 100%;
}

@media (max-width: 49.9375em) {
  .searchResult__category h4 {
    text-align: center;
    margin-bottom: 1.125rem;
  }
}

.searchResult__category__item {
  width: 12.5rem;
  height: 16.2135rem;
  margin-left: 0.96875rem;
  margin-right: 0.96875rem;
  margin-bottom: 1.93757rem;
}

@media (max-width: 49.9375em) {
  .searchResult__category__item {
    width: 10rem;
    height: 14.75rem;
  }
}

.searchResult__category__item a > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 3px solid #707070;
  border-radius: 40px;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  -webkit-box-shadow: 0 5px 15px black;
          box-shadow: 0 5px 15px black;
}

.searchResult__category__item h5 {
  -webkit-transform: translateY(-13.125rem);
          transform: translateY(-13.125rem);
  color: #f0f0f0;
  font-size: 1.6rem;
}

.searchResult__category__item h5 a:hover {
  color: inherit;
}

@media (max-width: 49.9375em) {
  .searchResult__quizzes h3 {
    text-align: center;
  }
}

.searchResult__quizzes ul > li {
  font-size: 1.12rem;
}

.searchResult__quizzes__item {
  display: block;
  margin-bottom: 1rem;
  -webkit-transform: translate(-30%);
          transform: translate(-30%);
}

@media (max-width: 49.9375em) {
  .searchResult__quizzes__item {
    -webkit-transform: translate(-15%);
            transform: translate(-15%);
  }
}

.searchResult__quizzes__item::before {
  content: '◾';
  position: relative;
  top: 0.2rem;
  margin-left: 1rem;
}

.searchResult__quizzes__seeMore {
  text-align: center;
  -webkit-transform: translate(-7rem);
          transform: translate(-7rem);
  margin-top: 2rem;
}

@media (max-width: 49.9375em) {
  .searchResult__quizzes__seeMore {
    margin-bottom: 2rem;
  }
}

@media (max-width: 49.9375em) {
  .moreSearchResult {
    margin: 0;
  }
}

.moreSearchResult h3 {
  text-align: center;
  margin-bottom: 3rem;
}

@media (max-width: 49.9375em) {
  .moreSearchResult h3 {
    letter-spacing: .03rem;
  }
}

.moreSearchResult__container {
  min-height: 20rem;
  margin-bottom: 2rem;
}

.basicPage {
  min-height: 44vh;
  width: 85%;
  text-align: center;
}

@media (max-width: 49.9375em) {
  .basicPage {
    min-height: 60vh;
  }
}

.basicPage h4 {
  direction: rtl;
}

.basicPage h4::before {
  content: '_';
}

.pleaseUseChrome {
  background: rgba(255, 230, 0, 0.719);
  padding: .5rem .5rem;
  border: 1px solid #585858;
  border-radius: 2rem;
}

.contact__socialMedia > li {
  color: #af282f;
  font-weight: 600;
}

.contact__socialMedia > li:not(:last-child) {
  padding-left: 1.125rem;
}

.sortMore {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: .8fr 1.2fr;
      grid-template-columns: .8fr 1.2fr;
}

@media (max-width: 49.9375em) {
  .sortMore {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin: 0;
  }
}

.sortMore__title {
  text-align: right;
  margin-right: 5rem;
}

.sortMore__inner {
  margin: 2rem;
}

@media (max-width: 49.9375em) {
  .sortMore__inner {
    margin: auto;
    margin-bottom: 2rem;
  }
}

@media (max-width: 49.9375em) {
  .sortMore div:first-child {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.sortMore__categoryStyle {
  display: inherit !important;
}
/*# sourceMappingURL=style.css.map */