{% load static %}

<!DOCTYPE html>
<html id='html' lang='fa'>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#971c27">
  <meta name="apple-mobile-web-app-title" content="کوییزلند">
  
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="manifest" href="/manifest.json">
  
  <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/apple-icon-57.png' %}" />
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/apple-icon-114.png' %}" />
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/apple-icon-72.png' %}" />
  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/apple-icon-144.png' %}" />
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/apple-icon-60.png' %}" />
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/apple-icon-120.png' %}" />
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/apple-icon-76.png' %}" />
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/apple-icon-152.png' %}" />
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-icon-180.png' %}" />

  <link rel="alternate" hreflang="fa-ir" href="https://www.quizzland.net" />
</head>

<body>

  <div id="categoryRoot"></div>

  <script src="{% static 'build/Category.js' %}"></script>
</body>

</html>