{% load static %}

<!DOCTYPE html>

<html id='html' lang='fa'>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#971c27">
  <meta name="apple-mobile-web-app-title" content="کوییزلند">

  {% comment %} <link rel="manifest" href="/manifest.json"> {% endcomment %}
  
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  {% comment %} <link rel="stylesheet" href="{% static 'css/style.min.css' %}" /> {% endcomment %}

  <link rel="stylesheet" href="{% static 'css/tailwind_build.css' %}" />

  <link rel="icon" href="{% static 'img/favicon.ico' %}">

  <link rel="icon" sizes="48x48" href="{% static 'img/android-icon-48.png' %}" />
  <link rel="icon" sizes="96x96" href="{% static 'img/android-icon-96.png' %}" />
  <link rel="icon" sizes="144x144" href="{% static 'img/android-icon-144.png' %}" />
  <link rel="icon" sizes="192x192" href="{% static 'img/android-icon-192.png' %}" />

  <link rel="apple-touch-icon" sizes="16x16" href="{% static 'img/apple-icon-16.png' %}" />
  <link rel="apple-touch-icon" sizes="32x32" href="{% static 'img/apple-icon-32.png' %}" />
  <link rel="apple-touch-icon" sizes="64x64" href="{% static 'img/apple-icon-64.png' %}" />
  <link rel="apple-touch-icon" sizes="128x128" href="{% static 'img/apple-icon-128.png' %}" />
  <link rel="apple-touch-icon" sizes="256x256" href="{% static 'img/apple-icon-256.png' %}" />


  <link rel="alternate" hreflang="fa-ir" href="https://www.quizzland.net" />

  <script src="https://accounts.google.com/gsi/client" async defer></script>

</head>

<body>

  <div id="land"></div>

  <script src="{% static 'build/App.js' %}"></script>
</body>

</html>