{% load static %}

<!DOCTYPE html>
<html id='html' lang="far">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <!-- Adverts -->
    <script type="text/javascript">
      (function(){
      var now = new Date();
      var head = document.getElementsByTagName('head')[0];
      var script = document.createElement('script');
      script.async = true;
      var script_address = 'https://cdn.yektanet.com/js/Quizzland.net/native-Quizzland.net-18610.js';
      script.src = script_address + '?v=' + now.getFullYear().toString() + '0' + now.getMonth() + '0' + now.getDate() + '0' + now.getHours();
      head.appendChild(script);
      })();
    </script>

  </head>
  <body>

    <div id="quizRoot"></div>

    <script src="{% static 'build/Quiz.js' %}"></script>
  </body>
</html>

