{% extends './layout.html' %}
{% block content %}
{% load templateTags %}

<div class="sortMore {{categoryStyle}} tx-al-c">

        <div class="sortMore__container {{hideSecondColumn}} flex flex-jc-fe">
            <h3 class="tx-al-c">جدیدترین تست ها</h3>
            {% for quiz in sortPointy %}
                {% with quiz.innerCategory|replaceToHyphen as innerCategory %}
                {% with quiz.title|replaceToHyphen as title %}
                <a href="/quizPointy/{{quiz.category}}/{{innerCategory}}/{{title}}">
                    <img src="/static/img/Bg-quizzes/{{quiz.background}}" alt="{{quiz.innerCategory}} | {{quiz.title}}" loading='lazy'>
                    {% with quiz.views|viewsFormat as views %}
                    <div class="sortMore__container__views">{{ views }}</div>
                    <div class="sortMore__container__title">{{ quiz.title }}</div>
                    {% endwith %}
                </a>
                {% endwith %}
                {% endwith %}
            {% endfor %}
        </div>
        <div class="sortMore__container flex flex-jc-fe">
            <h3 class="tx-al-c">{{title}} {{ category }}</h3>
            {% for quiz in sort %}
                {% with quiz.innerCategory|replaceToHyphen as innerCategory %}
                {% with quiz.title|replaceToHyphen as title %}
                <a href="/{{quizPage}}/{{quiz.category}}/{{innerCategory}}/{{title}}">
                    <img src="/static/img/Bg-quizzes/{{quiz.background}}" alt="{{quiz.innerCategory}} | {{quiz.title}}" loading='lazy'>
                    {% with quiz.views|viewsFormat as views %}
                    <div class="sortMore__container__views">{{ views }}</div>
                    <div class="sortMore__container__title">{{ quiz.title }}</div>
                    {% endwith %}
                </a>
                {% endwith %}
                {% endwith %}
            {% endfor %}
        </div>
</div>

{{ pageTravel | safe }}

{% endblock content %}