{% extends './layout.html' %}
{% block content %}

<body>
    <div class="quiz__head tx-al-c">
        <h1>!TITLE</h1>
        <h3>!SUBTITLE</h3>
        <h5>سوال: 14</h5>
    </div>

    <img class='quiz__background' src="!BACKGROUND-IMG" alt="!ALT">

    <div class="quiz__leftCounter"></div>
    <div class="ad__r">
        <div>
            <img src="/static/img/ad.jpg" alt="">
        </div>
    </div>

    <!-- ! $OPTION -->

    <div class="quiz__questions tx-al-c">

        <div class="quiz__container">
            <p class='quiz__question'>Question</p>
            <div class="flex flex-jc-c">
                <form class='quiz__4option' action="">
                    <input type="radio" name="answer" id="ts1-q1-1"><label for="ts1-q1-1">girald</label>
                    <input type="radio" name="answer" id="ts1-q1-2"><label for="ts1-q1-2">steve</label>
                    <input type="radio" name="answer" id="ts1-q1-3"><label for="ts1-q1-3">jack</label>
                    <input type="radio" name="answer" id="ts1-q1-4"><label for="ts1-q1-4">taylor</label>
                </form>
            </div>
        </div>
        <div class="quiz__container">
            <p class='quiz__question'>Question</p>
            <div class="flex flex-jc-c">
                <form class='quiz__4option' action="">
                    <input type="radio" name="answer" id="ts1-q2-1"><label for="ts1-q2-1">girald</label>
                    <input type="radio" name="answer" id="ts1-q2-2"><label for="ts1-q2-2">steve</label>
                    <input type="radio" name="answer" id="ts1-q2-3"><label for="ts1-q2-3">jack</label>
                    <input type="radio" name="answer" id="ts1-q2-4"><label for="ts1-q2-4">taylor</label>
                </form>
            </div>
        </div>
        <div class="quiz__container">
            <p class='quiz__question'>Question</p>
            <div class="flex flex-jc-c">
                <form class='quiz__4option' action="">
                    <input type="radio" name="answer" id="ts1-q3-1"><label for="ts1-q3-1">girald</label>
                    <input type="radio" name="answer" id="ts1-q3-2"><label for="ts1-q3-2">steve</label>
                    <input type="radio" name="answer" id="ts1-q3-3"><label for="ts1-q3-3">jack</label>
                    <input type="radio" name="answer" id="ts1-q3-4"><label for="ts1-q3-4">taylor</label>
                </form>
            </div>
        </div>
        <div class="quiz__container">
            <p class='quiz__question'>Question</p>
            <div class="flex flex-jc-c">
                <form class='quiz__4option' action="">
                    <input type="radio" name="answer" id="ts1-q4-1"><label for="ts1-q4-1">girald</label>
                    <input type="radio" name="answer" id="ts1-q4-2"><label for="ts1-q4-2">steve</label>
                    <input type="radio" name="answer" id="ts1-q4-3"><label for="ts1-q4-3">jack</label>
                    <input type="radio" name="answer" id="ts1-q4-4"><label for="ts1-q4-4">taylor</label>
                </form>
            </div>
        </div>
        <div class="quiz__container">
            <p class='quiz__question'>Question</p>
            <div class="flex flex-jc-c">
                <form class='quiz__4option' action="">
                    <input type="radio" name="answer" id="ts1-q5-1"><label for="ts1-q5-1">girald</label>
                    <input type="radio" name="answer" id="ts1-q5-2"><label for="ts1-q5-2">steve</label>
                    <input type="radio" name="answer" id="ts1-q5-3"><label for="ts1-q5-3">jack</label>
                    <input type="radio" name="answer" id="ts1-q5-4"><label for="ts1-q5-4">taylor</label>
                </form>
            </div>
        </div>
        <div class="quiz__container">
            <p class='quiz__question'>Question</p>
            <div class="flex flex-jc-c">
                <form class='quiz__4option' action="">
                    <input type="radio" name="answer" id="ts1-q6-1"><label for="ts1-q6-1">girald</label>
                    <input type="radio" name="answer" id="ts1-q6-2"><label for="ts1-q6-2">steve</label>
                    <input type="radio" name="answer" id="ts1-q6-3"><label for="ts1-q6-3">jack</label>
                    <input type="radio" name="answer" id="ts1-q6-4"><label for="ts1-q6-4">taylor</label>
                </form>
            </div>
        </div>
        <div class="quiz__container">
            <p class='quiz__question'>Question</p>
            <div class="flex flex-jc-c">
                <form class='quiz__4option' action="">
                    <input type="radio" name="answer" id="ts1-q7-1"><label for="ts1-q7-1">girald</label>
                    <input type="radio" name="answer" id="ts1-q7-2"><label for="ts1-q7-2">steve</label>
                    <input type="radio" name="answer" id="ts1-q7-3"><label for="ts1-q7-3">jack</label>
                    <input type="radio" name="answer" id="ts1-q7-4"><label for="ts1-q7-4">taylor</label>
                </form>
            </div>
        </div>
        <div class="quiz__container">
            <p class='quiz__question'>Question</p>
            <div class="flex flex-jc-c">
                <form class='quiz__4option' action="">
                    <input type="radio" name="answer" id="ts1-q8-1"><label for="ts1-q8-1">girald</label>
                    <input type="radio" name="answer" id="ts1-q8-2"><label for="ts1-q8-2">steve</label>
                    <input type="radio" name="answer" id="ts1-q8-3"><label for="ts1-q8-3">jack</label>
                    <input type="radio" name="answer" id="ts1-q8-4"><label for="ts1-q8-4">taylor</label>
                </form>
            </div>
        </div>
        <div class="quiz__container">
            <p class='quiz__question'>Question</p>
            <div class="flex flex-jc-c">
                <form class='quiz__4option' action="">
                    <input type="radio" name="answer" id="ts1-q9-1"><label for="ts1-q9-1">girald</label>
                    <input type="radio" name="answer" id="ts1-q9-2"><label for="ts1-q9-2">steve</label>
                    <input type="radio" name="answer" id="ts1-q9-3"><label for="ts1-q9-3">jack</label>
                    <input type="radio" name="answer" id="ts1-q9-4"><label for="ts1-q9-4">taylor</label>
                </form>
            </div>
        </div>
        <div class="quiz__container">
            <p class='quiz__question'>Question</p>
            <div class="flex flex-jc-c">
                <form class='quiz__4option' action="">
                    <input type="radio" name="answer" id="ts1-q10-1"><label for="ts1-q10-1">girald</label>
                    <input type="radio" name="answer" id="ts1-q10-2"><label for="ts1-q10-2">steve</label>
                    <input type="radio" name="answer" id="ts1-q10-3"><label for="ts1-q10-3">jack</label>
                    <input type="radio" name="answer" id="ts1-q10-4"><label for="ts1-q10-4">taylor</label>
                </form>
            </div>
        </div>
        <div class="quiz__container">
            <p class='quiz__question'>Question</p>
            <div class="flex flex-jc-c">
                <form class='quiz__4option' action="">
                    <input type="radio" name="answer" id="ts1-q11-1"><label for="ts1-q11-1">girald</label>
                    <input type="radio" name="answer" id="ts1-q11-2"><label for="ts1-q11-2">steve</label>
                    <input type="radio" name="answer" id="ts1-q11-3"><label for="ts1-q11-3">jack</label>
                    <input type="radio" name="answer" id="ts1-q11-4"><label for="ts1-q11-4">taylor</label>
                </form>
            </div>
        </div>
        <div class="quiz__container">
            <p class='quiz__question'>Question</p>
            <div class="flex flex-jc-c">
                <form class='quiz__4option' action="">
                    <input type="radio" name="answer" id="ts1-q12-1"><label for="ts1-q12-1">girald</label>
                    <input type="radio" name="answer" id="ts1-q12-2"><label for="ts1-q12-2">steve</label>
                    <input type="radio" name="answer" id="ts1-q12-3"><label for="ts1-q12-3">jack</label>
                    <input type="radio" name="answer" id="ts1-q12-4"><label for="ts1-q12-4">taylor</label>
                </form>
            </div>
        </div>
        <div class="quiz__container">
            <p class='quiz__question'>Question</p>
            <div class="flex flex-jc-c">
                <form class='quiz__4option' action="">
                    <input type="radio" name="answer" id="ts1-q13-1"><label for="ts1-q13-1">girald</label>
                    <input type="radio" name="answer" id="ts1-q13-2"><label for="ts1-q13-2">steve</label>
                    <input type="radio" name="answer" id="ts1-q13-3"><label for="ts1-q13-3">jack</label>
                    <input type="radio" name="answer" id="ts1-q13-4"><label for="ts1-q13-4">taylor</label>
                </form>
            </div>
        </div>
        <div class="quiz__container">
            <p class='quiz__question'>Question</p>
            <div class="flex flex-jc-c">
                <form class='quiz__4option' action="">
                    <input type="radio" name="answer" id="ts1-q14-1"><label for="ts1-q14-1">girald</label>
                    <input type="radio" name="answer" id="ts1-q14-2"><label for="ts1-q14-2">steve</label>
                    <input type="radio" name="answer" id="ts1-q14-3"><label for="ts1-q14-3">jack</label>
                    <input type="radio" name="answer" id="ts1-q14-4"><label for="ts1-q14-4">taylor</label>
                </form>
            </div>
        </div>
        <div class="quiz__container">
            <p class='quiz__question'>Question</p>
            <div class="flex flex-jc-c">
                <form class='quiz__4option' action="">
                    <input type="radio" name="answer" id="ts1-q15-1"><label for="ts1-q15-1">girald</label>
                    <input type="radio" name="answer" id="ts1-q15-2"><label for="ts1-q15-2">steve</label>
                    <input type="radio" name="answer" id="ts1-q15-3"><label for="ts1-q15-3">jack</label>
                    <input type="radio" name="answer" id="ts1-q15-4"><label for="ts1-q15-4">taylor</label>
                </form>
            </div>
        </div>
        <div class="quiz__container">
            <p class='quiz__question'>Question</p>
            <div class="flex flex-jc-c">
                <form class='quiz__4option' action="">
                    <input type="radio" name="answer" id="ts1-q16-1"><label for="ts1-q16-1">girald</label>
                    <input type="radio" name="answer" id="ts1-q16-2"><label for="ts1-q16-2">steve</label>
                    <input type="radio" name="answer" id="ts1-q16-3"><label for="ts1-q16-3">jack</label>
                    <input type="radio" name="answer" id="ts1-q16-4"><label for="ts1-q16-4">taylor</label>
                </form>
            </div>
        </div>
        <div class="quiz__container">
            <p class='quiz__question'>Question</p>
            <div class="flex flex-jc-c">
                <form class='quiz__4option' action="">
                    <input type="radio" name="answer" id="ts1-q17-1"><label for="ts1-q17-1">girald</label>
                    <input type="radio" name="answer" id="ts1-q17-2"><label for="ts1-q17-2">steve</label>
                    <input type="radio" name="answer" id="ts1-q17-3"><label for="ts1-q17-3">jack</label>
                    <input type="radio" name="answer" id="ts1-q17-4"><label for="ts1-q17-4">taylor</label>
                </form>
            </div>
        </div>
        <div class="quiz__container">
            <p class='quiz__question'>Question</p>
            <div class="flex flex-jc-c">
                <form class='quiz__4option' action="">
                    <input type="radio" name="answer" id="ts1-q18-1"><label for="ts1-q18-1">girald</label>
                    <input type="radio" name="answer" id="ts1-q18-2"><label for="ts1-q18-2">steve</label>
                    <input type="radio" name="answer" id="ts1-q18-3"><label for="ts1-q18-3">jack</label>
                    <input type="radio" name="answer" id="ts1-q18-4"><label for="ts1-q18-4">taylor</label>
                </form>
            </div>
        </div>
        <div class="quiz__container">
            <p class='quiz__question'>Question</p>
            <div class="flex flex-jc-c">
                <form class='quiz__4option' action="">
                    <input type="radio" name="answer" id="ts1-q19-1"><label for="ts1-q19-1">girald</label>
                    <input type="radio" name="answer" id="ts1-q19-2"><label for="ts1-q19-2">steve</label>
                    <input type="radio" name="answer" id="ts1-q19-3"><label for="ts1-q19-3">jack</label>
                    <input type="radio" name="answer" id="ts1-q19-4"><label for="ts1-q19-4">taylor</label>
                </form>
            </div>
        </div>
        <div class="quiz__container">
            <p class='quiz__question'>Question</p>
            <div class="flex flex-jc-c">
                <form class='quiz__4option' action="">
                    <input type="radio" name="answer" id="ts1-q20-1"><label for="ts1-q20-1">girald</label>
                    <input type="radio" name="answer" id="ts1-q20-2"><label for="ts1-q20-2">steve</label>
                    <input type="radio" name="answer" id="ts1-q20-3"><label for="ts1-q20-3">jack</label>
                    <input type="radio" name="answer" id="ts1-q20-4"><label for="ts1-q20-4">taylor</label>
                </form>
            </div>
        </div>
        <div class="quiz__container">
            <p class='quiz__question'>Question</p>
            <div class="flex flex-jc-c">
                <form class='quiz__4option' action="">
                    <input type="radio" name="answer" id="ts1-q21-1"><label for="ts1-q21-1">girald</label>
                    <input type="radio" name="answer" id="ts1-q21-2"><label for="ts1-q21-2">steve</label>
                    <input type="radio" name="answer" id="ts1-q21-3"><label for="ts1-q21-3">jack</label>
                    <input type="radio" name="answer" id="ts1-q21-4"><label for="ts1-q21-4">taylor</label>
                </form>
            </div>
        </div>
        <div class="quiz__container">
            <p class='quiz__question'>Question</p>
            <div class="flex flex-jc-c">
                <form class='quiz__4option' action="">
                    <input type="radio" name="answer" id="ts1-q22-1"><label for="ts1-q22-1">girald</label>
                    <input type="radio" name="answer" id="ts1-q22-2"><label for="ts1-q22-2">steve</label>
                    <input type="radio" name="answer" id="ts1-q22-3"><label for="ts1-q22-3">jack</label>
                    <input type="radio" name="answer" id="ts1-q22-4"><label for="ts1-q22-4">taylor</label>
                </form>
            </div>
        </div>
        <div class="quiz__container">
            <p class='quiz__question'>Question</p>
            <div class="flex flex-jc-c">
                <form class='quiz__4option' action="">
                    <input type="radio" name="answer" id="ts1-q23-1"><label for="ts1-q23-1">girald</label>
                    <input type="radio" name="answer" id="ts1-q23-2"><label for="ts1-q23-2">steve</label>
                    <input type="radio" name="answer" id="ts1-q23-3"><label for="ts1-q23-3">jack</label>
                    <input type="radio" name="answer" id="ts1-q23-4"><label for="ts1-q23-4">taylor</label>
                </form>
            </div>
        </div>
        <div class="quiz__container">
            <p class='quiz__question'>Question</p>
            <div class="flex flex-jc-c">
                <form class='quiz__4option' action="">
                    <input type="radio" name="answer" id="ts1-q24-1"><label for="ts1-q24-1">girald</label>
                    <input type="radio" name="answer" id="ts1-q24-2"><label for="ts1-q24-2">steve</label>
                    <input type="radio" name="answer" id="ts1-q24-3"><label for="ts1-q24-3">jack</label>
                    <input type="radio" name="answer" id="ts1-q24-4"><label for="ts1-q24-4">taylor</label>
                </form>
            </div>
        </div>
        <div class="quiz__container">
            <p class='quiz__question'>Question</p>
            <div class="flex flex-jc-c">
                <form class='quiz__4option' action="">
                    <input type="radio" name="answer" id="ts1-q25-1"><label for="ts1-q25-1">girald</label>
                    <input type="radio" name="answer" id="ts1-q25-2"><label for="ts1-q25-2">steve</label>
                    <input type="radio" name="answer" id="ts1-q25-3"><label for="ts1-q25-3">jack</label>
                    <input type="radio" name="answer" id="ts1-q25-4"><label for="ts1-q25-4">taylor</label>
                </form>
            </div>
        </div>
        <div class="quiz__container">
            <p class='quiz__question'>Question</p>
            <div class="flex flex-jc-c">
                <form class='quiz__4option' action="">
                    <input type="radio" name="answer" id="ts1-q26-1"><label for="ts1-q26-1">girald</label>
                    <input type="radio" name="answer" id="ts1-q26-2"><label for="ts1-q26-2">steve</label>
                    <input type="radio" name="answer" id="ts1-q26-3"><label for="ts1-q26-3">jack</label>
                    <input type="radio" name="answer" id="ts1-q26-4"><label for="ts1-q26-4">taylor</label>
                </form>
            </div>
        </div>
        <div class="quiz__container">
            <p class='quiz__question'>Question</p>
            <div class="flex flex-jc-c">
                <form class='quiz__4option' action="">
                    <input type="radio" name="answer" id="ts1-q27-1"><label for="ts1-q27-1">girald</label>
                    <input type="radio" name="answer" id="ts1-q27-2"><label for="ts1-q27-2">steve</label>
                    <input type="radio" name="answer" id="ts1-q27-3"><label for="ts1-q27-3">jack</label>
                    <input type="radio" name="answer" id="ts1-q27-4"><label for="ts1-q27-4">taylor</label>
                </form>
            </div>
        </div>
        <div class="quiz__container">
            <p class='quiz__question'>Question</p>
            <div class="flex flex-jc-c">
                <form class='quiz__4option' action="">
                    <input type="radio" name="answer" id="ts1-q28-1"><label for="ts1-q28-1">girald</label>
                    <input type="radio" name="answer" id="ts1-q28-2"><label for="ts1-q28-2">steve</label>
                    <input type="radio" name="answer" id="ts1-q28-3"><label for="ts1-q28-3">jack</label>
                    <input type="radio" name="answer" id="ts1-q28-4"><label for="ts1-q28-4">taylor</label>
                </form>
            </div>
        </div>
        <div class="quiz__container">
            <p class='quiz__question'>Question</p>
            <div class="flex flex-jc-c">
                <form class='quiz__4option' action="">
                    <input type="radio" name="answer" id="ts1-q29-1"><label for="ts1-q29-1">girald</label>
                    <input type="radio" name="answer" id="ts1-q29-2"><label for="ts1-q29-2">steve</label>
                    <input type="radio" name="answer" id="ts1-q29-3"><label for="ts1-q29-3">jack</label>
                    <input type="radio" name="answer" id="ts1-q29-4"><label for="ts1-q29-4">taylor</label>
                </form>
            </div>
        </div>
        <div class="quiz__container">
            <p class='quiz__question'>Question</p>
            <div class="flex flex-jc-c">
                <form class='quiz__4option' action="">
                    <input type="radio" name="answer" id="ts1-q30-1"><label for="ts1-q30-1">girald</label>
                    <input type="radio" name="answer" id="ts1-q30-2"><label for="ts1-q30-2">steve</label>
                    <input type="radio" name="answer" id="ts1-q30-3"><label for="ts1-q30-3">jack</label>
                    <input type="radio" name="answer" id="ts1-q30-4"><label for="ts1-q30-4">taylor</label>
                </form>
            </div>
        </div>
        <div class="quiz__container">
            <p class='quiz__question'>Question</p>
            <div class="flex flex-jc-c">
                <form class='quiz__4option' action="">
                    <input type="radio" name="answer" id="ts1-q31-1"><label for="ts1-q31-1">girald</label>
                    <input type="radio" name="answer" id="ts1-q31-2"><label for="ts1-q31-2">steve</label>
                    <input type="radio" name="answer" id="ts1-q31-3"><label for="ts1-q31-3">jack</label>
                    <input type="radio" name="answer" id="ts1-q31-4"><label for="ts1-q31-4">taylor</label>
                </form>
            </div>
        </div>
        <div class="quiz__container">
            <p class='quiz__question'>Question</p>
            <div class="flex flex-jc-c">
                <form class='quiz__4option' action="">
                    <input type="radio" name="answer" id="ts1-q32-1"><label for="ts1-q32-1">girald</label>
                    <input type="radio" name="answer" id="ts1-q32-2"><label for="ts1-q32-2">steve</label>
                    <input type="radio" name="answer" id="ts1-q32-3"><label for="ts1-q32-3">jack</label>
                    <input type="radio" name="answer" id="ts1-q32-4"><label for="ts1-q32-4">taylor</label>
                </form>
            </div>
        </div>

        <!-- ! HIGH LOW OPTION -->

        <div class="quiz__questions__container lowHighContainer">
            <p class='quiz__questions__question'>چه امتیازی به گیم پلی میدی</p>
            <div class='flex flex-jc-c'>
                <form class="quiz__questions__lowHigh" action="">
                    <span>خیلی کم</span>
                    <input type="radio" name="answer" id="witcher1-q4-1"><label for="witcher1-q4-1"></label>
                    <input type="radio" name="answer" id="witcher1-q4-2"><label for="witcher1-q4-2"></label>
                    <input type="radio" name="answer" id="witcher1-q4-3"><label for="witcher1-q4-3"></label>
                    <input type="radio" name="answer" id="witcher1-q4-4"><label for="witcher1-q4-4"></label>
                    <input type="radio" name="answer" id="witcher1-q4-5"><label for="witcher1-q4-5"></label>
                    <input type="radio" name="answer" id="witcher1-q4-6"><label for="witcher1-q4-6"></label>
                    <input type="radio" name="answer" id="witcher1-q4-7"><label for="witcher1-q4-7"></label>
                    <input type="radio" name="answer" id="witcher1-q4-8"><label for="witcher1-q4-8"></label>
                    <input type="radio" name="answer" id="witcher1-q4-9"><label for="witcher1-q4-9"></label>
                    <span>خیلی زیاد</span>
                </form>
            </div>
        </div>

        <div class="space-sm"></div>

        <div>
            <a class="showResult" href="/result">
                دیدن نتیجه
            </a>

            <div class="space-med"></div>
            
        </div>
    </div>
</body>

{% endblock content %}