{% load templateTags %}

{% with quiz.subCategory|replaceToHyphen as subCategory %}
{% with quiz.title|replaceToHyphen as title %}
    <li>
        <article class="flex tx-al-r">
            <a href="/quizPointy/{{title}}?ic={{quiz.subCategory}}">
                <div>
                    <img src="{{ quiz.thumbnail.url }}" alt="{{quiz.subCategory}} | {{quiz.title}}" loading='lazy'>
                </div>
                <!-- {% with quiz.views|viewsFormat as views %}
                    <div class="quizContainer__category__inner__views">{{views}}</div>
                {% endwith %} -->
                <span class="quizContainer__category__inner__title quizContainer__category__inner__title__noViews flex">
                    {{ quiz.title }}
                </span>
            </a>
        </article>
    </li>
{% endwith %}
{% endwith %}