{% load templateTags %}

<div class="countingResult loadingScreen pos-fix flex flex-jc-c flex-ai-c fade-out">
    ___ در حال محاسبه نتیجه کوئیز___
</div>
<body style="background-image: url('/media/app/{{quizDetail.background|makeTheDirValidForImg}}');">

<!-- <div class="adverts__top">
</div> -->

<div class="quiz__head pos-rel tx-al-c" id="quiz__top">
    <h1>{{ quizDetail.title }}</h1>
    <div class="flex flex-jc-c flex-ai-c">
        <h5>تعداد سوال ها: ?</h5>
        <h5>{{ quizDetail.publish|makeTheDatePublishReadyToShow }}</h5>
    </div>
    
    <div class="quiz__autoQuestionChangerSwitch pos-rel center flex flex-jc-c flex-ai-c">
        <h5>تغییر خودکار</h5>
        <div class="quiz__autoQuestionChangerSwitch__btn">
            <div class="quiz__autoQuestionChangerSwitch__innerBtn pos-rel"></div>
        </div>
    </div>

    <div class="quiz__questionChanger__container pos-rel center">
        <button class="quiz__questionChanger pos-abs quiz__questionChanger__next fade-in" aria-label='Next Question'></button>
    </div>
</div>

<div class="quiz__questionCounter pos-rel flex flex-jc-c flex-ai-c">
    <div class="quiz__questionCounter__totalAnswered">?</div>
    &nbspسوال شماره
</div>

<div class="quiz__questions pos-rel flex flex-jc-c tx-al-c" tag="quiz">