{% load templateTags %}

{% with quiz.subCategory|replaceToHyphen as subCategory %}
{% with quiz.title|replaceToHyphen as title %}
    <a href="/quiz/{{title}}?ic={{quiz.subCategory}}">
        <img src="{{ quiz.thumbnail.url }}" alt="{{quiz.subCategory}} | {{quiz.title}}" loading='lazy'>
        {% with quiz.views|viewsFormat as views %}
            <div class="quizContainer__category__inner__views">{{views}}</div>
            <h3 class="quizContainer__category__inner__title tx-al-r">{{ quiz.title }}</h3>
        {% endwith %}
    </a>
{% endwith %}
{% endwith %}