{% load templateTags %}

{% with quiz.subCategory|replaceToHyphen as subCategory %}
{% with quiz.title|replaceToHyphen as title %}
    <a href="/quizPointy/{{title}}?ic={{quiz.subCategory}}">
        <img src="{{ quiz.thumbnail.url }}" alt="{{quiz.subCategory}} | {{quiz.title}}" loading='lazy'>
        {% with quiz.views|viewsFormat as views %}
            <div class="quizContainer__category__inner__title quizContainer__category__inner__title__noViews">{{ quiz.title }}</div>
        {% endwith %}
    </a>
{% endwith %}
{% endwith %}