.basicTwoColumn {

    @include breakpoints-down(medium) {
        margin: 0;
        transform: inherit;
    }

    &__container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap-reverse;
        height: 20rem;
        margin-bottom: 2rem;

        @include breakpoints-down(medium) {
            flex-wrap: nowrap;
            height: inherit;
        }

        &:not(:last-child) {
            margin-right: 5rem;

            @include breakpoints-down(medium) {
                margin-right: inherit;
            }
        }
    }

    &__item {
        padding-top: 1.125rem;
        padding-left: 1.125rem;

        @include breakpoints-down(medium) {
            margin-right: 3rem;
        }

        &::after {
            content: '◾';
            position: relative;
            top: 0.2rem;
            margin-left: .5rem;
        }
    }

    &__sort {
        @include breakpoints-down(medium) {
            display: block;
        }
    }
}