@charset "UTF-8";
@font-face {
  font-family: "myHarmattan";
  font-display: swap;
  src: url("/static/fonts/Harmattan-Regular.woff2") format("woff2"), url("/static/fonts/Harmattan-Regular.woff") format("woff"), url("/static/fonts/Harmattan-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "myChanga";
  font-display: swap;
  src: url("/static/fonts/Changa-ExtraLight.woff2") format("woff2"), url("/static/fonts/Changa-ExtraLight.woff") format("woff"), url("/static/fonts/Changa-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: 'myLalezar';
  font-display: swap;
  src: url("/static/fonts/Lalezar-Regular.woff2") format("woff2"), url("/static/fonts/Lalezar-Regular.woff") format("woff"), url("/static/fonts/Lalezar-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "changeForNotChrome";
  font-display: swap;
  src: url("/static/fonts/Changa-Light.woff2") format("woff2"), url("/static/fonts/Changa-Light.woff") format("woff"), url("/static/fonts/Changa-Light.ttf") format("truetype");
}

@font-face {
  font-family: "myVermin";
  font-display: swap;
  src: url("/static/fonts/Vermin-Vibes-2-Soft.woff2") format("woff2"), url("/static/fonts/Vermin-Vibes-2-Soft.woff") format("woff"), url("/static/fonts/Vermin-Vibes-2-Soft.ttf") format("truetype");
}

.wrapper-sm {
  max-width: 30rem;
  margin: 1.125rem auto;
}

@media (max-width: 70em) {
  .wrapper-sm {
    max-width: inherit;
  }
}

@media (max-width: 70em) {
  .wrapper-med {
    max-width: 45.75rem;
    margin: 1.125rem 1rem;
  }
}

@media (min-width: 40em) {
  .wrapper-med {
    max-width: 50rem;
    margin: 1.125rem auto;
  }
}

@media (min-width: 50em) {
  .wrapper-med {
    max-width: 67.5rem;
    margin: 1.125rem auto;
  }
}

.wrapper-l {
  max-width: 82.5rem;
  margin: 1.125rem auto;
}

.wrapper-p {
  max-width: 46rem;
  margin: 1.125rem auto;
}

@media (max-width: 70em) {
  .wrapper-p {
    max-width: 45.75rem;
    margin: 1.125rem 2rem;
  }
}

.space-sm {
  margin-top: 2rem;
}

@media (max-width: 70em) {
  .space-sm {
    margin-top: 1rem;
  }
}

.space-med {
  margin-top: 5rem;
}

@media (max-width: 70em) {
  .space-med {
    margin-top: 2.5rem;
  }
}

.space-l {
  margin-top: 8rem;
}

@media (max-width: 70em) {
  .space-l {
    margin-top: 4rem;
  }
}

.space-xl {
  margin-top: 12rem;
}

@media (max-width: 70em) {
  .space-xl {
    margin-top: 6rem;
  }
}

input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

:root {
  color-scheme: light dark;
  /* both supported */
  color: white !important;
}

html {
  font-size: 100%;
  min-height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background: -webkit-gradient(linear, left top, right top, from(#000000), color-stop(#0a0101), to(#260101));
  background: linear-gradient(90deg, #000000, #0a0101, #260101);
  background-attachment: fixed;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.tx-al-l {
  text-align: left;
}

.tx-al-c {
  text-align: center;
}

.tx-al-r {
  text-align: right;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: myHarmattan, sans-serif, serif;
  font-size: 1.325rem;
  position: relative;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: overlay;
  scroll-behavior: smooth;
  scrollbar-color: #b52633 transparent;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #00000098;
  -webkit-backdrop-filter: blur(0.2rem);
          backdrop-filter: blur(0.2rem);
  z-index: -1;
}

body::-webkit-scrollbar {
  width: .625rem;
}

body::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, left bottom, from(#b52633), to(#791118));
  background: linear-gradient(#b52633, #791118);
  border-radius: 25px;
}

h1, h2, h3, h4, h5, h6, p, ul, li, a {
  direction: rtl;
  margin: 0;
  -webkit-transition: color 150ms ease-out;
  transition: color 150ms ease-out;
}

h1 {
  font-size: 2rem;
  padding-bottom: 1.25rem;
  padding: 0;
  font-family: myLalezar, myHarmattan;
  font-weight: 300;
}

h2 {
  font-size: 1.6rem;
  font-weight: 300;
  position: relative;
}

@media (max-width: 70em) {
  h2 {
    text-align: right;
  }
}

h3 {
  font-size: 1.6rem;
  padding: 0 0 1rem 0;
  font-weight: 300;
  position: relative;
  font-family: myLalezar, myHarmattan;
}

@media (max-width: 70em) {
  h3 {
    text-align: right;
  }
}

h5 {
  font-weight: 300;
}

p {
  font-size: 1.18rem;
  text-align: right;
  line-height: 2.1rem;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: unset;
}

a:hover, a:visited:hover, a:hover:hover {
  color: #af282f;
  cursor: pointer;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  font-size: 1.325rem;
}

hr {
  border: 1px solid #8080802e;
  width: 50%;
}

.int {
  font-family: -webkit-pictograph;
}

.btn {
  border: 0;
  border-radius: 5px;
  padding: 0 1rem;
  outline: none;
  font-family: myHarmattan, sans-serif, serif;
  font-size: 1.18rem;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  cursor: pointer;
}

.btn__grad {
  background-image: linear-gradient(-45deg, #6a0d11, #ac272e);
  border: 0;
  border-radius: 33px;
  padding: .4rem 1.54375rem;
  color: #f0f0f0 !important;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.295);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.295);
}

bold {
  font-weight: 600;
}

input {
  outline: none;
}

.input {
  height: 2.125rem;
  width: 17rem;
  border: 0;
  border-radius: 20px;
  padding-right: 1rem;
  padding-left: 1rem;
  font-family: myHarmattan, sans-serif, serif;
  font-size: 1.18rem;
  color: #161616;
  margin: 0;
  direction: rtl;
}

.hoverAnimation button {
  position: relative;
  padding: 5px 5px;
  overflow: hidden;
  -webkit-transition: color .3s ease-out;
  transition: color .3s ease-out;
  border-radius: 10px;
}

.hoverAnimation button::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  -webkit-transform: translateY(calc(100% - 2px));
          transform: translateY(calc(100% - 2px));
  width: 100%;
  height: 100%;
  background-image: linear-gradient(60deg, #b52633, #791118);
  -webkit-transition: -webkit-transform .25s ease-out;
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out, -webkit-transform .25s ease-out;
}

.hoverAnimation button:hover::after {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform .25s ease-out;
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out, -webkit-transform .25s ease-out;
}

.backBtn {
  background-image: linear-gradient(-45deg, #6e6e6e, #d8d8d8);
  color: black !important;
  position: relative;
  margin-left: 25%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

@media (max-width: 70em) {
  .backBtn {
    margin-left: 15%;
  }
}

.loadingScreen {
  background: linear-gradient(-45deg, #6a0d11, #ac272e);
}

.loadingScreen:after {
  -webkit-animation: changeContent .8s linear infinite;
          animation: changeContent .8s linear infinite;
  content: "⠋";
  font-size: 5rem;
}

@keyframes changeContent {
  10% {
    content: "⠙";
  }
  20% {
    content: "⠹";
  }
  30% {
    content: "⠸";
  }
  40% {
    content: "⠼";
  }
  50% {
    content: "⠴";
  }
  60% {
    content: "⠦";
  }
  70% {
    content: "⠧";
  }
  80% {
    content: "⠇";
  }
  90% {
    content: "⠏";
  }
  100% {
    content: '⠏';
  }
}

@-webkit-keyframes changeContent {
  10% {
    content: "⠙";
  }
  20% {
    content: "⠹";
  }
  30% {
    content: "⠸";
  }
  40% {
    content: "⠼";
  }
  50% {
    content: "⠴";
  }
  60% {
    content: "⠦";
  }
  70% {
    content: "⠧";
  }
  80% {
    content: "⠇";
  }
  90% {
    content: "⠏";
  }
  100% {
    content: '⠏';
  }
}

.popUp-show {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  visibility: visible !important;
  opacity: 1 !important;
  -webkit-transition: all .53s ease-in-out !important;
  transition: all .53s ease-in-out !important;
}

.popUp-hide {
  -webkit-transform: translate(-50%, -45%);
          transform: translate(-50%, -45%);
  visibility: hidden !important;
  opacity: 0 !important;
  -webkit-transition: all .53s ease-in-out !important;
  transition: all .53s ease-in-out !important;
}

.fadeOut {
  visibility: hidden !important;
  opacity: 0 !important;
  -webkit-transition: all .53s ease-in-out !important;
  transition: all .53s ease-in-out !important;
}

.fadeIn {
  visibility: visible !important;
  opacity: 1 !important;
  -webkit-transition: all .53s ease-in-out !important;
  transition: all .53s ease-in-out !important;
}

.answerShow {
  visibility: visible !important;
  opacity: 1 !important;
  -webkit-transition: all .53s ease-in-out !important;
  transition: all .53s ease-in-out !important;
  height: auto;
}

.answerHide {
  visibility: hidden !important;
  opacity: 0 !important;
  -webkit-transition: all .53s ease-in-out !important;
  transition: all .53s ease-in-out !important;
  height: 0;
}

.noVis {
  visibility: hidden;
  display: none;
  height: 0;
  width: 0;
}

.pointerOff {
  pointer-events: none;
}

.flex-jc-sb {
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.flex-jc-c {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.flex-jc-fe {
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
}

.flex-jc-fs {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
}

.flex-ai-fs {
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
}

.flex-ai-c {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.grid-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.center {
  left: 50%;
  position: relative;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.beforeAfterDecor {
  text-align: center;
}

.beforeAfterDecor::before {
  content: '';
  width: 3.18rem;
  height: 0.187rem;
  background: -webkit-gradient(linear, right top, left top, from(darkRed), to(#c41f1f));
  background: linear-gradient(270deg, darkRed, #c41f1f);
  margin-right: 1rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.beforeAfterDecor::after {
  content: '';
  width: 3.18rem;
  height: 0.187rem;
  background: -webkit-gradient(linear, left top, right top, from(darkRed), to(#c41f1f));
  background: linear-gradient(90deg, darkRed, #c41f1f);
  margin-left: 1rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.pageTravel {
  width: 19rem;
  padding: .2rem .7rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.638) !important;
  -webkit-box-shadow: 0 15px 22px rgba(255, 255, 255, 0.027) !important;
          box-shadow: 0 15px 22px rgba(255, 255, 255, 0.027) !important;
}

.pageTravel button {
  border: none;
}

.pageTravel button:hover {
  cursor: pointer;
}

.pageTravel__pages > button, .pageTravel__pages span {
  background: none;
  margin-right: .6rem;
  margin-left: .6rem;
}

.pageTravel__pages__curr {
  text-decoration: underline;
  -webkit-text-decoration-color: #af282f;
          text-decoration-color: #af282f;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
}

.pageTravel__arwLast {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.pageTravel__arwNext {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

/* stylish */
.lightGls {
  padding: .4rem;
  color: black;
  border-radius: 7px;
  border: solid 1px transparent;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  background-clip: padding-box;
  -webkit-box-shadow: 0 8px 15px #00000059;
          box-shadow: 0 8px 15px #00000059;
  background: rgba(255, 255, 255, 0.7);
}

.shadow-red {
  -webkit-box-shadow: 0 0 20px #b52633;
          box-shadow: 0 0 20px #b52633;
}

.darkGls {
  padding: .4rem;
  color: white;
  border-radius: 7px;
  border: solid 1px transparent;
  -webkit-box-shadow: 0 15px 22px #2c2c2c2a;
          box-shadow: 0 15px 22px #2c2c2c2a;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  background-clip: padding-box;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .darkGls {
    background: rgba(0, 0, 0, 0.61);
  }
}

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .darkGls {
    background: rgba(0, 0, 0, 0.781);
  }
}

.nightMode {
  background: url("/static/img/nightMode.png") no-repeat center center;
  -webkit-filter: drop-shadow(0px 0px 4px white);
          filter: drop-shadow(0px 0px 4px white);
  -webkit-transform: translate(0.54rem, -0.43rem);
          transform: translate(0.54rem, -0.43rem);
  height: 1.6875rem;
  z-index: 3;
  border: none;
  width: 2rem;
}

.nightMode:hover {
  cursor: pointer;
}

.nightMode::after {
  width: 0 !important;
}

@media (max-width: 70em) {
  .nightMode {
    -webkit-transform: translate(-0.51rem, -0.33rem);
            transform: translate(-0.51rem, -0.33rem);
  }
}

.nightMode__container {
  width: 1.6875rem;
  height: 1.6875rem;
  padding: .3rem;
}

@media (max-width: 70em) {
  .nightMode__container {
    position: relative;
    top: 2rem;
  }
}

.divider {
  border-bottom: 1px solid #797979;
  width: 50vw;
  margin-left: 50%;
  margin-top: .7rem;
  margin-bottom: 0rem;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.title {
  text-align: center;
  font-family: myLalezar, serif;
  font-weight: 300;
  font-size: 2rem;
  margin-top: -3rem;
}

@media (max-width: 70em) {
  .title {
    max-width: 16rem;
    margin: 0 auto 0 auto;
  }
}

.lowTitle {
  position: absolute;
  font-size: 3.5rem;
  opacity: .15;
  font-family: myLalezar, serif;
  font-weight: 300;
  width: 100%;
  top: 3.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 70em) {
  .lowTitle {
    font-size: 2.5rem;
    top: 5rem;
  }
}

.skeletonLoading {
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background: -webkit-gradient(linear, left top, right top, color-stop(25%, rgba(190, 190, 190, 0.2)), color-stop(37%, rgba(129, 129, 129, 0.24)), color-stop(63%, rgba(190, 190, 190, 0.2)));
  background: linear-gradient(to right, rgba(190, 190, 190, 0.2) 25%, rgba(129, 129, 129, 0.24) 37%, rgba(190, 190, 190, 0.2) 63%);
  background-size: 400% 100%;
  -webkit-animation: loadingFrame 1s cubic-bezier(0.33, 0.38, 1, 1) infinite;
          animation: loadingFrame 1s cubic-bezier(0.33, 0.38, 1, 1) infinite;
}

.skeletonLoading__quizContainer {
  width: 260px;
  height: 150px !important;
  -webkit-box-shadow: 0 0 15px #6d6d6d5c !important;
          box-shadow: 0 0 15px #6d6d6d5c !important;
}

.skeletonLoading__quizContainer::before {
  -webkit-transform: rotate(317deg);
          transform: rotate(317deg);
}

@media (max-width: 70em) {
  .skeletonLoading__quizContainer {
    width: 10rem;
    height: 5.625rem !important;
  }
}

.skeletonLoading__quizTitle {
  width: 14rem;
  height: 1.5rem !important;
}

.skeletonLoading__quizInfo {
  width: 8rem;
  height: 1.5rem !important;
}

.skeletonLoading__quizQuestion {
  width: 30rem;
  height: 25rem !important;
}

.skeletonLoading__blog {
  width: 60rem;
  height: 9rem !important;
}

/* .paintBrush {
    position: relative;
    z-index: 1;    &::before {
        background: url('/static/img/redBrush.png') no-repeat center center;
        content: '';
        display: block;
        width: 10rem;
        height: 1.5rem;
        transform: translate(2rem, 2.5rem);
        z-index: -1;
        position: relative;
        filter: blur(1px);
    }
} */
@-webkit-keyframes loadingFrame {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@keyframes loadingFrame {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

/* Visibility */
@media (max-width: 70em) {
  .hideForMobile {
    display: none !important;
  }
}

@media (min-width: 69em) {
  .md:hidden {
    display: none !important;
  }
}

#land {
  height: 100%;
  padding: 1rem;
}

.header__logo span {
  font-family: myLalezar, serif;
  background: linear-gradient(45deg, #a20000, #aa4949, #4b0000);
  background-size: 400% 400%;
  -webkit-animation: logo 5s ease infinite alternate;
          animation: logo 5s ease infinite alternate;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  margin-left: .2rem;
  font-size: 1.6rem;
}

@-webkit-keyframes logo {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes logo {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.header__links a {
  color: white !important;
}

.header__links button {
  color: white !important;
}

.header .slideMenu-hide {
  top: -27rem !important;
}

.header__menu {
  background: rgba(29, 29, 29, 0.624) !important;
  -webkit-box-shadow: 0 7px 20px black;
          box-shadow: 0 7px 20px black;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border: 2px solid transparent;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.header__menu__openBtn {
  right: 1rem;
  z-index: 1;
}

.header__menu__openBtn span {
  background: white !important;
}

.header__menu__openBtn__inner {
  color: white !important;
}

.header .subHeader {
  -webkit-box-shadow: inset 0 0 10px #e98080, 0 0 10px black;
          box-shadow: inset 0 0 10px #e98080, 0 0 10px black;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  line-height: 2rem;
}

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .header .subHeader {
    background: rgba(255, 255, 255, 0.952);
  }
}

.header .subHeader a:hover {
  color: rgba(255, 207, 207, 0.692) !important;
}

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .header .subHeader a:hover {
    color: darkRed !important;
  }
}

.header .subHeader > li > a {
  color: white !important;
}

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .header .subHeader > li > a {
    color: black !important;
  }
}

.header .subHeader > li > a:hover {
  color: rgba(255, 0, 0, 0.692) !important;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .header__categories .header__quizzes {
    background: rgba(255, 255, 255, 0.18) !important;
    -webkit-box-shadow: 2px 2px 15px black !important;
            box-shadow: 2px 2px 15px black !important;
  }
}

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .header__categories .header__quizzes {
    background: rgba(0, 0, 0, 0.939) !important;
    -webkit-box-shadow: 0 0 15px 1px rgba(104, 104, 104, 0.192) !important;
            box-shadow: 0 0 15px 1px rgba(104, 104, 104, 0.192) !important;
  }
}

@media (max-width: 70em) {
  .header span {
    background-color: #f0f0f0 !important;
  }
}

.header a, .header button {
  color: #f0f0f0;
}

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .header li > a {
    color: black !important;
  }
}

.header h4 {
  color: #f0f0f0;
}

.header h4:hover {
  color: white !important;
}

.header h4::after {
  border-bottom: 2px solid #f0f0f0 !important;
}

.header input {
  color: #f0f0f0 !important;
}

.header .input {
  color: #f0f0f0 !important;
}

.header__search__input {
  border-radius: 15px !important;
  -webkit-box-shadow: 0 15px 20px #ffffff07 !important;
          box-shadow: 0 15px 20px #ffffff07 !important;
  border: None;
}

.header__search__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.775) !important;
}

.header__search__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.775) !important;
}

.header__search__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.775) !important;
}

.header__search__input::placeholder {
  color: rgba(255, 255, 255, 0.775) !important;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .header__search__input {
    background: #00000094 !important;
  }
}

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .header__search__input {
    background: #000000ee !important;
  }
}

.header__search__result {
  -webkit-box-shadow: 0 0 40px #87878733 !important;
          box-shadow: 0 0 40px #87878733 !important;
}

@media (max-width: 70em) {
  .header__search__result {
    -webkit-box-shadow: inherit !important;
            box-shadow: inherit !important;
  }
}

.header__search__result__category__item a > img {
  -webkit-box-shadow: 0 0 15px 5px black !important;
          box-shadow: 0 0 15px 5px black !important;
}

.header__search__result__quizzes__item::before {
  content: '◽' !important;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .header__search__result {
    background: #00000094 !important;
  }
}

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .header__search__result {
    background: #000000ee !important;
  }
}

.header__search .header__searchInput::-webkit-input-placeholder {
  color: white;
}

.header__search .header__searchInput:-ms-input-placeholder {
  color: white;
}

.header__search .header__searchInput::-ms-input-placeholder {
  color: white;
}

.header__search .header__searchInput::placeholder {
  color: white;
}

.header__search {
  position: absolute;
  left: 2rem;
}

.header__search__opener {
  position: absolute;
  right: 5rem;
}

.header__search__opener__bg {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 3;
  background: rgba(0, 0, 0, 0.75);
}

.header__search__input {
  border: None;
  font-family: myHarmattan, sans-serif, serif;
  font-size: 1.180rem;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  height: 2.125rem;
  padding-right: 1.3125rem;
  width: 95%;
  z-index: 4;
  border-radius: 15px;
  -webkit-box-shadow: 0 15px 22px #0000002a;
          box-shadow: 0 15px 22px #0000002a;
}

@media (max-width: 49.9375em) {
  .header__search__input {
    opacity: 0;
    visibility: hidden;
  }
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .header__search__input {
    background: #ffffff94;
  }
}

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .header__search__input {
    background: #fffffff6;
  }
}

.header__search__input::-webkit-input-placeholder {
  color: black;
}

.header__search__input:-ms-input-placeholder {
  color: black;
}

.header__search__input::-ms-input-placeholder {
  color: black;
}

.header__search__input::placeholder {
  color: black;
}

.header__search__result {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
  direction: rtl;
  white-space: pre-line;
  position: absolute;
  left: 0;
  top: 3rem;
  width: 93vw;
  max-width: 73rem;
  min-height: 27rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 40px #00000033;
          box-shadow: 0 0 40px #00000033;
  -webkit-backdrop-filter: blur(22px);
          backdrop-filter: blur(22px);
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.header__search__result::-webkit-scrollbar {
  display: none;
}

@media (max-width: 70em) {
  .header__search__result {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-box-shadow: inherit;
            box-shadow: inherit;
    top: 8rem;
    width: 100vw;
    min-height: 30rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    left: -2rem;
  }
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .header__search__result {
    background: #ffffff94;
  }
}

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .header__search__result {
    background: #fffffff6;
  }
}

.header__search__result__title span {
  white-space: pre-wrap;
}

.header__search__result__quizzes__item a > img {
  -webkit-filter: brightness(60%) !important;
          filter: brightness(60%) !important;
  -webkit-box-shadow: 0 15px 15px black !important;
          box-shadow: 0 15px 15px black !important;
}

.header__search__result__seeMore {
  margin-right: 2rem;
  margin-bottom: 1rem;
  position: absolute;
  bottom: 1rem;
}

@media (max-width: 70em) {
  .header__search__result__seeMore {
    top: 1rem;
    left: 1rem;
    bottom: inherit;
  }
}

.footer {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6a0d11), to(#ac272e));
  background-image: linear-gradient(180deg, #6a0d11, #ac272e);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer__container div:not(:first-child) {
  margin-left: 5rem;
}

@media (max-width: 70em) {
  .footer__container div:not(:first-child) {
    margin-left: 3.25rem;
  }
}

@media (max-width: 70em) {
  .footer__container div {
    margin-left: 3.25rem;
  }
}

.footer a:hover {
  color: white !important;
}

.footer li {
  padding-bottom: .50rem;
  font-weight: 300;
  font-size: 1.125rem;
  min-width: 1.5rem;
}

.hero-inner {
  padding: 1.5rem;
  color: white;
  border-radius: 40px;
  -webkit-box-shadow: 2px 2px 8px #0000005e, 0 0 15px #3f3f3f5e !important;
          box-shadow: 2px 2px 8px #0000005e, 0 0 15px #3f3f3f5e !important;
  -webkit-backdrop-filter: blur(15px) !important;
          backdrop-filter: blur(15px) !important;
  background: rgba(0, 0, 0, 0.54) !important;
  border: solid 1px transparent !important;
  background-clip: padding-box !important;
}

.hero-inner button {
  background-image: linear-gradient(-45deg, #6e6e6e, #d8d8d8) !important;
  color: black !important;
}

.hero-inner button:hover {
  color: #af282f !important;
}

.hero_bubbles {
  -webkit-animation: dancingBubbles 5s infinite linear;
          animation: dancingBubbles 5s infinite linear;
}

@-webkit-keyframes dancingBubbles {
  0% {
    -webkit-transform: rotate(0deg) translate(-10px) rotate(0deg);
            transform: rotate(0deg) translate(-10px) rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg) translate(0px) rotate(-180deg);
            transform: rotate(180deg) translate(0px) rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(360deg) translate(-10px) rotate(-360deg);
            transform: rotate(360deg) translate(-10px) rotate(-360deg);
  }
}

@keyframes dancingBubbles {
  0% {
    -webkit-transform: rotate(0deg) translate(-10px) rotate(0deg);
            transform: rotate(0deg) translate(-10px) rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg) translate(0px) rotate(-180deg);
            transform: rotate(180deg) translate(0px) rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(360deg) translate(-10px) rotate(-360deg);
            transform: rotate(360deg) translate(-10px) rotate(-360deg);
  }
}

.hero_path {
  background: url("/static/img/landPage-path.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.hero__start h2 {
  font-family: myLalezar, myHarmattan, serif;
}

.hero__start a {
  animation: shining 2s linear infinite alternate-reverse;
}

@-webkit-keyframes shining {
  from {
    -webkit-box-shadow: 6px 0px 22px #ffffff14, inset 6px 0 18px black;
            box-shadow: 6px 0px 22px #ffffff14, inset 6px 0 18px black;
  }
  to {
    -webkit-box-shadow: -6px -5px 22px #ffffff14, inset -6px 5px 18px black;
            box-shadow: -6px -5px 22px #ffffff14, inset -6px 5px 18px black;
  }
}

@keyframes shining {
  from {
    -webkit-box-shadow: 6px 0px 22px #ffffff14, inset 6px 0 18px black;
            box-shadow: 6px 0px 22px #ffffff14, inset 6px 0 18px black;
  }
  to {
    -webkit-box-shadow: -6px -5px 22px #ffffff14, inset -6px 5px 18px black;
            box-shadow: -6px -5px 22px #ffffff14, inset -6px 5px 18px black;
  }
}

.hero__start button {
  background: linear-gradient(-45deg, #a20000, #4b0000, #aa4949, #a20000);
  background-size: 400% 400%;
  -webkit-animation: heroButton 10s ease infinite alternate;
          animation: heroButton 10s ease infinite alternate;
}

@-webkit-keyframes heroButton {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes heroButton {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hero__start button span {
  width: 2.5rem;
  height: 2rem;
  -webkit-transition: -webkit-transform .15s ease-in-out;
  transition: -webkit-transform .15s ease-in-out;
  transition: transform .15s ease-in-out;
  transition: transform .15s ease-in-out, -webkit-transform .15s ease-in-out;
}

.hero__start button:hover {
  color: white;
}

.hero__start button:hover span {
  -webkit-transform: translateX(-0.5rem);
          transform: translateX(-0.5rem);
}

.lowBrightnessBackground::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #00000086;
  z-index: 0;
}

.at4-share-title {
  font-size: 0.8rem;
  color: white;
  margin-bottom: 0.3rem;
}

@media (min-width: 40em) {
  .quiz__question {
    background: none;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
    text-align: right;
    font-size: 1.85rem;
  }
}

.quiz__imgOption {
  width: 9.9rem;
  border-radius: .9rem;
}

.quiz__autoQuestionChangerSwitch__btn {
  width: 2rem;
  height: 1rem;
  border: 1px solid white;
  border-radius: 25px;
  background: white;
  margin-left: .7rem;
  -webkit-box-shadow: inset 0 0 5px black, 0 0 5px black;
          box-shadow: inset 0 0 5px black, 0 0 5px black;
}

.quiz__autoQuestionChangerSwitch__innerBtn {
  width: 0.8rem;
  height: 0.8rem;
  background: red;
  border-radius: 10px;
  margin: 0;
  padding: 0;
  left: -1rem;
  -webkit-box-shadow: inset 0 0 4px black;
          box-shadow: inset 0 0 4px black;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: 3;
}

.quiz__autoQuestionChangerSwitch__innerBtn__switched {
  background: green;
  left: .1rem;
}

.quiz__questionChanger {
  cursor: pointer;
  pointer-events: all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.quiz__questionChanger__container {
  z-index: 2;
  direction: rtl;
}

.quiz__questionChanger__next {
  right: calc(50% - 19rem);
}

.quiz__questionChanger__last {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  right: calc(50% + 15rem);
}

.quiz__bottomQuestionChanger {
  background: url("/static/img/arw-submit.svg") no-repeat center center;
  height: 2rem;
  width: 2rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  pointer-events: all;
}

.quiz__bottomQuestionChanger__container {
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  z-index: 1;
  pointer-events: fill;
}

.quiz__questionCounter {
  margin-top: 1rem;
  margin-bottom: 2rem;
  z-index: 1;
  color: #f0f0f0;
}

@media (max-width: 70em) {
  .quiz__questionCounter {
    margin-bottom: 1rem;
  }
}

.quiz__questionCounter__totalAnswered {
  margin-right: .5rem;
}

.quiz__hider {
  width: 23rem;
  overflow: hidden;
  bottom: 3.5rem;
  z-index: 1;
  -webkit-transition: bottom 0.35s cubic-bezier(0, 0.79, 0.88, 0.56);
  transition: bottom 0.35s cubic-bezier(0, 0.79, 0.88, 0.56);
}

@media (min-width: 40em) {
  .quiz__hider {
    width: 29rem;
    bottom: auto;
    margin-bottom: 3rem;
  }
}

.quiz_options label:hover {
  -webkit-transform: translate(3px, -3px);
          transform: translate(3px, -3px);
  -webkit-box-shadow: -3px 3px 0 darkRed;
          box-shadow: -3px 3px 0 darkRed;
  cursor: pointer;
}

.quiz_options__imgLabel {
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.quiz_options__textLabel {
  -webkit-transition: border .3s ease-in-out;
  transition: border .3s ease-in-out;
}

.quiz_options__textLabel:not(:last-child) {
  margin-bottom: .5rem;
}

.quiz_options__textLabel__active .quiz__options__textLabel::after {
  opacity: 1 !important;
}

.quiz__correctAnswer {
  border: 2px solid green !important;
  background: #0019007d !important;
  opacity: 1 !important;
}

.quiz__wrongAnswer {
  border: 1px solid #a2000090 !important;
  background: #1f000052 !important;
  opacity: 1 !important;
}

.quiz__tags li {
  background: linear-gradient(-45deg, darkRed, transparent);
}

.quiz__answerImGif {
  padding-bottom: 0;
}

.quiz__answerImGif img {
  width: 90%;
  height: 100%;
  border-radius: 15px;
  -webkit-transform: translateY(0.6rem);
          transform: translateY(0.6rem);
}

@media (max-width: 70em) {
  .quiz__answerImGif img {
    width: 100%;
  }
}

.quiz__answerText {
  padding: 1rem 2rem;
}

@media (min-width: 40em) {
  .quiz__answerText p {
    font-size: 1.18rem;
  }
}

.countingResult {
  font-size: 1.325rem;
  font-family: myChanga, sans-serif, serif;
  background: linear-gradient(-45deg, #6a0d11, #ac272e);
}

@media (max-width: 70em) {
  .countingResult {
    font-size: 1.025rem;
  }
}

.countingResult::after {
  position: absolute;
  top: 55%;
}

.slider {
  padding: 0;
  min-height: 500px;
  color: #fff;
}

.quizContainer__minHeight {
  min-height: 40vh;
}

.quizContainer__header {
  direction: rtl;
}

.quizContainer article {
  background: rgba(0, 0, 0, 0.33);
  -webkit-backdrop-filter: blur(44px) !important;
          backdrop-filter: blur(44px) !important;
}

.quizContainer__trans {
  background: transparent;
}

.quizContainer__bg {
  background: #0000006c;
}

.result {
  font-family: myChanga, sans-serif, serif;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 17rem 19rem 18rem;
      grid-template-columns: 17rem 19rem 18rem;
}

.result__container {
  min-height: 40vh;
}

.result__title > h5 {
  opacity: .5;
  margin-right: 2.5rem;
  margin-left: 2.5rem;
  margin-bottom: 2.25rem;
  direction: rtl;
}

.result__subtitle {
  font-size: 1.6rem;
  white-space: pre;
}

@media (max-width: 70em) {
  .result__subtitle {
    font-size: 1.3rem;
  }
}

.result__share h5 {
  margin-bottom: 1rem;
  white-space: pre-line;
}

.result__img {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.result__detail {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.result__detail__wrongTime {
  margin-right: 1rem;
}

.result__popUpQuizSuggester {
  left: calc(50% - 2rem);
  top: 50%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  direction: rtl;
}

.result__popUpQuizSuggester__thumbnail img {
  /* position: relative; */
  -webkit-transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
}

.result__popUpQuizSuggester__title {
  width: 19rem;
  font-size: 1.5rem;
}

@media (max-width: 70em) {
  .result__popUpQuizSuggester__title {
    font-size: 1.2rem;
    letter-spacing: 0.3px;
  }
}

.result__popUpQuizSuggester__title:hover {
  color: #c7c7c7;
}

.result__popUpQuizSuggester__closeBtn {
  font-family: cursive, 'myHarmattan';
}

.tryAgain {
  font-size: 1rem;
  font-weight: 600;
  opacity: 0.4;
  background: none;
  -webkit-transform: translate(-2rem);
          transform: translate(-2rem);
}

.tryAgain:hover {
  border: solid 1px darkRed !important;
}

.resultPointy {
  margin-bottom: 4rem;
  padding: 1rem;
}

.resultPointy p {
  font-size: 1.2rem;
  text-align: justify;
}

.resultPointy__img {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  margin: 2rem;
}

.resultPointy__img img {
  border-radius: 15px;
}

.biggerRate {
  direction: ltr;
}

.biggerRate > li {
  font-size: 2.3rem;
  margin-right: 0 !important;
  margin-left: 1rem;
}

.basicPage {
  margin-bottom: 30vh;
  width: 85%;
  text-align: center;
  -webkit-box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.25);
          box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.25);
  padding: 3rem;
  border-radius: 15px;
  line-height: 2rem;
}

@media (max-width: 70em) {
  .basicPage {
    margin-bottom: 60vh;
  }
}

.basicPage h3 {
  font-family: myLalezar, serif;
  font-weight: 300;
}

.basicPage h4 {
  direction: rtl;
}

.basicPage h4::before {
  content: '_';
}

.pageNotFound {
  -webkit-transform: translate(-50%, -53%);
          transform: translate(-50%, -53%);
  background: -webkit-gradient(linear, left top, left bottom, from(#b52633), to(#46080c));
  background: linear-gradient(#b52633, #46080c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.sortMore {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: .8fr 1.2fr;
      grid-template-columns: .8fr 1.2fr;
}

@media (max-width: 70em) {
  .sortMore {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin: 0;
  }
}

.sortMore__container a::after {
  background: #121212 !important;
  -webkit-box-shadow: inset 0 0 10px #1b1b1b, 0 6px 10px #00000081 !important;
          box-shadow: inset 0 0 10px #1b1b1b, 0 6px 10px #00000081 !important;
}

.sortMore__container a:hover {
  -webkit-box-shadow: 0 0 10px #252424 !important;
          box-shadow: 0 0 10px #252424 !important;
}

.sortMore__container a:hover::after {
  -webkit-box-shadow: inset 0 0 10px #000000, 0 6px 10px #000000bb !important;
          box-shadow: inset 0 0 10px #000000, 0 6px 10px #000000bb !important;
}

.sortMore__container__views {
  background: #181818 !important;
}

.sortMore__inner {
  margin: 2rem;
}

@media (max-width: 70em) {
  .sortMore__inner {
    margin: auto;
    margin-bottom: 2rem;
  }
}

@media (max-width: 70em) {
  .sortMore div:first-child {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.sortMore__categoryStyle {
  display: inherit !important;
}

.tools_btn {
  -webkit-box-shadow: inset 0 0 5px #4a0b0b, 0 0 5px #323232;
          box-shadow: inset 0 0 5px #4a0b0b, 0 0 5px #323232;
}

.blog {
  margin-top: 3rem;
  margin-bottom: 8rem;
}

@media (max-width: 85em) {
  .blog {
    margin-right: 3rem;
    margin-left: 3rem;
  }
}

.blog li {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.blog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 70em) {
  .blog-container {
    display: block;
  }
}

.blog-thumbnail {
  margin-left: 1.25rem;
}

.blog-thumbnail img {
  border-radius: 10px;
}

.blog-title {
  font-family: 'myLalezar';
  font-size: 1.4rem;
}

.blog-publish {
  font-size: 1rem;
  color: gray;
}

.blog-brief {
  line-height: 1.5rem;
  margin-top: 1rem;
  height: 4rem;
  width: 39rem;
  overflow: hidden;
}

@media (max-width: 70em) {
  .blog-brief {
    width: 20rem;
  }
}

.blog hr {
  opacity: .15;
}

.article p > img {
  width: 100% !important;
  height: auto !important;
}

.article h5 {
  font-weight: 300;
}

.article hr {
  opacity: .15;
}

.article-publish {
  color: #b5b5b5;
  font-size: 1rem;
}

.adverts {
  position: absolute;
  background-clip: inherit;
  border-radius: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.adverts_center {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3rem;
}

.adverts__top {
  display: none;
  width: 100%;
  height: 10rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.125rem;
}

@media (max-width: 85em) {
  .adverts__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.adverts__overTop {
  width: 100%;
  margin-top: -4rem;
  top: 0;
}

.adverts__bottom {
  display: none;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10rem;
  margin-bottom: 1.125rem;
}

@media (max-width: 85em) {
  .adverts__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.adverts__overBottom {
  position: fixed;
  width: 100%;
  height: 4rem;
  bottom: 0;
}

.adverts__left {
  width: 13rem;
  height: 35rem;
  left: 4.5rem;
}

@media (max-width: 85em) {
  .adverts__left {
    display: none;
  }
}

.adverts__right {
  width: 13rem;
  height: 35rem;
  right: 1.5rem;
}

@media (max-width: 85em) {
  .adverts__right {
    display: none;
  }
}

.adverts__bottomIndex {
  position: inherit;
  height: 4rem;
  padding: 7rem;
  margin: 1rem;
  color: black;
}

.adverts_between {
  min-width: 100%;
  -webkit-transition: all 1.3s ease-in-out;
  transition: all 1.3s ease-in-out;
}
/*# sourceMappingURL=style.css.map */