.footer {
    // transition: all .3s ease-in-out;

    // color: $white;
    // box-shadow: black 0 -5px 50px;

    background-image: $red-tb-grad;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    // width: 100%;
    // position: absolute;
    // padding-top: 3rem; padding-bottom: 3rem;

    // .footer__background {
        // height: 33rem;
    // }

    // &__container{
        // direction: rtl;
        // display: flex;
        // 
        
        // @include breakpoints-down(large) {
        //     display: grid;
        //     grid-template-columns: 1fr 1fr;
        //     text-align: right;
        //     margin-right: 0;
        // }
        
    //     div {
    //         &:not(:first-child) {
    //             margin-left: 5rem;

    //             @include breakpoints-down(large) {
    //                 margin-left: 3.25rem;
    //             }
    //         }

    //         @include breakpoints-down(large) {
    //             margin-left: 3.25rem;
    //         }
    //     }
    // }

    a {
    //     color: white;

        &:hover {
            color: white !important;
        }
    }

    // h3 {
    //     font-size: 1.4rem;
    // }

    li {
        padding-bottom: .50rem;
        font-weight: 300;
        font-size: 1.125rem;
        min-width: 1.5rem;
    }

    // img {
    //     width: 1.126rem;
    // }

    // &__copyRight {
        // opacity: .5;
        // > p {
            // margin: 0;
            // font-size: .9rem;
            
            // > a{
            //     opacity: .8;
            //     transition: all .2s ease-in-out;

            //     &:hover {
            //         opacity: 1;
            //     }
            // }
        // } 
    // }
}