.sortMore {
    display: grid;
    grid-template-columns: .8fr 1.2fr;

    @include breakpoints-down(large) {
        grid-template-columns: 1fr;
        margin: 0;
    }

    &__container {
        a {
            &::after {
                background: #121212 !important;
                box-shadow: inset 0 0 10px #1b1b1b, 0 6px 10px #00000081 !important;
            }

            &:hover {
                box-shadow: 0 0 10px #252424 !important;

                &::after {
                    box-shadow: inset 0 0 10px #000000, 0 6px 10px #000000bb !important;
                }
            }
        }

        &__views {
            background: #181818 !important;
        }
    }

    &__inner {
        margin: 2rem;
    
        @include breakpoints-down(large) {
            margin: auto; margin-bottom: 2rem;
        }
    }

    div {
        &:first-child {
            @include breakpoints-down(large) {
                order: 1;
            }
        }
    }

    &__categoryStyle {
        display: inherit !important;
    }
}