{% extends './layout.html' %}
{% block content %}
{% load templateTags %}

<!-- <adverts class="adverts adverts__left hideForMobile" style="margin-top: 5.5rem;">
</adverts>

<adverts class="adverts adverts__right hideForMobile" style="margin-top: 5.5rem;">
</adverts> -->

<body>

    <!-- <div class="adverts__top">
    </div> -->
    
    {% include 'app/base/tools.html' %}

    <div class="quizzes wrapper-med grid grid-jc-c">

        {% if category == 'celebrity' %}
            <div class="quizzes__item">
                <a href="/category/celebriy/mix-celebrity/0/newest/16">
                    <img src="/static/img/Thn-Category/mix-celebrity.jpg" alt="mix celebrity |‌ کوئیز های میکس سلبریتی" loading='lazy'>
                </a>

                <h5 class="tx-al-c">
                    <a href="/category/celebriy/mix-celebrity/0/newest/16">
                        میکس سلبریتی ها
                    </a>
                </h5>
            </div>

        {% elif category == 'movie-series' %}
            <div class="quizzes__item">
                <a href="/category/movie-series/mix-movie-series/0/newest/16">
                    <img src="/static/img/Thn-Category/mix-movie-series.jpg" alt="mix movie-series |‌ کوئیز های میکس فیلم و سریال" loading='lazy'>
                </a>

                <h5 class="tx-al-c">
                    <a href="/category/movie-series/mix-movie-series/0/newest/16">
                        میکس فیلم و سریال ها
                    </a>
                </h5>
            </div>
        {% endif %}

        {% for category in categories %}
            <div class="quizzes__item">

                {% with category.innerCategory|listMaker:' ' as img %}
                <a href="/category/{{category.category}}/{{img.0}}-{{img.1}}/0/newest/16">
                    <img src="/static/img/Thn-Category/{{img.0}}-{{img.1}}.jpg" alt="{{ category.innerCategory }} |‌ کوئیز های {{ category.title }}" loading='lazy'>
                </a>

                {% endwith %}

                <h5 class="tx-al-c">

                    {% if category.category == 'psychology' %}
                        {{ category.title }}
                    {% else %}
                        {{ category.innerCategory}}
                    {% endif %}

                    </a>
                </h5>
            </div>
        {% endfor %}
    </div>

    {% include 'app/base/pageTravel.html' %}

    <!-- <div class="adverts__bottom">
    </div> -->

</body>

{% endblock %}
