{% extends './layout.html' %}
{% block content %}
{% load templateTags %}

<!-- <adverts class="adverts adverts__left hideForMobile" style="margin-top: 5.5rem;">
</adverts>

<adverts class="adverts adverts__right hideForMobile" style="margin-top: 5.5rem;">
</adverts> -->

<body>

    <!-- <div class="adverts__top">
    </div> -->
    
    {% include 'app/base/tools.html' %}

    <div class="quizzes wrapper-med grid grid-jc-c">

        {% for category in categories %}
            <div class="categoryList quizContainer__category__inner flex flex-jc-fe flex-ai-c wrapper-med">

                {% with category.subCategory|titleToImgName:' ' as imgTitle %}
                <a href="/category/{{imgTitle}}?c={{category.category}}&nr=16&p=0&st=newest">
                    <img src="/media/app/static/img/Thn-Category/{{imgTitle}}.jpg" alt="{{ category.subCategory }} |‌ کوئیز های {{ category.title }}" loading='lazy'>
                    {% with category.views|viewsFormat as views %}
                        <div class="quizContainer__category__inner__views">{{views}}</div>
                        <div class="quizContainer__category__inner__title">
                            {% if category.category == 'psychology' %}
                                {{ category.title }}
                            {% else %}
                                {{ category.title}}
                                <br/>
                                {{ category.subCategory}}
                            {% endif %}
                        </div>
                    {% endwith %}
                </a>
                {% endwith %}

            </div>

        {% endfor %}
    </div>

    {% include 'app/base/pageTravel.html' %}

    <!-- <div class="adverts__bottom">
    </div> -->

</body>

{% endblock %}
