{% extends './layout.html' %}
{% block content %}

<div class="basicPage center">
        <h1> {{ message }} </h1>
        <div class="space-med">
            <p>💖 اگه فکر میکنی اشتباهی پیش اومدی ممنون میشیم برامون به<a href="mailto:quizland.support@gmail.com?subject= در سایت کوئيزلند به یه مشکلی برخوردم"> این ایمیل</a> پیام بدی</p>
            <a href="mailto:quizland.support@gmail.com?subject= در سایت کوئيزلند به یه مشکلی برخوردم" target="_blank">quizland.support@gmail.com</a>
        </div>
</div>
<button type="button" class="backBtn" aria-label="Back Button">بازگشت</button>

{% endblock content %}