{% extends './layout.html' %}
{% block content %}
{% load templateTags %}

<div class="moreSearchResult wrapper-med tx-al-c">    
    <h3>{{ userSearchInput }} &nbsp : &nbsp کوئیز های بیشتر با عبارت</h3>
    
    <div class="moreSearchResult__container">
        <div class="categoryList quizContainer__category__inner flex flex-jc-fe">
        
            {% for quiz in quizzesPointyByTitle %}
                {% with quiz.subCategory|replaceToHyphen as subCategory %}
                {% with quiz.title|replaceToHyphen as title %}
                    <a href="/quiz/{{title}}?ic={{quiz.subCategory}}">
                        <img src="{{quiz.background|makeTheDirValidForImg}}" alt="{{quiz.subCategory}} | {{quiz.title}}" loading='lazy'>
                        {% with quiz.views|viewsFormat as views %}
                            <div class="quizContainer__category__inner__views">{{ views }}</div>
                        {% endwith %}
                        <div class="quizContainer__category__inner__title">{{ quiz.title }}</div>
                    </a>
                {% endwith %}
                {% endwith%}
            {% endfor %}
        
        </div>

        <div class="categoryList quizContainer__category__inner flex flex-jc-fe">

            {% for quiz in quizzesByTitle %}
                {% with quiz.subCategory|replaceToHyphen as subCategory %}
                    {% with quiz.title|replaceToHyphen as title %}
                        <a href="/quiz/{{title}}">
                            <img src="{{quiz.background|makeTheDirValidForImg}}" alt="{{quiz.subCategory}} | {{quiz.title}}" loading='lazy'>
                            {% with quiz.views|viewsFormat as views %}
                                <div class="quizContainer__category__inner__views">{{ views }}</div>
                            {% endwith %}
                            <div class="quizContainer__category__inner__title">{{ quiz.title }}</div>
                        </a>
                    {% endwith %}
                {% endwith%}
            {% endfor %}
    
        </div>
    </div>
</div>

<button type="button" class="backBtn" aria-label="Back Button">بازگشت</button>

{% endblock content %}