{% extends './layout.html' %}
{% block content %}
{% load templateTags %}

<div class="moreSearchResult wrapper-med tx-al-c">    
    <h3>{{ userSearchInput }} &nbsp : &nbsp کوئیز های بیشتر با عبارت</h3>
    
    <div class="moreSearchResult__container">
        <div class="categoryList quizContainer__category__inner flex flex-jc-fe">
        
            <a href="/quiz/celebrities/Taylor-Swift/کامل-ترین-کویز-تیلور-سویفت">
                <img src="/static/img/Bg-quizzes/taylorSwift_1.jpg" alt="Taylor Swift | کامل ترین کویز تیلور سویفت" loading="lazy">
                
                    <div class="quizContainer__category__inner__views">989</div>
                
                <div class="quizContainer__category__inner__title">کامل ترین کویز تیلور سویفت</div>
            </a>
        
            {% for quiz in quizzesPointyByTitle %}
                {% with quiz.innerCategory|replaceToHyphen as innerCategory %}
                {% with quiz.title|replaceToHyphen as title %}
                    <a href="/quiz/{{quiz.category}}/{{innerCategory}}/{{title}}">
                        <img src="{{quiz.background|makeTheDirValidForImg}}" alt="{{quiz.innerCategory}} | {{quiz.title}}" loading='lazy'>
                        {% with quiz.views|viewsFormat as views %}
                            <div class="quizContainer__category__inner__views">{{ views }}</div>
                        {% endwith %}
                        <div class="quizContainer__category__inner__title">{{ quiz.title }}</div>
                    </a>
                {% endwith %}
                {% endwith%}
            {% endfor %}
        
        </div>

        <div class="categoryList quizContainer__category__inner flex flex-jc-fe">

            {% for quiz in quizzesByTitle %}
                {% with quiz.innerCategory|replaceToHyphen as innerCategory %}
                    {% with quiz.title|replaceToHyphen as title %}
                        <a href="/quiz/{{quiz.category}}/{{innerCategory}}/{{title}}">
                            <img src="{{quiz.background|makeTheDirValidForImg}}" alt="{{quiz.innerCategory}} | {{quiz.title}}" loading='lazy'>
                            {% with quiz.views|viewsFormat as views %}
                                <div class="quizContainer__category__inner__views">{{ views }}</div>
                            {% endwith %}
                            <div class="quizContainer__category__inner__title">{{ quiz.title }}</div>
                        </a>
                    {% endwith %}
                {% endwith%}
            {% endfor %}
    
        </div>
    </div>
</div>

<button type="button" class="backBtn" aria-label="Back Button">بازگشت</button>

{% endblock content %}