{% extends './layout.html' %}
{% block content %}
{% load templateTags %}

<div class="moreSearchResult wrapper-med tx-al-c">    
    <h3>{{ userSearchInput }} &nbsp : &nbsp کوئیز های بیشتر با عبارت</h3>
    
    <div class="moreSearchResult__container">
        <div class="categoryList quizContainer__category__inner flex flex-jc-fe">
            {% for quiz in quizzesPointyByTitle %}
                {% include './base/quizContainer.html' %}
            {% endfor %}
        </div>

        <div class="categoryList quizContainer__category__inner flex flex-jc-fe">
            {% for quiz in quizzesByTitle %}
                {% include './base/quizContainer.html' %}
            {% endfor %}
        </div>
    </div>
</div>

<button type="button" class="backBtn" aria-label="Back Button">بازگشت</button>

{% endblock content %}