{% extends './layout.html' %}
{% block content %}
{% load templateTags %}

<!-- <adverts class="adverts adverts__left hideForMobile">
</adverts>

<adverts class="adverts adverts__right hideForMobile">
</adverts> -->

    {% include './base/quiz-base.html' %}
        <div class="quiz__hider flex pos-rel">
            {% for questionDetail in quiz_Question %}
                <div class="quiz__container pos-rel darkGls">
                    {% if not questionDetail.question %}
                        <img class="quiz__imgQuestion" src="{{ questionDetail.question_img.url }}" loading='lazy'>
                    {% else %}
                        <p class='quiz__question'> {{ questionDetail.question }} </p>
                    {% endif %}
                    
                    {% if option_1_img %}
                        <div class="flex flex-jc-c">
                            <form class='quiz__options quiz__options__img grid flex-jc-c pos-rel' data='{{ questionDetail.answer }}' action="">
                                <input type="radio" name="answer" id="{{ questionDetail.id }}-1" value = 'd3Jvbmc='><label class="quiz__options__imgLabel" id="{{ questionDetail.id }}-1" for="{{ questionDetail.id }}-1"> <img class="quiz__imgOption" src="{{ questionDetail.option_1_img.url }}" loading='lazy'> </label>
                                <input type="radio" name="answer" id="{{ questionDetail.id }}-2" value = 'dW5jb3JyZWN0'><label class="quiz__options__imgLabel" id="{{ questionDetail.id }}-2" for="{{ questionDetail.id }}-2"> <img class="quiz__imgOption" src="{{ questionDetail.option_2_img.url }}" loading='lazy'> </label>
                                <input type="radio" name="answer" id="{{ questionDetail.id }}-3" value = 'bm9vaw=='><label class="quiz__options__imgLabel" id="{{ questionDetail.id }}-3" for="{{ questionDetail.id }}-3"> <img class="quiz__imgOption" src="{{ questionDetail.option_3_img.url }}" loading='lazy'> </label>
                                <input type="radio" name="answer" id="{{ questionDetail.id }}-4" value = 'YmFkb25l'><label class="quiz__options__imgLabel" id="{{ questionDetail.id }}-4" for="{{ questionDetail.id }}-4"> <img class="quiz__imgOption" src="{{ questionDetail.option_4_img.url }}" loading='lazy'> </label>
                            </form>
                        </div>
                    {% else %}
                    <div class="flex flex-jc-c">
                        <form class='quiz__options quiz__options__text' data='{{ questionDetail.answer }}' action="">
                            <input type="radio" name="answer" id="{{ questionDetail.id }}-1" value = 'd3Jvbmc='><label class="quiz__options__textLabel" id="{{ questionDetail.id }}-1" for="{{ questionDetail.id }}-1"> {{ questionDetail.option_1 }} </label>
                            <input type="radio" name="answer" id="{{ questionDetail.id }}-2" value = 'dW5jb3JyZWN0'><label class="quiz__options__textLabel" id="{{ questionDetail.id }}-2" for="{{ questionDetail.id }}-2"> {{ questionDetail.option_2 }} </label>
                            <input type="radio" name="answer" id="{{ questionDetail.id }}-3" value = 'bm9vaw=='><label class="quiz__options__textLabel" id="{{ questionDetail.id }}-3" for="{{ questionDetail.id }}-3"> {{ questionDetail.option_3 }} </label>
                            <input type="radio" name="answer" id="{{ questionDetail.id }}-4" value = 'YmFkb25l'><label class="quiz__options__textLabel" id="{{ questionDetail.id }}-4" for="{{ questionDetail.id }}-4"> {{ questionDetail.option_4 }} </label>
                        </form>
                    </div>
                    {% endif %}
                    
                    <div class="quiz__answerText tx-al-r noVis">
                        {% if questionDetail.answer_text %}
                            {{questionDetail.answer_text | safe}}
                        {% endif %}
                    </div>

                    <div class="quiz__answerImGif noVis">
                        {% if questionDetail.answer_imGif %}
                            <img src="{{ questionDetail.answer_imGif.url }}" alt="quiz-question-WebP">
                        {% endif %}
                    </div>
                </div>

            {% endfor %} 
        </div>

        <div class='quiz__bottomQuestionChanger__container pos-abs'  id="quiz__answerDetail">
            <button class="quiz__bottomQuestionChanger fade-out quiz__bottomQuestionChanger__next" aria-label="Next Question"></button>
        </div>
            <!-- <button class="quiz__questionChanger pos-abs quiz__questionChanger__next fade-in" aria-label='Next Question'></button> -->
    </div>


    <!-- <div class="adverts__bottom">
    </div> -->
    
</body>

{% endblock content %}