{% extends './layout.html' %}
{% block content %}
{% load templateTags %}

<div class="resultQuizPointy__container">
    <h5 class="tx-al-c pos-rel">نتیجه کوئیز: {{fullTitle}}</h5>
    <div class="resultQuizPointy pos-rel wrapper-sm space-sm tx-al-c">
        {% if quizDetail.result_upTo_1|toInteger >= score %}
            <h2 class="tx-al-c">{{ quizDetail.result_title_1 }}</h2>
            <body class="resultQuizPointy__bg" style="background-image:url(' {{ quizDetail.result_img_1.url }} ')">
                    <div class="resultQuizPointy__txt tx-al-r space-sm darkGls">
                        {{ quizDetail.result_text_1 | safe }}
                    </div>
            </body>
                
        {% elif quizDetail.result_upTo_2|toInteger >= score %}
            <h2 class="tx-al-c">{{ quizDetail.result_title_2 }}</h2>
            <body class="resultQuizPointy__bg" style="background-image:url(' {{ quizDetail.result_img_2.url }} ')">
                    <div class="resultQuizPointy__txt tx-al-r space-sm darkGls">
                        {{ quizDetail.result_text_2 | safe }}
                    </div>
            </body>
                                
        {% elif quizDetail.result_upTo_3|toInteger >= score %}
            <h2 class="tx-al-c">{{ quizDetail.result_title_3 }}</h2>
            <body class="resultQuizPointy__bg" style="background-image:url(' {{ quizDetail.result_img_3.url }} ')">
                    <div class="resultQuizPointy__txt tx-al-r space-sm darkGls">
                        {{ quizDetail.result_text_3 | safe }}
                    </div>
            </body>

        {% elif quizDetail.result_upTo_4|toInteger >= score %}
            <h2 class="tx-al-c">{{ quizDetail.result_title_4 }}</h2>
            <body class="resultQuizPointy__bg" style="background-image:url(' {{ quizDetail.result_img_4.url }} ')">
                    <div class="resultQuizPointy__txt tx-al-r space-sm darkGls">
                        {{ quizDetail.result_text_4 | safe }}
                    </div>
            </body>
            
        {% elif quizDetail.result_upTo_5|toInteger >= score %}
            <h2 class="tx-al-c">{{ quizDetail.result_title_5 }}</h2>
            <body class="resultQuizPointy__bg" style="background-image:url(' {{ quizDetail.result_img_5.url }} ')">
                    <div class="resultQuizPointy__txt tx-al-r space-sm darkGls">
                        {{ quizDetail.result_text_5 | safe }}
                    </div>
            </body>

        {% elif quizDetail.result_upTo_6|toInteger >= score %}
            <h2 class="tx-al-c">{{ quizDetail.result_title_6 }}</h2>
            <body class="resultQuizPointy__bg" style="background-image:url(' {{ quizDetail.result_img_6.url }} ')">
                    <div class="resultQuizPointy__txt tx-al-r space-sm darkGls">
                        {{ quizDetail.result_text_6 | safe }}
                    </div>
            </body>

        {% elif quizDetail.result_upTo_7|toInteger >= score %}
            <h2 class="tx-al-c">{{ quizDetail.result_title_7 }}</h2>
            <body class="resultQuizPointy__bg" style="background-image:url(' {{ quizDetail.result_img_7.url }} ')">
                    <div class="resultQuizPointy__txt tx-al-r space-sm darkGls">
                        {{ quizDetail.result_text_7 | safe }}
                    </div>
            </body>
            
        {% elif quizDetail.result_upTo_8|toInteger >= score %}
            <h2 class="tx-al-c">{{ quizDetail.result_title_8 }}</h2>
            <body class="resultQuizPointy__bg" style="background-image:url(' {{ quizDetail.result_img_8.url }} ')">
                    <div class="resultQuizPointy__txt tx-al-r space-sm darkGls">
                        {{ quizDetail.result_text_8 | safe }}
                    </div>
            </body>

        {% elif quizDetail.result_upTo_9|toInteger >= score %}
            <h2 class="tx-al-c">{{ quizDetail.result_title_9 }}</h2>
            <body class="resultQuizPointy__bg" style="background-image:url(' {{ quizDetail.result_img_9.url }} ')">
                    <div class="resultQuizPointy__txt tx-al-r space-sm darkGls">
                        {{ quizDetail.result_text_9 | safe }}
                    </div>
            </body>

        {% elif quizDetail.result_upTo_10|toInteger >= score %}
            <h2 class="tx-al-c">{{ quizDetail.result_title_10 }}</h2>
            <body class="resultQuizPointy__bg" style="background-image:url(' {{ quizDetail.result_img_10.url }} ')">
                    <div class="resultQuizPointy__txt tx-al-r space-sm darkGls">
                        {{ quizDetail.result_text_10 | safe }}
                    </div>
            </body>

        {% else %}
            خطا در محاسبه نتیجه‌
            لطفا با پشتیبانی تماس بگیرید

        {% endif %}
    </div>
    
    <div class="resultQuizPointy wrapper-med flex-ai-c flex-jc-c">
        <div class="result__share tx-al-c">
            <h5>برای دوست و اشناهات بفرست </br> ببین شبیه تو در میان یا نه</h5>
            <button class='resultQuizPointy__share__btn' aria-label="Copy Result For Share" data-clipboard-target='.result__clipboard' type="button">🙋🏻‍♂️ اشتراک گذاری</button>
            <h6 class="result__share__message noVis">نتیجه و لینک تست کپی شد</h6>
        </div>
    </div>

</div>

    <div class="result__clipboard"></div>

    <h2 class='tx-al-c space-med beforeAfterDecor'>تست های شبیه</h2>

    <div class="result__suggester quizContainer__category__inner flex flex-jc-c flex-ai-c wrapper-med">
        {% for quiz in suggestingQuiz %}
            {% include './base/quizPointyContainer.html' %}
        {% endfor %}
    </div>

    {% include "app/base/backBtn.html" %}

</body>
 
{% endblock content %}