{% extends './layout.html' %}
{% block content %}
{% load templateTags %}

<h4 class="beforeAfterDecor">{{ userSearchInput }} &nbsp : &nbsp نتایج جستجو</h4>

<div class="searchResult">

    <div class="searchResult__category">
        <h3 class="tx-al-c">کتگوری‌ها</h3>
        <h4 class="searchResult__category__item__notFound tx-al-c">
            هیچ کتگوریی پیدا نشد <br> لطفا از عبارتی دیگر یا با زبان دیگری دوباره امتحان کنید
        </h4>
        <div class="searchResult__category__container flex flex-jc-c">
            {% for subCategory in subCategoriesByTitle %}
                <div class="searchResult__category__item">
                    {% with subCategory.subCategory|titleToImgName:' ' as imgTitle  %}
                    <a href="/category/{{imgTitle}}?c={{subCategory.category}}&p=0&st=newest&nr=16">
                        <img src="{{ category.thumbnail.url }}" alt="{{ subCategory.subCategory }} | کوئیز های {{ category.title_far }}">
                    </a>
                    <h5 class="tx-al-c"><a href="/category/{{imgTitle}}?c={{subCategory.category}}&p=0&st=newest&nr=16">
                        {{ subCategory.subCategory }}
                    </a></h5>
                    {% endwith %}
                </div>
            {% endfor %}
        </div>
    </div>
    
    <div class="searchResult__quizzes">
        <h3 class="tx-al-c">کوئیز‌ها</h3>
        <h4 class="searchResult__quizzes__item__notFound tx-al-c">
            هیچ کوئیزی پیدا نشد <br> لطفا از عبارتی دیگر یا با زبان دیگری دوباره امتحان کنید
        </h4>
        <ul>
            {% for quiz in quizzesByTitle %}
                <li>
                    {% with quiz.subCategory|replaceToHyphen as subCategory %}
                    {% with quiz.title|replaceToHyphen as title %}
                    {% if quiz.category == 'physiologies' %}
                        <a class="searchResult__quizzes__item tx-al-r" href="/quizPointy/{{title}}">
                            {{ quiz.title }}
                        </a>
                    {% else %}
                        <a class="searchResult__quizzes__item tx-al-r" href="/quiz/{{title}}">
                            {{ quiz.title }}
                        </a>
                    {% endif %}
                    {% endwith %}
                    {% endwith %}
                </li>
            {% endfor %}

            {% for quiz in quizzesPointyByTitle %}
                <li>
                    {% with quiz.subCategory|replaceToHyphen as subCategory %}
                    {% with quiz.title|replaceToHyphen as title %}
                    {% if quiz.category == 'physiologies' %}
                        <a class="searchResult__quizzes__item tx-al-r" href="/quizPointy/{{title}}">
                            {{ quiz.title }}
                        </a>
                    {% else %}
                        <a class="searchResult__quizzes__item tx-al-r" href="/quiz/{{title}}">
                            {{ quiz.title }}
                        </a>
                    {% endif %}
                    {% endwith %}
                    {% endwith %}
                </li>
            {% endfor %}

        </ul>

        <div class="searchResult__quizzes__seeMore"> 
            <a href="/search?s={{userSearchInput}}">
                دیدن همه ...
            </a>
        </div>
    </div>
</div>

{% endblock content %}