{% extends './layout.html' %}
{% block content %}
{% load templateTags %}

<div class="sortMore grid {{categoryStyle}} tx-al-c">

    <div>
        <h3 class='sortMore__title'>{{ titlePointy }}</h3>
        <div class="quizContainer__category__inner sortMore__inner {{hideSecondColumn}} flex flex-jc-fe">
            {% for quiz in sortPointy %}
                {% include './base/quizPointyContainer.html' %}
            {% endfor %}
        </div>
    </div>
    <div>
        <h3 class='sortMore__title'>{{title}} {{ category }}</h3>
        <div class="quizContainer__category__inner sortMore__inner flex flex-jc-fe">
            {% for quiz in sort %}
                {% with quiz.subCategory|replaceToHyphen as subCategory %}
                {% with quiz.title|replaceToHyphen as title %}
                <a href="/{{quizPage}}/{{title}}?ic={{quiz.subCategory}}">
                    <img src="{{ quiz.thumbnail.url }}" alt="{{quiz.subCategory}} | {{quiz.title}}" loading='lazy'>
                    {% with quiz.views|viewsFormat as views %}
                    <div class="quizContainer__category__inner__views">{{ views }}</div>
                    <div class="quizContainer__category__inner__title">{{ quiz.title }}</div>
                    {% endwith %}
                </a>
                {% endwith %}
                {% endwith %}
            {% endfor %}
        </div>
    </div>
</div>

{% include 'app/base/pageTravel.html' %}

{% endblock content %}