{% extends './layout.html' %}
{% block content %}
{% load templateTags %}

<div class="sortMore grid {{categoryStyle}} tx-al-c">

    <div>
        <h3 class='sortMore__title'>{{ titlePointy }}</h3>
        <ul class="quizContainer__category__inner sortMore__inner {{hideSecondColumn}} flex flex-jc-fe">
            {% for quiz in sortPointy %}
                {% include './base/quizPointyContainer.html' %}
            {% endfor %}
        </ul>
    </div>
    <div>
        <h3 class='sortMore__title'>{{title}} {{ category }}</h3>
        <ul class="quizContainer__category__inner sortMore__inner flex flex-jc-fs">
            {% for quiz in sort %}
                {% with quiz.subCategory|replaceToHyphen as subCategory %}
                {% with quiz.title|replaceToHyphen as title %}
                    <li>
                        <article class="flex tx-al-r">
                            <a href="/{{quizPage}}/{{title}}?ic={{quiz.subCategory}}">
                                <div>
                                    <img src="{{ quiz.thumbnail.url }}" alt="{{quiz.subCategory}} | {{quiz.title}}" loading='lazy'>
                                </div>
                                {% with quiz.views|viewsFormat as views %}
                                    <div class="quizContainer__category__inner__views">{{views}}</div>
                                {% endwith %}
                                <span class="quizContainer__category__inner__title quizContainer__category__inner__title__noViews flex">
                                    {{ quiz.title }}
                                </span>
                            </a>
                        </article>
                    </li>
                {% endwith %}
                {% endwith %}
            {% endfor %}
        </ul>
    </div>
</div>

{% include 'app/base/pageTravel.html' %}

{% endblock content %}