{% extends './layout.html' %}
{% block content %}
{% load templateTags %}

<!-- <adverts class="adverts adverts__left hideForMobile" style="margin-top: 5.5rem;">
</adverts>

<adverts class="adverts adverts__right hideForMobile" style="margin-top: 5.5rem;">
</adverts> -->

<body style="background-image: url('{{background|makeTheDirValidForImg}}');">
    
    <!-- <div class="adverts__top">
    </div> -->
    
    {% include 'app/base/tools.html' %}

    <div class="categoryList quizContainer__category__inner flex flex-jc-fe flex-ai-c wrapper-med">

        {% for quiz in quizzes %}
            {% include './base/quizContainer.html' %}
        {% endfor %}

    </div>

    {% include 'app/base/pageTravel.html' %}

    <!-- <div class="adverts__bottom">
    </div> -->
    
</body>

{% endblock %}