.basicPage {
    margin-bottom: 30vh;
    width: 85%;
    text-align: center;
    box-shadow:  0 0 15px 0 rgba(255, 255, 255, 0.25);
    padding: 3rem;
    border-radius: 15px;
    line-height: 2rem;


    @include breakpoints-down(large) {
        margin-bottom: 60vh;
    }

    h3 {
        font-family: myLalezar, serif;
        font-weight: 300;
    }

    h4 {
        direction: rtl;

        &::before {
            content: '_';
        }
    }
}

.pageNotFound {
    // font-size: 56rem;
    // position: absolute;
    // left: 50%;
    // top: 50%;
    transform: translate(-50%, -53%);
    background: linear-gradient(#b52633, #46080c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}