.hero-inner {
    padding: 1.5rem;
    color: white;
    border-radius: 40px;
    box-shadow: 2px 2px 8px #0000005e, 0 0 15px #3f3f3f5e !important;
    backdrop-filter: blur(15px) !important;
    background: rgba(0, 0, 0, 0.54) !important;
    border: solid 1px transparent !important;
    background-clip: padding-box !important;


    button {
        background-image: linear-gradient(-45deg, #6e6e6e, rgb(216, 216, 216)) !important;
        color: black !important;

        &:hover {
            color: #af282f !important;
        }
    }
}

.hero{
    &_bubbles {
        animation: dancingBubbles 5s infinite linear;

        @keyframes dancingBubbles {
            0%{
                transform:rotate(0deg)
                        translate(-10px)
                        rotate(0deg);
            }
            50%{
                transform:rotate(180deg)
                        translate(0px)
                        rotate(-180deg);
            }
            100%{
                transform:rotate(360deg)
                        translate(-10px)
                        rotate(-360deg);
            }
        }
    }

    &_path {
        background: url("/static/img/landPage-path.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center bottom;
    }

    &__start {

        h2 {
            font-family: myLalezar, myHarmattan, serif;
        }

        a {
            animation: shining 2s linear infinite alternate-reverse;
        }

        @keyframes shining {
            from {
                box-shadow: 6px 0px 22px #ffffff14, inset 6px 0 18px black;
            }
            to {
                box-shadow: -6px -5px 22px #ffffff14, inset -6px 5px 18px black;
            }
        }

        button {

            background: linear-gradient(-45deg, rgb(162, 0, 0), rgb(75, 0, 0), rgb(170, 73, 73), rgb(162, 0, 0));
            background-size: 400% 400%;
            animation: heroButton 10s ease infinite alternate;
            
            @keyframes heroButton {
                0% {
                    background-position: 0% 50%;
                }
                50% {
                    background-position: 100% 50%;
                }
                100% {
                    background-position: 0% 50%;
                }
            }

            span {
                width: 2.5rem; height: 2rem;
                transition: transform .15s ease-in-out;
            }

            &:hover {
                color: white;

                span {
                    transform: translateX(-.5rem);
                }
            }
        }
    }
}

// .category {
//     flex-wrap: wrap;
//     margin: 0 auto;

//     a {
//         margin-right: 1rem;
//     }

//     @include breakpoints-down(large) {
//         a {
//             text-align: center;
//         }
//     }

//     &__title {
//         padding-top: 13rem;
//         padding-right: 1.125rem;

//         @include breakpoints-down(large) {
//             padding-top: 5rem;
//         }
//     }
    
//     img {
//         width: 14.6875rem; height: 14.6875rem;
//         border-radius: 20px;
//         box-shadow: 5px 10px 16px #000000d9;
//         margin: 1.4375rem; margin-bottom: .5rem;
//         transition: all .3s ease-in-out;
        
//         &:hover {
//             box-shadow: 5px 10px 22px rgba(65, 0, 0, 0.645);
//             transform: translateY(-.625rem);
//         }

//         @include breakpoints-down(large) {
//                     width: 9rem;
//                     height: 9rem;
//                     margin: .5rem;
//                     margin-bottom: 0;
//         }
//     }

//     h3 {
//         margin-top: 0;
//         display: block;
//         font-family: myLalezar, myHarmattan, sans-serif;
//         font-weight: 100;
//         transform: translate(1rem);
//         font-size: 1.5rem;

//         @include breakpoints-down(large) {
//             font-size: 1.3rem; 
//         }
//     }
// }