.header {
    font-size: $font-sm;
    font-family: $font-pr;
    margin-bottom: 2rem;
    padding: 1rem;
    z-index: 99;
    position: relative;

    &__logo {
        z-index: 1;

        span {
            font-family: myLalezar, serif;

            // background: linear-gradient(#b52633, #791118);
            background: linear-gradient(45deg, rgb(162, 0, 0), rgb(170, 73, 73), rgb(75, 0, 0));
            background-size: 400% 400%;
            animation: logo 5s ease infinite alternate;

            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; 
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;
            margin: 0;
            margin-left: .2rem;
            font-size: 1.6rem;

            
            @keyframes logo {
                0% {
                    background-position: 0% 50%;
                }
                50% {
                    background-position: 100% 50%;
                }
                100% {
                    background-position: 0% 50%;
                }
            }
        }

        img {
            width: 1.67rem;
            height: 2.4rem;
        }
    }

    &__links {
        padding: 1.25rem 0;
        margin-right: 1.5rem;
        direction: rtl;
        z-index: 1;

        a {
            color: black;

            &:hover {
                color: inherit;
            }

            &:not(:last-child) {
                margin-left: 2rem;
            }
        }
    }

    .slideMenu-hide {
        top: -27rem !important;
    }

    &__menu {
        z-index: 3;
        top: 0; left: 0;
        background: rgba(148, 148, 148, 0.3);
        box-shadow: 0 7px 20px black;
        backdrop-filter: blur(20px);
        border: 2px solid transparent;
        height: 21rem;
        width: 100%;
        border-radius: 0 0 55px 55px;
        transition: all .3s ease-in-out;

        &__openBtn {
            background: inherit;
            top: 1rem;
            right: 1rem;
            z-index: 1;

            @include breakpoints-down(large) {
                top: 1.7rem;
            }
            
            > span {
                display: block;
                width: 1.625rem;
                height: 0.18rem;
                
                &:not(:last-child) {
                    margin-bottom: .25rem;
                }
            }
        }

        &__closeBtn {
            background: url('/static/img/close-btn.svg') center center no-repeat;
            width: 1.75rem;
            height: 1.75rem;
            top: 1rem;
            right: 1.5rem;
        }

        &__inner {
            color: black;
            font-size: $font-sm - .28;
            z-index: 2;
            grid-template-columns: auto auto auto;
            grid-gap: 1rem;
            margin-top: 2rem;

            h4 {
                margin-bottom: 1rem;
            }

            ul > li {
                margin-bottom: .6rem;

                & > a:hover {
                    color: inherit !important;
                }
            }

            &__quizzes {
                margin-bottom: 0.5rem;
            }

            &__other {
                margin-top: 2.5rem;
            }
        }
    }

    &__btn {
        background: none;
        border: none;
        margin-left: 2rem;
        font-family: inherit;
        font-size: inherit;
        color: black;

        &:hover {
            cursor: pointer;
        }

        &-bg {
            border: none;

            &:hover {
                cursor: pointer;
            }
        }
    }
    
    .subHeader {
        top: 8rem;
        border: 1px solid transparent; border-radius: 15px;
        backdrop-filter: blur(10px);
        box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.178);
        border-radius: 20px;
        padding: 1.875rem 1.625rem;
        opacity: 0;
        transition: all .3s ease;
        z-index: 5;
        line-height: 2rem;;
        
        @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
            background: rgba(255, 255, 255, 0.178);
        }

        @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
            background: rgba(255, 255, 255, 0.952);
        }

        &__open {
            opacity: 1;
            top: 5.5rem;
            pointer-events: visibleFill;
        }

        a {
            color: white;
            &:not(:last-child){
                margin-bottom: 1.25rem
            }
            &:hover {
                color: rgba(255, 207, 207, 0.692) !important;

                @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
                    color: darkRed !important;
                }
            }
        }
    }

    ul {
        line-height: 1.5rem;
        z-index: 3;
    }
    
    &__categories {
        right: 12rem;
    }

    &__quizzes {
        right: 19rem;
    }

    &__pointy {
        right: 25rem;
    }

    &__white {

        @include breakpoints-down(large) {
            span {
                background-color: $white !important;
            }
        }
        
        a, button {
            color: $white;

            &:hover {
                color: white !important;
            }
            
            &::after{
                border-bottom: 2px solid $white !important;
            }
        }

        li > a {
            @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
                color: black !important;
            }
        }

        h4 {
            color: $white;

            &:hover {
                color: white !important;
            }
            
            &::after{
                border-bottom: 2px solid $white !important;
            }
        }

        input {
            color: $white !important;
        }
        
        .input {
            color: $white !important;
        }

        .header__searchInput {
            &::placeholder {
                color: white;
            }
        }
    }
}