
@font-face {
    font-family: 'IRANYekanRegular';
    font-display: swap;
    src: url('/static/fonts/IRANYekanRegular.woff2') format('woff2'),
         url('/static/fonts/IRANYekanRegular.woff') format('woff');
}
@font-face {
    font-family: 'IRANYekanBold';
    font-display: swap;
    src: url('/static/fonts/IRANYekanBold.woff2') format('woff2'),
         url('/static/fonts/IRANYekanBold.woff') format('woff');
}
@font-face {
    font-family: 'IRANYekanBlack';
    font-display: swap;
    src: url('/static/fonts/IRANYekanBlack.woff2') format('woff2'),
         url('/static/fonts/IRANYekanBlack.woff') format('woff');
}
@font-face {
    font-family: 'LalezarRegular';
    font-display: swap;
    src: url('/static/fonts/LalezarRegular.woff2') format('woff2'),
         url('/static/fonts/LalezarRegular.woff') format('woff');
}

$font-pr: myHarmattan, sans-serif, serif;

// Fort Size
$font-sm: 1.180rem;  // 18.8
$font-med: 1.125rem;
$font-l: 1.6rem;
$font-xl: 2rem;

// Colors
$red: #ac272e;
$darkRed: #690D11;
$white: #f0f0f0;
$black: #161616;
$second: #1d1313;
$gray: #707070;

// Gradient Colors
$red-grad: linear-gradient(-45deg, #6a0d11, #ac272e);
$red-bt-grad: linear-gradient(0, #6a0d11, #ac272e);
$red-tb-grad: linear-gradient(180deg, #6a0d11, #ac272e);

.wrapper {
    &-sm {
        max-width:30rem;
        margin: 1.125rem auto;
        
        @include breakpoints-down(large) {
            max-width: inherit;
        }

        // @include breakpoints-up(small) {
        //     max-width:
        // }
    }

    &-med {
        
        @include breakpoints-down(large) {
            max-width: 45.75rem;
            margin: 1.125rem 1rem;
        }
        
        @include breakpoints-up(small) {
            max-width: 50rem;
            margin: 1.125rem auto;
        }
        
        @include breakpoints-up(medium) {
            max-width: 67.5rem;
            margin: 1.125rem auto;
        }
    }

    &-l {
        max-width: 82.5rem;
        margin: 1.125rem auto;
    }

    &-p {
        max-width: 46rem;
        margin: 1.125rem auto;

        @include breakpoints-down(large) {
            max-width: 45.75rem;
            margin: 1.125rem 2rem;
        }
    }
}

.space {
    &-sm {
        margin-top: 2rem;

        @include breakpoints-down(large) {
            margin-top: 1rem;
        }
    }

    &-med {
        margin-top: 5rem;

        @include breakpoints-down(large) {
            margin-top: 2.5rem;
        }
    }

    &-l{
        margin-top: 8rem;

        @include breakpoints-down(large) {
            margin-top: 4rem;
        }
    }

    &-xl{
        margin-top: 12rem;

        @include breakpoints-down(large) {
            margin-top: 6rem;
        }
    }
}