{% extends './layout.html' %}
{% block content %}

<div class="notFound">
        <h1>❌ دسترسی شما به این صفحه مجاز نیست ❌</h1>
        <a href="/">بازگشت</a>
        <div class="space-med">
            <p>💖 اگه فکر میکنی اشتباهی رخ داده، بهمون به  <a href="mailto:quizland.support@gmail.com?subject= مشکل در سرچ سایت">این ایمیل</a> پیام بدی</p>
            <a href="mailto:quizland.support@gmail.com?subject= مشکل در سرچ سایت">quizland.support@gmail.com</a>
        </div>
</div>
<button type="button" class="backBtn">بازگشت</button>

{% endblock content %}