{% extends './layout.html' %}
{% block content %}

<div class="basicPage center">
        <h1>🤔 صفحه‌ی مورد نظر پیدا نشد </h1>
        <div class="space-med">
            <p>💖 اگه فکر میکنی اشتباهی رخ داده، بهمون به  <a href="mailto:quizland.support@gmail.com?subject= مشکل در سرچ سایت">این ایمیل</a> پیام بدی</p>
            <a href="mailto:quizland.support@gmail.com?subject= مشکل در سرچ سایت">quizland.support@gmail.com</a>
        </div>

        {{error}}
</div>
<button type="button" class="backBtn">بازگشت</button>

{% endblock content %}