{% extends './layout.html' %}
{% block content %}

<div class="basicPage center">
        <h1>🙄 سرور های سایت احتمالا داغ کرده </h1>
        <h1> لطفا یکم دیگه امتحان کنید </h1>
        <div class="space-med">
            <p>💖  اگر مشکل رفع نشد ممنون میشیم برامون به<a href="mailto:quizland.support@gmail.com?subject= مشکل در سرچ سایت">این ایمیل</a> پیام بدی</p>
            <a href="mailto:quizland.support@gmail.com?subject= مشکل در سرچ سایت">quizland.support@gmail.com</a>
        </div>
</div>
<button type="button" class="backBtn">بازگشت</button>

{% endblock content %}