{% extends './layout.html' %}
{% block content %}

<div class="contact wrapper-sm">
    <h3>برای تماس با ما میتونید از روش های زیر استفاده کنید </h3>
    <div>
        <ul class="contact__socialMedia flex flex-jc-c flex-ai-c">
            <li><a href="#">انستگرام</a></li>
            <li><a href="#">تلگرام</a></li>
            <li><a href="mailto:quizland.support@gmail.com">ایمیل</a></li>
        </ul>
        <a href="mailto:quizland.support@gmail.com">Quizland.support@gmail.com</a>
    </div>
    <p>
        .میتونی تمام نظرات و پیشنهادات خودت رو برامون بفرستی <br/> 💖 اینطوری باعث میشی کمکمون کنی سریعتر پیشرفت کنیم
    </p>
</div>

{% endblock %}