

{% extends './layout.html' %}
{% block content %}

<body>
    <div class="landingPage">
        <div class="bg"></div>
        <div class="wrapper">
            <div class="hero felx felx-jc-c flex-ai-c">
                <div class="hero-inner gls">
                    <h1>اینجا کوئیزلنده</h1>
                    <p>جایی که میتونی خودت رو به عنوان به فن واقعی خودترو به دوستات ثابت کنی <br/> 😎 پس اگر آماده‌ای میدان نبردت رو انتخاب کن و وارد شو</p>
                    <button class=' flex btn__grad hero__btn center'><a href="#category">بزن بریم</a></button>
                </div>
            </div>
        </div>
    </div>

    <h2 class="category__title tx-al-c">دسته‌ی دلخوات رو انتخاب کن</h2>

    <div class="category flex flex-jc-c flex-ai-c flex-jc-sb" id="category">

        <a href="/category/movieSeries/0/newest/8">
                <img src="static/img/category-movieSeries.jpg" alt="کوئیز کتگوری دسته ی فیلم و سریال مربوط به سوالات در مورد کارکتر شخصیت فیلم ها یا داستان آن">
                <p class='tx-al-c'>فیلم و سریال</p>
        </a>

        <a href="/category/celebrities/0/newest/8">
            <img src="static/img/category-celebrities.jpg" alt="کوئیز های کتگوری دسته ی سلبریتی مربوط به افراد مشهور مانند بازیگر و خواننده که مربوط به سوالات در مورد اطلاعات شخصی آنها یا فعالیت آنهاست">
            <p class='tx-al-c'>سلبریتی</p>
        </a>

        <a href="/category/gamings/0/newest/8">
            <img src="static/img/category-gaming.jpg" alt="کوئیز های کتگوری دسته ی گیمینگ مخصوص گیمرها که سوالات مربوط به سوالات کارکتر شخصیت و داستان گیم بازی هستش">
            <p class='tx-al-c'>گیمینگ</p>
        </a>

        <a href="/category/physiologies/0/newest/8">
            <img src="static/img/category-physiologies.jpg" alt="کوئیز های کتگوری دسته ی روانشناسی برای افرادی که علاقه مند به روانشناسی یا خودشناسی هستند از منابع معتبر خارجی">
            <p class='tx-al-c'>روانشناسی</p>
        </a>

    </div>

    <div class="sort__controller">
        <ul>
            <button class="sort__controller__btn" type="button">گیمینگ</button>
            <button class="sort__controller__btn" type="button">روانشناسی</button>
            <button class="sort__controller__btn" type="button">فیلم و سریال</button>
            <button class="sort__controller__btn" type="button">سلبریتی</button>
            <button class="sort__controller__btn sort__controller__selected" type="button">همه</button>
        </ul>
        <h5>برای تغییر کلیک کنید</h5>
    </div>

    <div class="sort wrapper space-l">

        <div class="sort__all fade-in">
            <div class="sort__right">
                <h2 class="tx-al-c">جدیدترین کوئیز ها </h2>
                <ul class="sort__style">
                    {% for quiz in newestQuizzes %}
                    <li><a href="{{ quiz.href }}"> {{ quiz.title_far }} </a></li>
                    {% endfor %}
                </ul>
                <a class="sort__more" href="/newest/0"> ..بیشتر</a>
            </div>

            <div class="sort__left">
                <div class="sort__left-1">
                    <h2 class="tx-al-c">محبوب ترین کوئیز ها</h2>
                    <ul class="sort__style">
                        {% for quiz in bestestQuizzes %}
                            <a href="{{ quiz.href }}"><li> {{ quiz.title_eng }}&nbsp&nbsp{{ quiz.title_far }} </li></a>
                        {% endfor %}
                    </ul>
                    <a class="sort__more" href="/bestest/0"> ..بیشتر</a>
                </div>
                <div class="sort__left-2">
                    <h2 class="tx-al-c">محبوب ترین کوئیز ها</h2>
                    <ul class="sort__style">
                        {% for quiz in bestestQuizzes %}
                            <a href="{{ quiz.href }}"><li> {{ quiz.title_far }} </li></a>
                        {% endfor %}
                    </ul>
                    <a class="sort__more" href="/bestest/0"> ..بیشتر</a>
                </div>
            </div>
        </div>
    
        <div class="sort__celebrities fade-out">
            <div class="sort__right">
                <h2 class="tx-al-c">جدیدترین کوئیز ‌های سلبریتی</h2>
                <ul class="sort__style">
                    {% for quiz in NewestCelebrityQuizSection %}
                    <li><a href="{{ quiz.href }}"> {{ quiz.title_far }} </a></li>
                    {% endfor %}
                </ul>
                <a class="sort__more" href="/newest/celebrities/0"> ..بیشتر</a>
            </div>

            <div class="sort__left">
                <div class="sort__left-1">
                    <h2 class="tx-al-c">محبوب ترین سلبریتی کوئیز های ماه</h2>
                    <ul class="sort__style">
                        {% for quiz in BestestCelebrityQuizSection %}
                            <a href="{{ quiz.href }}"><li> {{ quiz.title_eng }}&nbsp&nbsp{{ quiz.title_far }} </li></a>
                        {% endfor %}
                    </ul>
                    <a class="sort__more" href="/bestest/celebrities/0"> ..بیشتر</a>
                </div>
                <div class="sort__left-2">
                    <h2 class="tx-al-c">محبوب ترین سلبریتی کوئیز</h2>
                    <ul class="sort__style">
                        {% for quiz in BestestCelebrityQuizSection %}
                            <a href="{{ quiz.href }}"><li> {{ quiz.title_far }} </li></a>
                        {% endfor %}
                    </ul>
                    <a class="sort__more" href="/bestest/celebrities/0"> ..بیشتر</a>
                </div>
            </div>
        </div>

        <div class="sort__movieAndSeries fade-out">
            <div class="sort__right">
                <h2 class="tx-al-c">جدیدترین کوئیز ‌های فیلم و سریال</h2>
                <ul class="sort__style">
                    {% for quiz in NewestMovieSeriesQuizSection %}
                    <li><a href="{{ quiz.href }}"> {{ quiz.title_far }} </a></li>
                    {% endfor %}
                </ul>
                <a class="sort__more" href="/newest/movieSeries/0"> ..بیشتر</a>
            </div>

            <div class="sort__left">
                <div class="sort__left-1">
                    <h2 class="tx-al-c">محبوب ترین فیلم و سریال کوئیز های ماه</h2>
                    <ul class="sort__style">
                        {% for quiz in BestestMovieSeriesQuizSection %}
                            <a href="{{ quiz.href }}"><li> {{ quiz.title_eng }}&nbsp&nbsp{{ quiz.title_far }} </li></a>
                        {% endfor %}
                    </ul>
                    <a class="sort__more" href="/bestest/movieSeries/0"> ..بیشتر</a>
                </div>
                <div class="sort__left-2">
                    <h2 class="tx-al-c">محبوب ترین فیلم و سریال کوئیز</h2>
                    <ul class="sort__style">
                        {% for quiz in BestestMovieSeriesQuizSection %}
                            <a href="{{ quiz.href }}"><li> {{ quiz.title_far }} </li></a>
                        {% endfor %}
                    </ul>
                    <a class="sort__more" href="/bestest/movieSeries/0"> ..بیشتر</a>
                </div>
            </div>
        </div>

        <div class="sort__gaming fade-out">
            <div class="sort__right">
                <h2 class="tx-al-c">جدیدترین کوئیز ‌های گیمینگ</h2>
                <ul class="sort__style">
                    {% for quiz in NewestGamingQuizSection %}
                    <li><a href="{{ quiz.href }}"> {{ quiz.title_far }} </a></li>
                    {% endfor %}
                </ul>
                <a class="sort__more" href="/newest/gaming/0"> ..بیشتر</a>
            </div>

            <div class="sort__left">
                <div class="sort__left-1">
                    <h2 class="tx-al-c">محبوب ترین گیمینگ کوئیز های ماه</h2>
                    <ul class="sort__style">
                        {% for quiz in BestestGamingQuizSection %}
                            <a href="{{ quiz.href }}"><li> {{ quiz.title_eng }}&nbsp&nbsp{{ quiz.title_far }} </li></a>
                        {% endfor %}
                    </ul>
                    <a class="sort__more" href="/bestest/gaming/0"> ..بیشتر</a>
                </div>
                <div class="sort__left-2">
                    <h2 class="tx-al-c">محبوب ترین گیمینگ کوئیز</h2>
                    <ul class="sort__style">
                        {% for quiz in BestestGamingQuizSection %}
                            <a href="{{ quiz.href }}"><li> {{ quiz.title_far }} </li></a>
                        {% endfor %}
                    </ul>
                    <a class="sort__more" href="/bestest/gaming/0"> ..بیشتر</a>
                </div>
            </div>
        </div>

        <div class="sort__physiologies fade-out">
            <div class="sort__right">
                <h2 class="tx-al-c">جدیدترین کوئیز ‌های روانشناسی</h2>
                <ul class="sort__style">
                    {% for quiz in NewestPhysiologiesQuizSection %}
                    <li><a href="{{ quiz.href }}"> {{ quiz.title_far }} </a></li>
                    {% endfor %}
                </ul>
                <a class="sort__more" href="/newest/physiologies/0"> ..بیشتر</a>
            </div>

            <div class="sort__left">
                <div class="sort__left-1">
                    <h2 class="tx-al-c">محبوب ترین روانشناسی کوئیز های ماه</h2>
                    <ul class="sort__style">
                        {% for quiz in BestestPhysiologiesQuizSection %}
                            <a href="{{ quiz.href }}"><li> {{ quiz.title_eng }}&nbsp&nbsp{{ quiz.title_far }} </li></a>
                        {% endfor %}
                    </ul>
                    <a class="sort__more" href="/bestest/physiologies/0"> ..بیشتر</a>
                </div>
                <div class="sort__left-2">
                    <h2 class="tx-al-c">محبوب ترین روانشناسی کوئیز</h2>
                    <ul class="sort__style">
                        {% for quiz in BestestPhysiologiesQuizSection %}
                            <a href="{{ quiz.href }}"><li> {{ quiz.title_far }} </li></a>
                        {% endfor %}
                    </ul>
                    <a class="sort__more" href="/bestest/physiologies/0"> ..بیشتر</a>
                </div>
            </div>
        </div>

    </div>

    <adverts class="adverts adverts__bottomIndex">
        this is special adverts for landPage
    </adverts>
</body>

{% endblock content %}