<!DOCTYPE html>
<html lang="Fa">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/style.css') }}"></link>
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/minified.css') }}"></link> -->
    <link rel="shortcut icon" href="/static/img/logo.png" type="image/x-icon">
    <title>Quiz Land</title>
</head>

<header class="header">
    <nav class="flex flex-ai-c flex-jc-sb">

        <!-- Search -->
        <div class="flex flex-ai-c">
            <a class="header__logo flex flex-jc-sb hideForDesktop" href="/" class="">
                <img src="/static/img/logo.png" alt="QuizLand | کوئیزلند بهترین وب سایت کوئیز های سرگرمی مانند کوئیز های سلبریتی ها، فیلم و سریال، گیمینگ و کوئیز های روانشناسی و خودشناسی">
            </a>
            <form class="header__search {{colorOfHeader}} flex" action="/search" method="post">
                <input class='header__searchSubmit fade-out flex flex-ai-c' type="image" src="/static/img/srch-black.svg" alt="تأيید">
                <input class='header__searchInput tx-al-r' type="search" name='userSearchInput' placeholder="...جستجو">
            </form>
        </div>

        <!-- Links -->
        <div class="header__links {{colorOfHeader}} hideForMobile hover flex flex-ai-c">
            <a href="/contact">تماس با ما</a>
            <a href="/about">درباه‌ی ما</a>
            <a class="header__quizzes__btn">کویز ها</a>
            <a class="header__categories__btn">کتگوری‌ ها</a>
            <a class="flex flex-jc-sb" href="/" class="header__logo">
                <img src="/static/img/logo.png" alt="QuizLand | کوئیزلند بهترین وب سایت کوئیز های سرگرمی مانند کوئیز های سلبریتی ها، فیلم و سریال، گیمینگ و کوئیز های روانشناسی و خودشناسی">
            </a>
        </div>

        <ul class="header__categories {{colorOfHeader}} subHeader tx-al-c">
            <li><a href="/category/movieSeries/0/newest/8">فیلم و سریال</a></li>
            <li><a href="/category/gaming/0/newest/8">گیمینگ</a></li>
            <li><a href="/category/celebrities/0/newest/8">سلبریتی</a></li>
            <li><a href="/category/physiologies/0/newest/8">روانشناسی</a></li>
        </ul>
        <ul class="header__quizzes {{colorOfHeader}} subHeader tx-al-c">
            <li><a href="/newest/0">جدیدترین ها</a></li>
            <li><a href="/bestest/0">بهترین ها</a></li>
        </ul>

        <!-- Menu -->
        <button type="button" class="header__menu__openBtn {{colorOfHeader}} hideForDesktop">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <div class="header__menu slideMenu-hide hide-for-desktop">
            <button class="header__menu__closeBtn"></button>
            <div class="header__menu__inner">
                <div class="header__menu__inner__category">
                    <h5><a href="/#category">کتگوری ها</a></h5>
                    <ul>
                        <li><a href="/category/movieSeries/0/newest/8">فیلم و سریال</a></li>
                        <li><a href="/category/celebrities/0/newest/8">سلبریتی</a></li>
                        <li><a href="/category/gaming/0/newest/8">گیمینگ</a></li>
                        <li><a href="/category/physiologies/0/newest/8">روانشناسی</a></li>
                    </ul>
                </div>
                <div class="header__menu__inner__nav">
                    <h3>کویز ها</h3>
                    <ul class="header__menu__inner__quizzes tx-al-c">
                        <li><a href="/newest/0">جدیدترین ها</a></li>
                        <li><a href="/bestest/0">بهترین ها</a></li>
                    </ul>
                    <ul>
                        <li><a href="/about">درباه‌ی ما</a></li>
                        <li><a href="/contact">تماس با ما</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </nav>

    <div class="loadingScreen"></div>
</header>


{% block content %} {% endblock content %}

<!-- <adverts class="adverts__bottom darkGls">
    this is a bottom advert - you should make it make you make us money and your fucking welcome
</adverts> -->

<footer class="footer-for-mobile tx-al-c">
    <p class="tx-al-c"> اگه هیجان داری کوئیز های جدید رو سریع تر از بقیه انجام بدی میتونی اینجا تو 8 ثانیه اطلاعاتت رو وارد کنی که سریعتر از هر کسی خبردار بشی </p>
    <button class="newsletter__show" type="button">ثبت نام در خبرنامه</button>

    <div class="newsletter__blurBackground">
        <form class="newsletter fade-out" action="/newsletter" method="post">
            <button class="newsletter__closeBtn"></button>
            <p class="tx-al-c">ایمیلت رو وارد کن و کتگوری مورد علاقه‌ات رو انتخاب کن</p>
            <button class='newsletter__submit' type="button" method="POST">ثبت نام</button>
            <input class="input" name="userEmail" type="email" placeholder='  ایمیل ...' required>
            <input class="input input__userName" name="userName"  type="text" placeholder='  نام ...' minlength="3" maxlength = "15" required>
            <textarea class="newsletter__categoryOptions__selectedByUser" name='chosenCategory'></textarea>
            <div class="newsletter__categoryOptions flex flex-ai-c">
                
                <label for="physiologies">روانشناسی</label>
                <input type="checkbox" name="physiologies" id="physiologies">
        
                <label for="movieSeries">فیلم و سریال</label>
                <input type="checkbox" name="movieSeries " id="movieSeries ">
        
                <label for="gaming">گیمینگ</label>
                <input type="checkbox" name="gaming " id="gaming ">
        
                <label for="celebrities">سلبریتی</label>
                <input type="checkbox" name="celebrities " id="celebrities ">
        
            </div>
            <h5 class="newsletter__message noVis">لطفا حداقل یکی از کتگوری ها را انتخاب کنید</h5>
        </form>
    </div>

    <div>
        <ul class="footer__navbar flex flex-jc-c flex-ai-c">
            <li>
                <a class="header__logo flex flex-jc-sb hideForDesktop" href="/" class="">
                    <img src="/static/img/logo.png" alt="QuizLand | کوئیزلند بهترین وب سایت کوئیز های سرگرمی مانند کوئیز های سلبریتی ها، فیلم و سریال، گیمینگ و کوئیز های روانشناسی و خودشناسی">
                </a>
            </li>
            <li><a href="/#category">کتگوری ها</a></li>
            <li><a href="/about">درباره‌ی ما</a></li>
            <li><a href="/contact">تماس با ما</a></li>
        </ul>
        <ul class="footer__detail flex flex-jc-c flex-ai-c">
            <li><a href="/adverts">تبلیغات</a></li>
            <li><a href="/privacy-policy">حریم خصوصی</a></li>
            <li><a href="/">راهنما</a></li>
            <li><a href="/support">حمایت</a></li>
        </ul>
    </div>
    <div class="footer__copyRight">
        <h5>
            1400-2021 © تمام حقوق به کوئیزلند تعلق دارد
            <br/>
            <a href="#">Mt-Code</a> : ساخته شده توسط 
        </h5>
    </div>

    <script src="{{ url_for('static', filename = 'js/ScrollTrigger.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/elements.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/quiz.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/gsap.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/script.js') }}"></script>
    <!-- <script src="{{ url_for('static', filename = 'js/script-min.js') }}"></script> -->
</footer>


</html>