{% extends './layout.html' %}
{% block content %}

<div class="newest-mostViews">
    <h3>جدیدترین کوئیز ها</h3>

    {% for quiz in grabLimitedQuizzesForNewestPage %}
        <a class="newest-mostViews__item" href="{{quiz.href}}">{{ quiz.title_far }}</a>
    {% endfor %}
</div>

<div class="pageTravel flex flex-jc-c flex-ai-c">
    <a class="pageTravel__arwLast" href="">
        <!-- &lt-- -->
        <img class="flex flex-jc-c flex-ai-c" src="/static/img/travelPage-arw.png" alt="">
    </a>
    <div class="pageTravel__pages flex flex-jc-c flex-ai-c">
        <a class="pageTravel__pages__last" href=""></a>
        <span class="pageTravel__pages__curr"></span>
        <a class="pageTravel__pages__next" href=""></a>
        <a class="pageTravel__pages__nextTwo" href=""></a>
        <div class="finalPage">
            <span>.....</span>
            <a>
                {{ finalPage }}
            </a>
        </div>
    </div>
    <a class="pageTravel__arwNext" href="">
        <img class="flex flex-jc-c flex-ai-c" src="/static/img/travelPage-arw.png" alt="">
    </a>
</div>

{% endblock content %}