{% extends './layout.html' %}
{% block content %}

<body style="background-image: url('/static/img/Bg-quizzes/{{ quizDetail.background }}');">
    <div class="quiz__head tx-al-c">
        <h1>{{ quizDetail.title_eng }}</h1>
        <h3>{{ quizDetail.title_far }}</h3>
        <h5>سوال: ?</h5>
        <div class="quiz__autoQuestionChangerSwitch flex flex-jc-c flex-ai-c">
            <h5>تغییر خودکار</h5>
            <div class="quiz__autoQuestionChangerSwitch__btn">
                <div class="quiz__autoQuestionChangerSwitch__innerBtn"></div>

            </div>

        </div>
    </div>

    <div class="quiz__questions tx-al-c" tag="quiz">

        <img class="quiz__questionChanger quiz__questionChanger__next" src="/static/img/arw.svg" alt="">
        <img class="quiz__questionChanger quiz__questionChanger__last" src="/static/img/arw.svg" alt="">

        <div class="quiz__hider">
            {% for questionDetail in quiz_Question %}

            <div class="quiz__container darkGls">
                <p class='quiz__question'>{{ questionDetail.question }}</p>
                <div class="flex flex-jc-c">
                    <form class='quiz__4option' data='{{ questionDetail.answer }}' action="">
                        <input type="radio" name="answer" id="{{ questionDetail.id }}-1" value = 'd3Jvbmc='><label for="{{ questionDetail.id }}-1"> {{ questionDetail.option_1 }} </label>
                        <input type="radio" name="answer" id="{{ questionDetail.id }}-2" value = 'dW5jb3JyZWN0'><label for="{{ questionDetail.id }}-2"> {{ questionDetail.option_2 }} </label>
                        <input type="radio" name="answer" id="{{ questionDetail.id }}-3" value = 'bm9vaw=='><label for="{{ questionDetail.id }}-3"> {{ questionDetail.option_3 }} </label>
                        <input type="radio" name="answer" id="{{ questionDetail.id }}-4" value = 'YmFkb25l'><label for="{{ questionDetail.id }}-4"> {{ questionDetail.option_4 }} </label>
                    </form>
                </div>
            </div>

            {% endfor %} 
        </div>

        <div class="quiz__questionCounter flex flex-jc-c flex-ai-c">
            <div class="quiz__questionCounter__totalAnswered">?</div>
            <div class="quiz__questionCounter__divider">&nbsp/&nbsp</div>
            <div class="quiz__questionCounter__totalQuestions">?</div>
        </div>
    </div>
</body>

{% endblock content %}