{% extends './layout.html' %}
{% block content %}

<!-- <adverts class="adverts adverts__left hideForMobile">
</adverts>

<adverts class="adverts adverts__right hideForMobile">
</adverts> -->

<div class="countingResult loadingScreen fade-out">
    ___ در حال محاسبه نتیجه کوئیز___
</div>
<body style="background-image: url('/static/img/Bg-quizzes/{{ quizDetail.background }}');">
    
    <!-- <div class="adverts__top">
    </div> -->
    
    <div class="quiz__head tx-al-c" id="quiz__top">
        <h1>{{ quizDetail.title_far }}</h1>
        <div class="flex flex-jc-c flex-ai-c">
            <h5>تعداد سوال ها: ?</h5>
            <h5>{{ (quizDetail.publish | string)[0:10] }}</h5>
        </div>

        <div class="quiz__autoQuestionChangerSwitch center flex flex-jc-c flex-ai-c">
            <h5>تغییر خودکار</h5>
            <div class="quiz__autoQuestionChangerSwitch__btn">
                <div class="quiz__autoQuestionChangerSwitch__innerBtn"></div>
            </div>
        </div>
        
        <div class="quiz__questionChanger__container center">
            <button class="quiz__questionChanger quiz__questionChanger__next fade-in"></button>
            <button class="quiz__questionChanger quiz__questionChanger__last fade-in"></button>
        </div>
    </div>

    <div class="quiz__questionCounter flex flex-jc-c flex-ai-c">
        <div class="quiz__questionCounter__totalAnswered">?</div>
        &nbspسوال شماره
    </div>

    <div class="quiz__questions tx-al-c" tag="pointy">

        <div class="quiz__hider">
            {% for questionDetail in quiz_Question %}

            <div class="quiz__container darkGls">
                <p class='quiz__question'>{{ questionDetail.question }}</p>
                <div class="flex flex-jc-c">
                    <form class='quiz__options quiz__options__text' action="">

                        {% if questionDetail.op_pt_1 != None %}
                            <input type="radio" name="answer" id="{{ questionDetail.id }}-1" data = "{{ questionDetail.op_pt_1.split('-')[1] }}"><label class="quiz__options__textLabel" for="{{ questionDetail.id }}-1"> {{ questionDetail.op_pt_1.split('-')[0] }}</label>
                        {% endif %}
                        {% if questionDetail.op_pt_2 != None %}
                            <input type="radio" name="answer" id="{{ questionDetail.id }}-2" data = "{{ questionDetail.op_pt_2.split('-')[1] }}"><label class="quiz__options__textLabel" for="{{ questionDetail.id }}-2">{{ questionDetail.op_pt_2.split('-')[0] }}</label>
                        {% endif %}
                        {% if questionDetail.op_pt_3 != None %}
                            <input type="radio" name="answer" id="{{ questionDetail.id }}-3" data = "{{ questionDetail.op_pt_3.split('-')[1] }}"><label class="quiz__options__textLabel" for="{{ questionDetail.id }}-3">{{ questionDetail.op_pt_3.split('-')[0] }}</label>
                        {% endif %}
                        {% if questionDetail.op_pt_4 != None %}
                            <input type="radio" name="answer" id="{{ questionDetail.id }}-4" data = "{{ questionDetail.op_pt_4.split('-')[1] }}"><label class="quiz__options__textLabel" for="{{ questionDetail.id }}-4">{{ questionDetail.op_pt_4.split('-')[0] }}</label>
                        {% endif %}
                        {% if questionDetail.op_pt_5 != None %}
                            <input type="radio" name="answer" id="{{ questionDetail.id }}-5" data = "{{ questionDetail.op_pt_5.split('-')[1] }}"><label class="quiz__options__textLabel" for="{{ questionDetail.id }}-5"> 
                                {{ questionDetail.op_pt_5.split('-')[0] }}
                            </label>
                        {% endif %}
                        {% if questionDetail.op_pt_6 != None %}
                            <input type="radio" name="answer" id="{{ questionDetail.id }}-6" data = "{{ questionDetail.op_pt_6.split('-')[1] }}"><label class="quiz__options__textLabel" for="{{ questionDetail.id }}-6"> 
                                {{ questionDetail.op_pt_6.split('-')[0] }}
                            </label>
                        {% endif %}
                        {% if questionDetail.op_pt_7 != None %}
                            <input type="radio" name="answer" id="{{ questionDetail.id }}-7" data = "{{ questionDetail.op_pt_7.split('-')[1] }}"><label class="quiz__options__textLabel" for="{{ questionDetail.id }}-7">{{ questionDetail.op_pt_7.split('-')[0] }}</label>
                        {% endif %}
                        {% if questionDetail.op_pt_8 != None %}
                            <input type="radio" name="answer" id="{{ questionDetail.id }}-8" data = "{{ questionDetail.op_pt_8.split('-')[1] }}"><label class="quiz__options__textLabel" for="{{ questionDetail.id }}-8">{{ questionDetail.op_pt_8.split('-')[0] }}</label>
                        {% endif %}
                        {% if questionDetail.op_pt_9 != None %}
                            <input type="radio" name="answer" id="{{ questionDetail.id }}-9" data = "{{ questionDetail.op_pt_9.split('-')[1] }}"><label class="quiz__options__textLabel" for="{{ questionDetail.id }}-9">{{ questionDetail.op_pt_9.split('-')[0] }}</label>
                        {% endif %}
                        {% if questionDetail.op_pt_10 != None %}
                            <input type="radio" name="answer" id="{{ questionDetail.id }}-10" data = "{{ questionDetail.op_pt_10.split('-')[1] }}"><label class="quiz__options__textLabel" for="{{ questionDetail.id }}-10">{{ questionDetail.op_pt_10.split('-')[0] }}</label>
                        {% endif %}

                    </form>
                </div>
            </div>

            {% endfor %} 
        </div>
    </div>

    <!-- <div class="adverts__bottom">
    </div> -->

</body>

{% endblock content %}