{% extends './layout.html' %}
{% block content %}

<!-- <adverts class="adverts adverts__left hideForMobile">
</adverts>

<adverts class="adverts adverts__right hideForMobile">
</adverts> -->

<div class="countingResult fade-out">
    ___ در حال محاسبه نتیجه کوئیز___
</div>
<body style="background-image: url('/static/img/Bg-quizzes/{{ quizDetail.background }}');">
    
    <!-- <div class="adverts__top">
    </div> -->
    
    <div class="quiz__head tx-al-c" id="quiz__top">
        <h1>{{ quizDetail.title_eng }}</h1>
        <h3>{{ quizDetail.title_far }}</h3>
        <div class="flex flex-jc-c flex-ai-c">
            <h5>تعداد سوال ها: ?</h5>
            <h5>{{ (quizDetail.publish | string)[0:10] }}</h5>
        </div>
        
        <div class="quiz__autoQuestionChangerSwitch center flex flex-jc-c flex-ai-c">
            <h5>تغییر خودکار</h5>
            <div class="quiz__autoQuestionChangerSwitch__btn">
                <div class="quiz__autoQuestionChangerSwitch__innerBtn"></div>
            </div>
        </div>

        <div class="quiz__questionChanger__container center">
            <button class="quiz__questionChanger quiz__questionChanger__next fade-in"></button>
        </div>
    </div>

    <div class="quiz__questionCounter flex flex-jc-c flex-ai-c">
        <div class="quiz__questionCounter__totalAnswered">?</div>
        &nbspسوال شماره
    </div>

    <div class="quiz__questions flex flex-jc-c tx-al-c" tag="quiz">

        <div class="quiz__hider">
            {% for questionDetail in quiz_Question %}

            <div class="quiz__container darkGls">
                {% set imgOrText = questionDetail.question.split('.') %}
                {% if imgOrText[-1] == 'jpg' %}
                    <img class="quiz__imgQuestion" src="/static/img/ImgQuizzes/{{ questionDetail.question }}" loading='lazy'>
                {% else %}
                    <p class='quiz__question'> {{ questionDetail.question }} </p>
                {% endif %}
                
                {% set imgOrText = questionDetail.option_1.split('.') %}
                {% if imgOrText[-1] == 'jpg' %}
                    <div class="flex flex-jc-c">
                        <form class='quiz__options quiz__options__img' data='{{ questionDetail.answer }}' action="">
                            <input type="radio" name="answer" id="{{ questionDetail.id }}-1" value = 'd3Jvbmc='><label class="quiz__options__imgLabel" id="{{ questionDetail.id }}-1" for="{{ questionDetail.id }}-1"> <img class="quiz__imgOption" src="/static/img/ImgQuizzes/{{ questionDetail.option_1 }}" loading='lazy'> </label>
                            <input type="radio" name="answer" id="{{ questionDetail.id }}-2" value = 'dW5jb3JyZWN0'><label class="quiz__options__imgLabel" id="{{ questionDetail.id }}-2" for="{{ questionDetail.id }}-2"> <img class="quiz__imgOption" src="/static/img/ImgQuizzes/{{ questionDetail.option_2 }}" loading='lazy'> </label>
                            <input type="radio" name="answer" id="{{ questionDetail.id }}-3" value = 'bm9vaw=='><label class="quiz__options__imgLabel" id="{{ questionDetail.id }}-3" for="{{ questionDetail.id }}-3"> <img class="quiz__imgOption" src="/static/img/ImgQuizzes/{{ questionDetail.option_3 }}" loading='lazy'> </label>
                            <input type="radio" name="answer" id="{{ questionDetail.id }}-4" value = 'YmFkb25l'><label class="quiz__options__imgLabel" id="{{ questionDetail.id }}-4" for="{{ questionDetail.id }}-4"> <img class="quiz__imgOption" src="/static/img/ImgQuizzes/{{ questionDetail.option_4 }}" loading='lazy'> </label>
                        </form>
                    </div>
                {% else %}
                    <div class="flex flex-jc-c">
                        <form class='quiz__options quiz__options__text' data='{{ questionDetail.answer }}' action="">
                            <input type="radio" name="answer" id="{{ questionDetail.id }}-1" value = 'd3Jvbmc='><label class="quiz__options__textLabel" id="{{ questionDetail.id }}-1" for="{{ questionDetail.id }}-1"> {{ questionDetail.option_1 }} </label>
                            <input type="radio" name="answer" id="{{ questionDetail.id }}-2" value = 'dW5jb3JyZWN0'><label class="quiz__options__textLabel" id="{{ questionDetail.id }}-2" for="{{ questionDetail.id }}-2"> {{ questionDetail.option_2 }} </label>
                            <input type="radio" name="answer" id="{{ questionDetail.id }}-3" value = 'bm9vaw=='><label class="quiz__options__textLabel" id="{{ questionDetail.id }}-3" for="{{ questionDetail.id }}-3"> {{ questionDetail.option_3 }} </label>
                            <input type="radio" name="answer" id="{{ questionDetail.id }}-4" value = 'YmFkb25l'><label class="quiz__options__textLabel" id="{{ questionDetail.id }}-4" for="{{ questionDetail.id }}-4"> {{ questionDetail.option_4 }} </label>
                        </form>
                    </div>
                {% endif %}
                
                <div class="quiz__answerImGif noVis space-sm">
                    <img src="/static/img/imGif_quizzes/{{questionDetail.answer_imGif}}" alt="">
                </div>

                <div class="quiz__answerText noVis">
                    {{questionDetail.answer_text}}
                </div>
                
            </div>

            {% endfor %} 
        </div>

        <!-- <div class="quiz__questionCounter flex flex-jc-c flex-ai-c">
            <div class="quiz__questionCounter__totalAnswered">?</div>
            <div class="quiz__questionCounter__divider">&nbsp/&nbsp</div>
            <div class="quiz__questionCounter__totalQuestions">?</div>
        </div> -->

    </div>

    <!-- <div class="adverts__bottom">
    </div> -->
    
</body>

{% endblock content %}