{% extends './layout.html' %}
{% block content %}

<div class="searchResult">
    <h4 class="beforeAfterDecor">{{ userSearchInput }} &nbsp : &nbsp نتایج جستجو</h4>
    
    <div class="searchResult__category flex">

        <h3>کتگوری‌ها</h3>
        <h4 class="searchResult__category__item__notFound"></h4>
        {% for category in userSearchInputInCategoriesDb_eng %}
        <div class="searchResult__category__item">
            {% set img = (category.title_eng).split(' ') %}
            <a href="{{category.href}}/0/newest/8">
                <img src="/static/img/Thn-Category/{{img[0]}}-{{img[1]}}.jpg" alt="{{ category.title_eng }} | کوئیز های {{ category.title_far }}">
            </a>
            <h5> {{ category.title_eng }} </h5>
        </div>
        {% endfor %}
    
        {% for category in userSearchInputInCategoriesDb_far %}
        <div class="searchResult__category__item">
            {% set img = (category.title_eng).split(' ') %}
            <a href="{{category.href}}/0/newest/8">
                <img src="/static/img/Thn-Category/{{img[0]}}-{{img[1]}}.jpg" alt="{{ category.title_eng }} | کوئیز های {{ category.title_far }}">
            </a>
            <h5> {{ category.title_eng }} </h5>
        </div>
        {% endfor %}
        
    </div>
    
    <div class="searchResult__quizzes">
        
        <h3>کوئیز‌ها</h3>
        <h4 class="searchResult__quizzes__item__notFound"></h4>
        {% for quiz in userSearchInputInQuizzesDb_far %}
            <a class="searchResult__quizzes__item" href="{{quiz.href}}">{{ quiz.title_far }}</a>
        {% endfor %}

        {% for quiz in userSearchInputInQuizzesDb_eng %}
            <a class="searchResult__quizzes__item" href="{{quiz.href}}">{{ quiz.title_far }}</a>
        {% endfor %}

        {% for quiz in userSearchInputInQuizzes4OptionDb_far %}
            <a class="searchResult__quizzes__item" href="{{quiz.href}}">{{ quiz.title_far }}</a>
        {% endfor %}

        {% for quiz in userSearchInputInQuizzes4OptionDb_eng %}
            <a class="searchResult__quizzes__item" href="{{quiz.href}}">{{ quiz.title_far }}</a>
        {% endfor %}
    
        <div class="searchResult__quizzes__seeMore"> 
            <a href="/search/{{userSearchInput}}">
               ... دیدن همه
            </a>
        </div>
    </div>
</div>

{% endblock content %}