{% extends './layout.html' %}
{% block content %}

<div class="searchResult">
    <h5>{{ userSearchInput }} &nbsp : &nbsp نتایج جستجو</h5>
    
    <div class="searchResult__category flex">
        <h3>کتگوری‌ها</h3>
        <h4 class="searchResult__category__item__notFound"></h4>
        {% for category in userSearchInputInCategoriesDb_eng %}
        <div class="searchResult__category__item">
            <a href="{{category.href}}">
                <img src="/static/img/{{ category.img }}" alt="">
            </a>
            <h5> {{ category.title_eng }} </h5>
        </div>
        {% endfor %}
    
        {% for category in userSearchInputInCategoriesDb_far %}
        <div class="searchResult__category__item">
            <a href="{{category.href}}">
                <img src="/static/img/{{ category.img }}" alt="">
            </a>
            <h5> {{ category.title_eng }} </h5>
        </div>
        {% endfor %}
    </div>
    
    <div class="searchResult__quizzes">
        <h3>کوئیز‌ها</h3>
        <h4 class="searchResult__quizzes__item__notFound"></h4>
        {% for quiz in userSearchInputInQuizzesDb_eng %}
            <a class="searchResult__quizzes__item" href="{{quiz.href}}">{{ quiz.title_far }}</a>
        {% endfor %}
        {% for quiz in userSearchInputInQuizzesDb_far %}
            <a class="searchResult__quizzes__item" href="{{quiz.href}}">{{ quiz.title_far }}</a>
        {% endfor %}

        <div class="space-sm"></div>
    
        <div class="searchResult__quizzes__seeMore"> 
            <a href="/search/{{userSearchInput}}">
               ... دیدن همه
            </a>
        </div>
    </div>
</div>

{% endblock content %}