{% extends './layout.html' %}
{% block content %}

<div class="basicTwoColumn center tx-al-c">
    <h3 class="tx-al-c">{{title}} {{ category }}</h3>

    <div class="basicTwoColumn__sort flex flex-jc-c flex-ai-c">
        <div class="basicTwoColumn__container">
            {% for quiz in sortPointy %}
                {% set innerCategory = (quiz.innerCategory | replace(" ", "-", 99)) | safe %}
                {% set title = (quiz.title_far | replace(" ", "-", 99)) | safe %}
                <a class="basicTwoColumn__item flex flex-jc-fe" href="/quiz_2/{{quiz.category}}/{{innerCategory}}/{{title}}">{{ quiz.title_far }}</a>
            {% endfor %}
        </div>

        <div class="divider hideForDesktop"></div>

        <div class="basicTwoColumn__container">
            {% for quiz in sort %}
                {% set innerCategory = (quiz.innerCategory | replace(" ", "-", 99)) | safe %}
                {% set title = (quiz.title_far | replace(" ", "-", 99)) | safe %}
                <a class="basicTwoColumn__item flex flex-jc-fe" href="/quiz/{{quiz.category}}/{{innerCategory}}/{{title}}">{{ quiz.title_far }}</a>
            {% endfor %}
        </div>
    </div>

</div>

{{ pageTravel | safe }}

{% endblock content %}