{% extends './layout.html' %}
{% block content %}

<div class="basicPage center">
    <h3>{{title}} {{ category }}</h3>

    {% for quiz in sort %}
        {% set innerCategory = (quiz.innerCategory | replace(" ", "-", 99)) | safe %}
        {% set title = (quiz.title_far | replace(" ", "-", 99)) | safe %}
        <a class="newest-mostViews__item flex flex-jc-fe" href="/quiz/{{quiz.category}}/{{innerCategory}}/{{title}}">{{ quiz.title_far }}</a>
    {% endfor %}
</div>

{{ pageTravel | safe }}

{% endblock content %}